All Flows March21
[{"id":"5070a2dd.9040bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b3e3f7a.0357f","type":"tab","label":"Light Levels"},{"id":"fbc89743.be5a68","type":"tab","label":"Kitchen LEDs"},{"id":"b30b99da.aab058","type":"tab","label":"Mote Phat","disabled":false},{"id":"55a9dafd.794544","type":"tab","label":"User Interface","disabled":true,"info":""},{"id":"ba0c44d1.a4a2a8","type":"tab","label":"Temps","disabled":true,"info":""},{"id":"b48bac2f.f9e9f","type":"tab","label":"Sonoff1","disabled":false,"info":""},{"id":"b24d5d9.3e913a","type":"tab","label":"Management","disabled":false,"info":""},{"id":"d641d098.fc03","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"479657e.4c78ca8","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"ce54f264.2d1e6","type":"tab","label":"Zigbee2MQTT Admin Panel","disabled":false,"info":""},{"id":"e250bef7.8e1b7","type":"tab","label":"ZigbeeTemps","disabled":false,"info":""},{"id":"46666ef6.cb2bc","type":"tab","label":"Lidl Testing","disabled":false,"info":""},{"id":"f7a8280c.2c5a18","type":"tab","label":"Lidl","disabled":false,"info":""},{"id":"1d7f96d0.a5ef29","type":"subflow","name":"Network Map (4)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"c2287cf1.f1006","type":"subflow","name":"Pairing Notifications (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"ef334060.da584","type":"subflow","name":"Devices (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"745da55.b69b05c","type":"subflow","name":"Status (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"4b20a347.6179ec","type":"subflow","name":"Logging Level (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"321dbafd.bfadd6","type":"subflow","name":"Remove Device (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"8bff0e3.fceb9f","type":"subflow","name":"Permit Join (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"e084a6a.4631f58","type":"subflow","name":"Rename Device (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"703f2245.e4551c","type":"ui_tab","name":"Charts","icon":"dashboard","order":3},{"id":"a9d48c88.3304d","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"e66aef86.75fd8","type":"ui_tab","name":"Temperature","icon":"dashboard","order":2},{"id":"e98eb6ff.959f78","type":"ui_tab","name":"Management","icon":"dashboard","order":4},{"id":"35eac600.1a2cea","type":"ui_group","name":"Temperature","tab":"703f2245.e4551c","order":1,"disp":true,"width":"10"},{"id":"97937504.8fdee8","type":"ui_group","name":"Light","tab":"703f2245.e4551c","order":2,"disp":true,"width":"10"},{"id":"cb22e126.4c3cb","type":"ui_group","name":"Status","tab":"a9d48c88.3304d","order":1,"disp":true,"width":"10"},{"id":"394970e8.eeb7b","type":"ui_group","name":"Light Levels","tab":"a9d48c88.3304d","order":2,"disp":true,"width":"10"},{"id":"84567535.c79908","type":"ui_group","name":"Temps","tab":"e66aef86.75fd8","order":1,"disp":true,"width":"16"},{"id":"aa7e6c16.ae98","type":"ui_group","name":"Battery","tab":"e66aef86.75fd8","order":2,"disp":true,"width":"14"},{"id":"816877db.4f1978","type":"ui_group","name":"Control","tab":"a9d48c88.3304d","order":3,"disp":true,"width":"10"},{"id":"b0db99fe.868468","type":"ui_group","name":"LightMeter","tab":"e98eb6ff.959f78","order":3,"disp":true,"width":"10"},{"id":"48de9d9d.8d9e14","type":"ui_group","name":"ST","tab":"e98eb6ff.959f78","order":5,"disp":true,"width":"10"},{"id":"b81c50a8.7ba9c","type":"ui_group","name":"BT","tab":"e98eb6ff.959f78","order":4,"disp":true,"width":"10"},{"id":"8522a49f.8a64f8","type":"ui_group","name":"LT","tab":"e98eb6ff.959f78","order":6,"disp":true,"width":"10"},{"id":"17c60dcb.4acf92","type":"ui_group","name":"KT","tab":"e98eb6ff.959f78","order":7,"disp":true,"width":"10"},{"id":"9769633c.3edf5","type":"ui_group","name":"OT","tab":"e98eb6ff.959f78","order":8,"disp":true,"width":"10"},{"id":"4bbe7f5a.e6cd6","type":"ui_group","name":"Kitchen PIR","tab":"e98eb6ff.959f78","order":2,"disp":true,"width":"10"},{"id":"5a918802.758f28","type":"ui_group","name":"Switches","tab":"e98eb6ff.959f78","order":1,"disp":true,"width":"10"},{"id":"e09e8f71.0de0d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6fbb3a14.e7a9b4","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"InfluxDBsensors","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"c94776c6.202568","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testing","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"25691028.52c6a","type":"ui_group","z":"ce54f264.2d1e6","name":"Devices","tab":"8a847acd.0763c8","order":1,"disp":true,"width":"12","collapse":false},{"id":"40573a59.6ec0c4","type":"ui_group","name":"Status","tab":"8a847acd.0763c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4cb35853.cdcde8","type":"ui_group","z":"ce54f264.2d1e6","name":"Logging Level","tab":"8a847acd.0763c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"bbb3596e.f2c6a8","type":"ui_group","z":"ce54f264.2d1e6","name":"Remove Device","tab":"8a847acd.0763c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"7b37feaf.b63ae","type":"ui_group","name":"Permit Join","tab":"8a847acd.0763c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"cae262ab.45512","type":"mqtt-broker","name":"","broker":"192.168.0.5","port":"8883","tls":"9895f781.42a5e8","clientid":"","usetls":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9895f781.42a5e8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false},{"id":"241ead91.463d32","type":"ui_group","name":"Rename Device","tab":"8a847acd.0763c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"8a847acd.0763c8","type":"ui_tab","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"72d8acbf.3cdff4","type":"mqtt in","z":"5070a2dd.9040bc","name":"MQTTTransmit","topic":"PiForLiam/Transmit/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":60,"wires":[["9bb7c6c0.c38f68"]]},{"id":"a2201456.019c58","type":"mqtt in","z":"5070a2dd.9040bc","name":"MQTTReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":120,"wires":[["777b8723.3380f8"]]},{"id":"9bb7c6c0.c38f68","type":"debug","z":"5070a2dd.9040bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":60,"wires":[]},{"id":"777b8723.3380f8","type":"debug","z":"5070a2dd.9040bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":140,"wires":[]},{"id":"4448397c.8cbb48","type":"function","z":"6b3e3f7a.0357f","name":"PrepareLightLevelsDB","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    device=2;\n    time=new Date().toString();\n    value=msg.payload.slice(4,9);\n    msg.topic=\"INSERT INTO lightLevel(device,time,value) VALUES (\" + device +\",'\" + time + \"',\" + value + \")\";\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":387.99998474121094,"y":231.0000228881836,"wires":[["4fa855ac.54359c","f2970737.37b268"],["6cf65a2c.d589e4"]]},{"id":"76144e2d.961c4","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"LL","payload":"LVAL4.296","payloadType":"str","x":134.0023193359375,"y":172.02777862548828,"wires":[["4448397c.8cbb48"]]},{"id":"4fa855ac.54359c","type":"debug","z":"6b3e3f7a.0357f","name":"dbSQL","active":false,"console":"false","complete":"true","x":646.0092926025391,"y":142.80555725097656,"wires":[]},{"id":"95933e47.f1445","type":"mqtt in","z":"6b3e3f7a.0357f","name":"MQTTLightLevel","topic":"PiForLiam/Received/LL","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":122.0023193359375,"y":225.8912124633789,"wires":[["4448397c.8cbb48"]]},{"id":"6cf65a2c.d589e4","type":"debug","z":"6b3e3f7a.0357f","name":"dbLLBattery","active":false,"console":"false","complete":"true","x":652.7592620849609,"y":283.91666412353516,"wires":[]},{"id":"f2970737.37b268","type":"function","z":"6b3e3f7a.0357f","name":"checkDayNight","func":"value=msg.payload.slice(4,9);\n//var v = context.get('oldValue') || 0;\n//var d = context.get('daynight') || \"night\";\n//context.set('oldValue',v);\n//context.set('daynight',d);\nmsg.payload=null;\nif (value < 40) {\n    if (context.get('oldValue') < 40) {\n        if (context.get('daynight') ===\"day\") {\n            msg.payload = \"night\";\n        }    \n        context.set('daynight', \"night\");\n    }\n} else if (value > 55) {\n    if (context.get('oldValue') > 55) {\n        if (context.get('daynight') === \"night\") {\n            msg.payload = \"day\";\n        }    \n        context.set('daynight', \"day\");\n    }\n}\ncontext.set('oldValue', value);\nif (msg.payload !== null) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":663.7615814208984,"y":93.96295928955078,"wires":[["40b4a25b.9c36dc"]]},{"id":"40b4a25b.9c36dc","type":"mqtt out","z":"6b3e3f7a.0357f","name":"DayNight","topic":"PiForLiam/daynight/","qos":"2","retain":"","broker":"15b941ac.36365e","x":840.9999847412109,"y":94,"wires":[]},{"id":"88f7b299.e588f","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"LVAL4.296","payloadType":"str","x":377.75926208496094,"y":90.65277862548828,"wires":[["f2970737.37b268"]]},{"id":"9b85ff5f.4822a","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"LVAL94.29","payloadType":"str","x":374.75694274902344,"y":49.65740966796875,"wires":[["f2970737.37b268"]]},{"id":"e4bdb81b.db2208","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"BATT2.70-","payloadType":"str","x":116.76388549804688,"y":128.65045928955078,"wires":[["4448397c.8cbb48"]]},{"id":"1a1ba15a.d8302f","type":"mqtt in","z":"fbc89743.be5a68","name":"MQTTKitchenPIR","topic":"PiForLiam/Received/KP","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":164.76158142089844,"y":111.52083587646484,"wires":[["2d9177d4.d7cfd8"]]},{"id":"6f792430.521cec","type":"mqtt out","z":"fbc89743.be5a68","name":"MQTTKitchenRelayOut","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"15b941ac.36365e","x":850.7639007568359,"y":222.03705596923828,"wires":[]},{"id":"2d9177d4.d7cfd8","type":"switch","z":"fbc89743.be5a68","name":"SwitchKitchenPIR","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BATT","vt":"str"},{"t":"cont","v":"BUTTONAON","vt":"str"},{"t":"cont","v":"BUTTONAOF","vt":"str"}],"checkall":"true","outputs":3,"x":395.75694274902344,"y":114.16667175292969,"wires":[["2b9649d9.831906"],["697325dc.37c2dc","6211d245.f68a2c"],["697325dc.37c2dc","6211d245.f68a2c"]]},{"id":"2b9649d9.831906","type":"debug","z":"fbc89743.be5a68","name":"dbBatteryKitchenPIR","active":false,"console":"false","complete":"payload","x":619.7616119384766,"y":44.206016540527344,"wires":[]},{"id":"697325dc.37c2dc","type":"function","z":"fbc89743.be5a68","name":"ControlKitchenLights","func":"state = msg.payload.slice(7,9);\ntime=new Date();\nswitch (state) {\n    case \"ON\":\n        msg.payload=\"aKLRELAYAON-\";\n        flow.set('button',\"On\");\n        flow.set('nmTime',time);\n        break;\n    case \"OF\":\n        flow.set('button',\"NoMotion\");\n        flow.set('nmTime',time);\n        msg = null;\n        break;\n    default:\n        msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["e8acce2b.83e86","6f792430.521cec"]]},{"id":"ddbc3f3e.64ee4","type":"inject","z":"fbc89743.be5a68","name":"injectCheckKitchenLights","repeat":"1","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":192.75926208496094,"y":303.65047454833984,"wires":[["ba397274.1a1d7"]]},{"id":"ba397274.1a1d7","type":"function","z":"fbc89743.be5a68","name":"CheckKitchenLights","func":"time=new Date();\nmsg.payload = null;\nif (flow.get('button') == \"NoMotion\") {\n    nmTime = flow.get('nmTime');\n    if ((time-nmTime) > 45000) {\n        msg.payload=\"aKLRELAYAOFF\";\n        flow.set('button',\"OFF\");\n    }    \n}\nif (msg.payload !== null) {\n    return msg;\n}","outputs":1,"noerr":0,"x":589.7616119384766,"y":267.1111068725586,"wires":[["5f60f8d7.5226b8","6f792430.521cec"]]},{"id":"e8acce2b.83e86","type":"debug","z":"fbc89743.be5a68","name":"dbAfterControl","active":false,"console":"false","complete":"payload","x":843.7569427490234,"y":180.2083511352539,"wires":[]},{"id":"e54614b6.040f68","type":"inject","z":"fbc89743.be5a68","name":"injectButtonOn","repeat":"","crontab":"","once":false,"topic":"","payload":"BUTTONAON","payloadType":"str","x":148.75462341308594,"y":27.65509033203125,"wires":[["2d9177d4.d7cfd8"]]},{"id":"cbf595d.53c0c68","type":"inject","z":"fbc89743.be5a68","name":"injectButtonOff","repeat":"","crontab":"","once":false,"topic":"","payload":"BUTTONAOF","payloadType":"str","x":131.76388549804688,"y":69.65740203857422,"wires":[["2d9177d4.d7cfd8"]]},{"id":"6211d245.f68a2c","type":"debug","z":"fbc89743.be5a68","name":"dbBefore","active":false,"console":"false","complete":"payload","x":614.7639007568359,"y":111.87963104248047,"wires":[]},{"id":"4595ac17.e49704","type":"debug","z":"fbc89743.be5a68","name":"dbFlownmTime","active":false,"console":"false","complete":"topic","x":794.7639007568359,"y":357.87271881103516,"wires":[]},{"id":"679babe8.16a124","type":"function","z":"fbc89743.be5a68","name":"PrepFlowVariables","func":"time = new Date();\nmsg.payload = flow.get('button');\nnmTime = flow.get('nmTime');\nmsg.topic = (time-nmTime)/1000;\nreturn [msg];","outputs":"1","noerr":0,"x":581.7639312744141,"y":326.15047454833984,"wires":[["8f071b4b.a35708","4595ac17.e49704"]]},{"id":"8f071b4b.a35708","type":"debug","z":"fbc89743.be5a68","name":"dbFlowButton","active":false,"console":"false","complete":"payload","x":798.7546234130859,"y":317.4745559692383,"wires":[]},{"id":"a7944900.0318c8","type":"inject","z":"fbc89743.be5a68","name":"injectCheckFlows","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":254.76158142089844,"y":346.9838180541992,"wires":[["679babe8.16a124"]]},{"id":"5f60f8d7.5226b8","type":"debug","z":"fbc89743.be5a68","name":"dbAfterCheck","active":false,"console":"false","complete":"payload","x":795.7569732666016,"y":274.6227035522461,"wires":[]},{"id":"915f4fd1.971fc","type":"mqtt in","z":"b30b99da.aab058","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":172.3333282470703,"y":66.33332824707031,"wires":[["cd673f34.2b08f","1f8a540d.5e744c"]]},{"id":"cd673f34.2b08f","type":"function","z":"b30b99da.aab058","name":"PrepDNTweet","func":"t=new Date().toString();\ntime = t.slice(15,28);\nif (msg.payload == \"day\") {\n    msg.payload = (\"LL says it's day at \" + time);\n}\nif (msg.payload == \"night\") {\n    msg.payload = (\"LL says it's night at \" + time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.3333282470703,"y":66.13887023925781,"wires":[[]]},{"id":"1f8a540d.5e744c","type":"function","z":"b30b99da.aab058","name":"PrepMotePhat","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"off\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"on\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.3263702392578,"y":115.81248474121094,"wires":[["a05bed2b.296c9","d4cdcf5.67dcf3"]]},{"id":"a05bed2b.296c9","type":"mqtt out","z":"b30b99da.aab058","name":"mqttMotePhat","topic":"PiforLiam/motephat","qos":"2","retain":"","broker":"15b941ac.36365e","x":560.3310394287109,"y":115.76155090332031,"wires":[]},{"id":"b4a6fa.b6159908","type":"inject","z":"b30b99da.aab058","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"day","payloadType":"str","x":124.33563232421875,"y":175.4536895751953,"wires":[["1f8a540d.5e744c"]]},{"id":"917dd789.5d8658","type":"inject","z":"b30b99da.aab058","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"night","payloadType":"str","x":101.32637023925781,"y":223.4513702392578,"wires":[["1f8a540d.5e744c"]]},{"id":"d4cdcf5.67dcf3","type":"debug","z":"b30b99da.aab058","name":"","active":false,"console":"false","complete":"false","x":528.3287200927734,"y":180.38426208496094,"wires":[]},{"id":"842ee7ed.65b928","type":"inject","z":"b30b99da.aab058","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"BRIGHT 0.2","payloadType":"str","x":90.71589660644531,"y":267.7708053588867,"wires":[["a05bed2b.296c9"]]},{"id":"96fe782d.da11a8","type":"function","z":"55a9dafd.794544","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":548.7568817138672,"y":47.3101806640625,"wires":[["371d8db3.d97a52","4fbf6444.e14a2c","6d6b401d.e07b6"],["117d4cb3.688353","371d8db3.d97a52","4fbf6444.e14a2c"]]},{"id":"f404cdcd.fbbfd","type":"debug","z":"55a9dafd.794544","name":"dbLightFromDatabase","active":false,"console":"false","complete":"true","x":1130.75927734375,"y":44.9930419921875,"wires":[]},{"id":"371d8db3.d97a52","type":"debug","z":"55a9dafd.794544","name":"dbprepLightUI","active":false,"console":"false","complete":"true","x":552.7639007568359,"y":92.9930419921875,"wires":[]},{"id":"3ab723e9.d0ac7c","type":"function","z":"55a9dafd.794544","name":"TestChartDB","func":"var tuple = [];\nvar values = [];\nvar form = [];\nfor (i=0;i<msg.payload.length;i++) {\n    tuple=[msg.payload[i].time,msg.payload[i].value];\n    values[i] = tuple;\n}\nkey=\"LL\";\nform = [{key,values}];\nmsg.payload=form;\nmsg.topic=\"LL\";\nreturn msg;","outputs":1,"noerr":0,"x":775.7546577453613,"y":84.49307250976562,"wires":[["3daf2990.9975a6","6d6b401d.e07b6"]]},{"id":"3daf2990.9975a6","type":"debug","z":"55a9dafd.794544","name":"dbToChart","active":false,"console":"false","complete":"true","x":971.7546577453613,"y":85.3240966796875,"wires":[]},{"id":"4fbf6444.e14a2c","type":"function","z":"55a9dafd.794544","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('llalastheard') || time;\ncontext.set('llalastheard',lh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-lh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-lh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-lh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-lh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-lh) > 3600000) {\nmsg.payload = lh;\n}\nif (msg.topic != \"checking\") {\n    context.set('llalastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.7568817138672,"y":142.63194274902344,"wires":[["98b3b2d1.28fc1"]]},{"id":"29a2adf0.40f8c2","type":"mqtt in","z":"55a9dafd.794544","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":80.83332824707031,"y":61.000030517578125,"wires":[["575c3195.9910a","5f48063f.ec2d78"]]},{"id":"575c3195.9910a","type":"switch","z":"55a9dafd.794544","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KL","vt":"str"}],"checkall":"true","outputs":3,"x":304.83331298828125,"y":61.666656494140625,"wires":[["96fe782d.da11a8"],["86ded4b0.3edf88"],["9b1284f0.18a0a8"]]},{"id":"86ded4b0.3edf88","type":"function","z":"55a9dafd.794544","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":544.8333435058594,"y":254.33331298828125,"wires":[["a66448fb.bd1fc8","664a8695.0f25a8","407e4c93.2e14f4"],["a66448fb.bd1fc8","664a8695.0f25a8","cc50af04.ab485"]]},{"id":"a66448fb.bd1fc8","type":"debug","z":"55a9dafd.794544","name":"dbPrepPIRUI","active":false,"console":"false","complete":"payload","x":542.8333435058594,"y":294.33331298828125,"wires":[]},{"id":"664a8695.0f25a8","type":"function","z":"55a9dafd.794544","name":"prepPIRLastHeard","func":"time=new Date();\nvar ph = context.get('kpalastheard') || time;\ncontext.set('kpalastheard',ph);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-ph) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-ph) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-ph) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-ph) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-ph) > 3600000) {\nmsg.payload = ph;\n}\nif (msg.topic != \"checking\") {\n    context.set('kpalastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.8901062011719,"y":338.40909576416016,"wires":[["20e85a2d.859d36"]]},{"id":"9b1284f0.18a0a8","type":"function","z":"55a9dafd.794544","name":"prepRelayUI","func":"if (msg.payload ==\"RELAYAON-\") {\n    msg.payload = \"ON\"\n    return msg;\n}\nif (msg.payload ==\"RELAYAOFF\") {\n    msg.payload = \"OFF\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":541.5795288085938,"y":397.7878723144531,"wires":[["e9ae6a6b.6ff6d8","36263dcb.ef15a2","a050a835.94bd28"]]},{"id":"e9ae6a6b.6ff6d8","type":"debug","z":"55a9dafd.794544","name":"dbPrepRelayUI","active":false,"console":"false","complete":"payload","x":549.5795288085938,"y":437.7878723144531,"wires":[]},{"id":"36263dcb.ef15a2","type":"function","z":"55a9dafd.794544","name":"prepRelayLastHeard","func":"time=new Date();\nvar rh = context.get('klalastheard') || time;\ncontext.set('klalastheard',rh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-rh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-rh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-rh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-rh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-rh) > 3600000) {\nmsg.payload = rh;\n}\nif (msg.topic != \"checking\") {\n    context.set('klalastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":565.6362915039062,"y":481.86365509033203,"wires":[["7c7d2c7e.7b0754"]]},{"id":"56ab6a31.a77024","type":"inject","z":"55a9dafd.794544","name":"inCheckRelay","repeat":"60","crontab":"","once":false,"topic":"","payload":"aKLRELAYA---","payloadType":"str","x":105.71589660644531,"y":205.76512908935547,"wires":[["4ec875ed.0ba1ec"]]},{"id":"4ec875ed.0ba1ec","type":"mqtt out","z":"55a9dafd.794544","name":"mqttCheckKitchenRelay","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"15b941ac.36365e","x":311.71209716796875,"y":206.13257598876953,"wires":[]},{"id":"5f48063f.ec2d78","type":"debug","z":"55a9dafd.794544","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":274.710205078125,"y":115.78218841552734,"wires":[]},{"id":"c78f4d27.40b08","type":"inject","z":"55a9dafd.794544","name":"CheckLastHeard","repeat":"66","crontab":"","once":false,"topic":"checking","payload":"","payloadType":"date","x":276.710205078125,"y":337.52269744873047,"wires":[["4fbf6444.e14a2c","664a8695.0f25a8","36263dcb.ef15a2"]]},{"id":"5a506520.e55f3c","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":109.16667175292969,"y":50.333335876464844,"wires":[["1a0af983.1c9696"]]},{"id":"4fa2e16b.053b9","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":115.16667175292969,"y":98.33334350585938,"wires":[["b10f28e6.62fe08"]]},{"id":"72da3d4d.c49534","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":113.16667175292969,"y":142.33334350585938,"wires":[["6f6dad58.3ae6b4"]]},{"id":"60d1ef7a.f02c1","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":95.16667175292969,"y":188.33334350585938,"wires":[["7fb5807e.f62fe"]]},{"id":"b8278e6b.a2c61","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":97.16667175292969,"y":234.33334350585938,"wires":[["2fb9b7b8.3d9548"]]},{"id":"1a0af983.1c9696","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.34;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["ea365285.8544"],["5cfa3b17.4712f4"]]},{"id":"b10f28e6.62fe08","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)+8.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["ea365285.8544"],["387fa17.ab1675e"]]},{"id":"6f6dad58.3ae6b4","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.39;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["ea365285.8544"],["18fae0dc.acbc0f"]]},{"id":"7fb5807e.f62fe","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.00;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["ea365285.8544"],["217d51de.e15a4e"]]},{"id":"2fb9b7b8.3d9548","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["ea365285.8544"],["3ffe0597.c8202a"]]},{"id":"640f6c47.84f3a4","type":"comment","z":"55a9dafd.794544","name":"sqlite","info":"","x":770,"y":40,"wires":[]},{"id":"568f223c.31986c","type":"mqtt in","z":"b48bac2f.f9e9f","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":140,"y":80,"wires":[["cbbd4408.7d5268"]]},{"id":"cbbd4408.7d5268","type":"function","z":"b48bac2f.f9e9f","name":"prepSonoff1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = 0;\n}\nif (msg.payload == \"night\") {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["cd4cf572.4f8078","7a35765e.a54ec8","3c054fab.7f79","e34b543e.52ad28"]]},{"id":"cd4cf572.4f8078","type":"mqtt out","z":"b48bac2f.f9e9f","name":"mqttSonoff1","topic":"/Sonoff1/gpio/12","qos":"2","retain":"true","broker":"15b941ac.36365e","x":560,"y":120,"wires":[]},{"id":"a86f2dda.f3907","type":"inject","z":"b48bac2f.f9e9f","name":"day","props":[{"p":"payload","v":"day","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"day","payloadType":"str","x":90,"y":180,"wires":[["cbbd4408.7d5268"]]},{"id":"986ec536.98c4c8","type":"inject","z":"b48bac2f.f9e9f","name":"","props":[{"p":"payload","v":"night","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"night","payloadType":"str","x":90,"y":240,"wires":[["cbbd4408.7d5268"]]},{"id":"8a20b6af.be4768","type":"inject","z":"b48bac2f.f9e9f","name":"TurnOffSonoff1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"40 22 * * *","once":false,"onceDelay":"","topic":"Sonoff1/GPIO/12","payload":"day","payloadType":"str","x":120,"y":300,"wires":[["cbbd4408.7d5268"]]},{"id":"7a35765e.a54ec8","type":"debug","z":"b48bac2f.f9e9f","name":"debugSonoff1","active":false,"console":"false","complete":"payload","x":570,"y":180,"wires":[]},{"id":"a8cca064.9996c","type":"mqtt out","z":"55a9dafd.794544","name":"mqttMoteLightsOutButton","topic":"PiforLiam/motephat","qos":"","retain":"","broker":"15b941ac.36365e","x":610,"y":560,"wires":[]},{"id":"fb7679ed.a9ea38","type":"mqtt in","z":"55a9dafd.794544","name":"mqttMoteLightsInButton","topic":"PiforLiam/motephat","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":560,"wires":[["830a027a.a9c4d"]]},{"id":"4d141204.bd992c","type":"mqtt in","z":"55a9dafd.794544","name":"mqttKitchenLightsButton","topic":"PiForLiam/Received/KL","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":110,"y":620,"wires":[["ea6eec0f.8695e"]]},{"id":"7f43a411.a11a4c","type":"function","z":"55a9dafd.794544","name":"toggleKitchenLights","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\nif (msg.payload == \"on\") {\n    msg1.payload=\"aKLRELAYAON-\";\n    msg2.payload=\"BUTTONAON\";\n}\nif (msg.payload == \"off\") {\n    msg1.payload=\"aKLRELAYAOFF\";\n    msg2.payload=\"BUTTONAOF\";\n}\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":730,"y":620,"wires":[["c9a35854.46f1a8"],["67a34a97.6c2f44"]]},{"id":"c9a35854.46f1a8","type":"mqtt out","z":"55a9dafd.794544","name":"mqttKitchenLights","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"15b941ac.36365e","x":970,"y":580,"wires":[]},{"id":"67a34a97.6c2f44","type":"mqtt out","z":"55a9dafd.794544","name":"mqttTogglePIR","topic":"PiForLiam/Received/KP","qos":"2","retain":"","broker":"15b941ac.36365e","x":959,"y":660,"wires":[]},{"id":"ea6eec0f.8695e","type":"function","z":"55a9dafd.794544","name":"prepKitchenButton","func":"if (msg.payload==\"RELAYAON-\"){\n    msg.payload=\"on\";\n}\nif (msg.payload==\"RELAYAOFF\") {\n    msg.payload=\"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["493114ef.ddb93c"]]},{"id":"46bdbf4c.dabb8","type":"mqtt out","z":"55a9dafd.794544","name":"mqttSonoff1ButtonOut","topic":"/Sonoff1/gpio/12","qos":"2","retain":"","broker":"15b941ac.36365e","x":610,"y":683,"wires":[]},{"id":"f07dd353.1e155","type":"debug","z":"55a9dafd.794544","name":"debugTetris","active":true,"console":"false","complete":"true","x":560,"y":760,"wires":[]},{"id":"269504a.e1b7cfc","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":90,"y":140,"wires":[["8a942203.07a3c","c8597787.36cd88"]]},{"id":"8a942203.07a3c","type":"switch","z":"b24d5d9.3e913a","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"}],"checkall":"true","outputs":7,"x":260,"y":139,"wires":[["bb6951e9.750cb","539f0733.1f44e8"],["af95ea8b.c264e8","846bbb20.7d1598"],["253dd57e.fa433a","94ad1851.895228"],["821e6025.ec019","391f9343.4a9c4c"],["1ed31686.f98b39","c0cef840.3514e8"],["f54212be.1c21e","6d5dd3e7.3d1a6c"],["35e3d944.46e096","60c8b167.9b7e1"]]},{"id":"c8597787.36cd88","type":"debug","z":"b24d5d9.3e913a","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":180,"y":40,"wires":[]},{"id":"bb6951e9.750cb","type":"function","z":"b24d5d9.3e913a","name":"prepareLightBattery","func":"if (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":510,"y":40,"wires":[["9f8b8713.431808"]]},{"id":"af95ea8b.c264e8","type":"function","z":"b24d5d9.3e913a","name":"prepBedroomBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":520,"y":85,"wires":[["682c27c4.65c1e8"]]},{"id":"253dd57e.fa433a","type":"function","z":"b24d5d9.3e913a","name":"prepSpareroomBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":522,"y":127.00000286102295,"wires":[["9f7a0d06.38a94"]]},{"id":"821e6025.ec019","type":"function","z":"b24d5d9.3e913a","name":"prepLivingroomBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":521,"y":170.0000057220459,"wires":[["81e28b6c.aee268"]]},{"id":"1ed31686.f98b39","type":"function","z":"b24d5d9.3e913a","name":"prepKitchenBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":512,"y":215.00000858306885,"wires":[["2ecbef64.7974"]]},{"id":"f54212be.1c21e","type":"function","z":"b24d5d9.3e913a","name":"prepOutsideBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":510,"y":260.0000114440918,"wires":[["b2f5c1ef.06432"]]},{"id":"35e3d944.46e096","type":"function","z":"b24d5d9.3e913a","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":488,"y":307,"wires":[["96636ca8.6335a"],["8dc3c356.ba325"]]},{"id":"9e238af4.ae9a18","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttMoteLightsOutButton","topic":"PiforLiam/motephat","qos":"","retain":"","broker":"15b941ac.36365e","x":607,"y":440,"wires":[]},{"id":"6c5ac148.0bb38","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttMoteLightsInButton","topic":"PiforLiam/motephat","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":157,"y":440,"wires":[["4dd13592.80646c"]]},{"id":"9f4f5cb1.ba2ee","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttKitchenLightsButton","topic":"PiForLiam/Received/KL","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":107,"y":500,"wires":[["b8878342.b3ae"]]},{"id":"9caadd95.61f18","type":"function","z":"b24d5d9.3e913a","name":"toggleKitchenLights","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\nif (msg.payload == \"on\") {\n    msg1.payload=\"aKLRELAYAON-\";\n    msg2.payload=\"BUTTONAON\";\n}\nif (msg.payload == \"off\") {\n    msg1.payload=\"aKLRELAYAOFF\";\n    msg2.payload=\"BUTTONAOF\";\n}\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":727,"y":500,"wires":[["d70af43f.2eff68"],["6846d52e.6dda5c"]]},{"id":"b8878342.b3ae","type":"function","z":"b24d5d9.3e913a","name":"prepKitchenButton","func":"if (msg.payload==\"RELAYAON-\"){\n    msg.payload=\"on\";\n}\nif (msg.payload==\"RELAYAOFF\") {\n    msg.payload=\"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":500,"wires":[["feee77fb.db6f38"]]},{"id":"6679820c.de0d8c","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttSonoff1ButtonOut","topic":"/Sonoff1/gpio/12","qos":"2","retain":"","broker":"15b941ac.36365e","x":760,"y":560,"wires":[]},{"id":"96d2d7cc.ad05a8","type":"debug","z":"b24d5d9.3e913a","name":"debugTetris","active":true,"console":"false","complete":"true","x":710,"y":620,"wires":[]},{"id":"d70af43f.2eff68","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttKitchenLights","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"15b941ac.36365e","x":970,"y":460,"wires":[]},{"id":"6846d52e.6dda5c","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttTogglePIR","topic":"PiForLiam/Received/KP","qos":"2","retain":"","broker":"15b941ac.36365e","x":959,"y":540,"wires":[]},{"id":"539f0733.1f44e8","type":"function","z":"b24d5d9.3e913a","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('lllastheard') || time;\ncontext.set('lllastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0){\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('lllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":40,"wires":[["2af0409.bd454c"]]},{"id":"846bbb20.7d1598","type":"function","z":"b24d5d9.3e913a","name":"PrepBTLastheard","func":"time=new Date();\nvar lh = context.get('btlastheard') || time;\ncontext.set('btlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('btlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":80,"wires":[["cca97e16.5395a"]]},{"id":"94ad1851.895228","type":"function","z":"b24d5d9.3e913a","name":"PrepSTLastheard","func":"time=new Date();\nvar lh = context.get('stlastheard') || time;\ncontext.set('stlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('stlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":124,"wires":[["6a3202c5.4096dc"]]},{"id":"391f9343.4a9c4c","type":"function","z":"b24d5d9.3e913a","name":"PrepLTLastheard","func":"time=new Date();\nvar lh = context.get('ltlastheard') || time;\ncontext.set('ltlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('ltlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":160,"wires":[["f7c8ab41.1447b8"]]},{"id":"60c8b167.9b7e1","type":"function","z":"b24d5d9.3e913a","name":"PrepKPLastheard","func":"time=new Date();\nvar lh = context.get('kplastheard') || time;\ncontext.set('kplastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('kplastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["7ddc12ab.46c85c"]]},{"id":"c0cef840.3514e8","type":"function","z":"b24d5d9.3e913a","name":"PrepKTLastheard","func":"time=new Date();\nvar lh = context.get('ktlastheard') || time;\ncontext.set('ktlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('ktlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["b5c12086.c2335"]]},{"id":"6d5dd3e7.3d1a6c","type":"function","z":"b24d5d9.3e913a","name":"PrepOTLastheard","func":"time=new Date();\nvar lh = context.get('otlastheard') || time;\ncontext.set('otlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('otlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["8af43960.0bc468"]]},{"id":"9b839b06.19fc68","type":"inject","z":"b24d5d9.3e913a","name":"CheckLastHeard","repeat":"30","crontab":"","once":false,"topic":"checking","payload":"","payloadType":"date","x":730,"y":380,"wires":[["539f0733.1f44e8","846bbb20.7d1598","94ad1851.895228","391f9343.4a9c4c","c0cef840.3514e8","6d5dd3e7.3d1a6c","60c8b167.9b7e1"]]},{"id":"7906ebf6.c95724","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttSonoff1ButtonIn","topic":"/Sonoff1/gpio/12","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":90,"y":560,"wires":[["a547237.901f9e"]]},{"id":"a547237.901f9e","type":"function","z":"b24d5d9.3e913a","name":"prepTetrisInput","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["b75c2eb7.71fdf"]]},{"id":"bedb023c.a46b8","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttSonoff2ButtonOut","topic":"/Sonoff1/gpio/12","qos":"2","retain":"","broker":"15b941ac.36365e","x":760,"y":660,"wires":[]},{"id":"4ae72a0f.99d5c4","type":"debug","z":"b24d5d9.3e913a","name":"debugCabinet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":720,"wires":[]},{"id":"d36d6ad5.b52bd8","type":"function","z":"b24d5d9.3e913a","name":"prepCabinetInput","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":660,"wires":[["f34e50b8.f688d"]]},{"id":"1b733906.d6f717","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttSonoff1ButtonIn","topic":"/Sonoff1/gpio/12","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":90,"y":660,"wires":[["d36d6ad5.b52bd8"]]},{"id":"5d175d95.2f4124","type":"function","z":"d641d098.fc03","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.34;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":100,"wires":[["1646c568.8248bb","bb87dffb.a36a4"]]},{"id":"5d2a42da.63aadc","type":"function","z":"d641d098.fc03","name":"adjustSpareroom","func":"device=\"Spare\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n//    v=parseFloat(value).toFixed(2);\n//    v += 8.00;\n//    msg.payload=v;\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))+8.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":470,"y":160,"wires":[["c40564d7.3af868","bb87dffb.a36a4"]]},{"id":"47e53dd1.9550a4","type":"function","z":"d641d098.fc03","name":"adjustLivingroom","func":"device=\"Living\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.39;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":470,"y":220,"wires":[["6bd83573.cc236c","bb87dffb.a36a4"]]},{"id":"212fba78.a06056","type":"function","z":"d641d098.fc03","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":280,"wires":[["7b21d7aa.7e8218","bb87dffb.a36a4"]]},{"id":"998fe3fe.f11e8","type":"function","z":"d641d098.fc03","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["bb87dffb.a36a4","3d09525c.a4686e"]]},{"id":"3975977.6b21b68","type":"function","z":"d641d098.fc03","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"Light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":40,"wires":[["c2270689.916978","2f9d50ad.4bcd2"]]},{"id":"9ee2f60a.552018","type":"mqtt in","z":"d641d098.fc03","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":70,"y":160,"wires":[["d4b85a93.c6be88","1cb658ae.bcebf7"]]},{"id":"d4b85a93.c6be88","type":"switch","z":"d641d098.fc03","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAH","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomBL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/FlightRadarPiLight","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":240,"y":159,"wires":[["3975977.6b21b68"],["5d175d95.2f4124"],["5d2a42da.63aadc"],["47e53dd1.9550a4"],["212fba78.a06056"],["998fe3fe.f11e8"],["42ef9a11.5eccd4"],["c8469e19.c6625"],["d9d830f.5be73d"],["ccd15372.e2137","866e3221.c254a"]]},{"id":"1cb658ae.bcebf7","type":"debug","z":"d641d098.fc03","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":160,"y":60,"wires":[]},{"id":"5a1b4b6f.e8bbe4","type":"function","z":"d641d098.fc03","name":"prepareLightUI","func":"//if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n//    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n//    msg.topic=\"Light levels\"\n//    msg.payload=msg.payload.slice(4,9);\n//    return msg;\n//}\n","outputs":"1","noerr":0,"x":458,"y":402,"wires":[[]]},{"id":"42ef9a11.5eccd4","type":"debug","z":"d641d098.fc03","name":"AtomAT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":195.16668701171875,"y":300.3333435058594,"wires":[]},{"id":"c8469e19.c6625","type":"debug","z":"d641d098.fc03","name":"AtomAH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":172.16668701171875,"y":342.3333435058594,"wires":[]},{"id":"d9d830f.5be73d","type":"debug","z":"d641d098.fc03","name":"AtomBL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150.16668701171875,"y":383.66668701171875,"wires":[]},{"id":"3c054fab.7f79","type":"mqtt out","z":"b48bac2f.f9e9f","name":"mqttSonoff2","topic":"/Sonoff2/gpio/12","qos":"2","retain":"true","broker":"15b941ac.36365e","x":570,"y":240,"wires":[]},{"id":"e34b543e.52ad28","type":"debug","z":"b48bac2f.f9e9f","name":"debugSonoff2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":300,"wires":[]},{"id":"98b3b2d1.28fc1","type":"ui_template","z":"55a9dafd.794544","group":"cb22e126.4c3cb","name":"LLLastheardText","order":6,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Light last heard at </p></p>\n    <div ng-bind-html=\"msg.payload\"></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":781.2661590576172,"y":211.2824249267578,"wires":[[]]},{"id":"20e85a2d.859d36","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"PIR last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":791.8333053588867,"y":338.3333206176758,"wires":[]},{"id":"407e4c93.2e14f4","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":783.8333053588867,"y":261.3333206176758,"wires":[]},{"id":"a050a835.94bd28","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":4,"width":0,"height":0,"name":"KitchenRelayStatus","label":"Relay is ","format":"{{msg.payload}}","layout":"row-spread","x":784.8333129882812,"y":397.3332977294922,"wires":[]},{"id":"7c7d2c7e.7b0754","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":7,"width":0,"height":0,"name":"KitchenRelayLastHeard","label":"Relay last heard at","format":"{{msg.payload}}","layout":"row-spread","x":807.8957443237305,"y":482.348445892334,"wires":[]},{"id":"7ddc12ab.46c85c","type":"ui_text","z":"b24d5d9.3e913a","group":"4bbe7f5a.e6cd6","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"Last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":280,"wires":[]},{"id":"96636ca8.6335a","type":"ui_text","z":"b24d5d9.3e913a","group":"4bbe7f5a.e6cd6","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":380,"wires":[]},{"id":"2af0409.bd454c","type":"ui_text","z":"b24d5d9.3e913a","group":"b0db99fe.868468","order":5,"width":0,"height":0,"name":"LightmeterLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":40,"wires":[]},{"id":"cca97e16.5395a","type":"ui_text","z":"b24d5d9.3e913a","group":"b81c50a8.7ba9c","order":2,"width":0,"height":0,"name":"BedroomTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":80,"wires":[]},{"id":"6a3202c5.4096dc","type":"ui_text","z":"b24d5d9.3e913a","group":"48de9d9d.8d9e14","order":2,"width":0,"height":0,"name":"SpareRoomTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":120,"wires":[]},{"id":"f7c8ab41.1447b8","type":"ui_text","z":"b24d5d9.3e913a","group":"8522a49f.8a64f8","order":2,"width":0,"height":0,"name":"LivingRoomTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":160,"wires":[]},{"id":"b5c12086.c2335","type":"ui_text","z":"b24d5d9.3e913a","group":"17c60dcb.4acf92","order":2,"width":0,"height":0,"name":"KitchenTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":200,"wires":[]},{"id":"8af43960.0bc468","type":"ui_text","z":"b24d5d9.3e913a","group":"9769633c.3edf5","order":2,"width":0,"height":0,"name":"OutsideTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":240,"wires":[]},{"id":"1646c568.8248bb","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":2,"width":"2","height":"1","name":"BTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":120,"wires":[]},{"id":"c40564d7.3af868","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":3,"width":"2","height":"1","name":"STValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":160,"wires":[]},{"id":"6bd83573.cc236c","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":4,"width":"2","height":"1","name":"LTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":240,"wires":[]},{"id":"7b21d7aa.7e8218","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":5,"width":"2","height":"1","name":"KTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":280,"wires":[]},{"id":"3d09525c.a4686e","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":6,"width":"2","height":"1","name":"OTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":320,"wires":[]},{"id":"c2270689.916978","type":"ui_text","z":"d641d098.fc03","group":"97937504.8fdee8","order":0,"width":"4","height":"1","name":"LightValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":810,"y":40,"wires":[]},{"id":"ccd15372.e2137","type":"ui_text","z":"d641d098.fc03","group":"97937504.8fdee8","order":0,"width":"4","height":"1","name":"FRLightLevel","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":803.6666870117188,"y":407,"wires":[]},{"id":"117d4cb3.688353","type":"ui_gauge","z":"55a9dafd.794544","name":"Light Meter Battery","group":"cb22e126.4c3cb","order":1,"width":"3","height":"3","gtype":"wave","title":"Gauge","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790.7545928955078,"y":167.83334350585938,"wires":[]},{"id":"cc50af04.ab485","type":"ui_gauge","z":"55a9dafd.794544","name":"KitchenPIRBattery","group":"cb22e126.4c3cb","order":2,"width":"3","height":"3","gtype":"wave","title":"Kitchen PIR Battery","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":782.8333053588867,"y":299.66663360595703,"wires":[]},{"id":"5cfa3b17.4712f4","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Bedroom","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Bedroom","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":120,"wires":[]},{"id":"387fa17.ab1675e","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Spare Room","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Spare Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"18fae0dc.acbc0f","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Living Room","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Living Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"217d51de.e15a4e","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Kitchen","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Kitchen","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"3ffe0597.c8202a","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Outside","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Outside","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]},{"id":"9f8b8713.431808","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Light Meter Battery","group":"b0db99fe.868468","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":40,"wires":[]},{"id":"8dc3c356.ba325","type":"ui_gauge","z":"b24d5d9.3e913a","name":"KitchenPIRBattery","group":"4bbe7f5a.e6cd6","order":2,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"682c27c4.65c1e8","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Bedroom","group":"b81c50a8.7ba9c","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":84,"wires":[]},{"id":"9f7a0d06.38a94","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Spare Room","group":"48de9d9d.8d9e14","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":126,"wires":[]},{"id":"81e28b6c.aee268","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Living Room","group":"8522a49f.8a64f8","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":169,"wires":[]},{"id":"2ecbef64.7974","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Kitchen","group":"17c60dcb.4acf92","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":214,"wires":[]},{"id":"b2f5c1ef.06432","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Outside","group":"9769633c.3edf5","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":259,"wires":[]},{"id":"6d6b401d.e07b6","type":"ui_chart","z":"55a9dafd.794544","name":"Light Level Chart","group":"394970e8.eeb7b","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790.2661895751953,"y":126.28240203857422,"wires":[[]]},{"id":"ea365285.8544","type":"ui_chart","z":"ba0c44d1.a4a2a8","name":"chartTemperatures","group":"84567535.c79908","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":630,"y":60,"wires":[[]]},{"id":"bb87dffb.a36a4","type":"ui_chart","z":"d641d098.fc03","name":"chartTemperatures","group":"35eac600.1a2cea","order":1,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":200,"wires":[[]]},{"id":"2f9d50ad.4bcd2","type":"ui_chart","z":"d641d098.fc03","name":"Light Level Chart","group":"97937504.8fdee8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":80,"wires":[[]]},{"id":"866e3221.c254a","type":"ui_chart","z":"d641d098.fc03","name":"FlightRadar Light Level Chart","group":"97937504.8fdee8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"FlightRadar Light Level","dot":false,"ymin":"0","ymax":"5000","removeOlder":"24","removeOlderPoints":"3000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":832.6666870117188,"y":448,"wires":[[]]},{"id":"830a027a.a9c4d","type":"ui_switch","z":"55a9dafd.794544","name":"Mote Lights","label":"Motes","tooltip":"","group":"816877db.4f1978","order":0,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"PiforLiam/motephat","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":393,"y":560,"wires":[["a8cca064.9996c"]]},{"id":"493114ef.ddb93c","type":"ui_switch","z":"55a9dafd.794544","name":"Kitchen Lights","label":"Kitchen","tooltip":"","group":"816877db.4f1978","order":0,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":520,"y":620,"wires":[["7f43a411.a11a4c"]]},{"id":"490c29cd.63e138","type":"ui_switch","z":"55a9dafd.794544","name":"Sonoff1Button","label":"Tetris","tooltip":"","group":"816877db.4f1978","order":0,"width":"2","height":"2","passthru":false,"decouple":"false","topic":"/Sonoff1/gpio/12","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":390,"y":682,"wires":[["46bdbf4c.dabb8","f07dd353.1e155"]]},{"id":"4dd13592.80646c","type":"ui_switch","z":"b24d5d9.3e913a","name":"Mote Lights","label":"Motes","tooltip":"","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"PiforLiam/motephat","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":390,"y":440,"wires":[["9e238af4.ae9a18"]]},{"id":"feee77fb.db6f38","type":"ui_switch","z":"b24d5d9.3e913a","name":"Kitchen Lights","label":"Kitchen","tooltip":"","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":517,"y":500,"wires":[["9caadd95.61f18"]]},{"id":"b75c2eb7.71fdf","type":"ui_switch","z":"b24d5d9.3e913a","name":"Sonoff1Button","label":"Tetris","tooltip":"","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"/Sonoff1/gpio/12","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":560,"wires":[["6679820c.de0d8c","96d2d7cc.ad05a8"]]},{"id":"f34e50b8.f688d","type":"ui_switch","z":"b24d5d9.3e913a","name":"Sonoff2Button","label":"Cabinet","tooltip":"","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"/Sonoff1/gpio/12","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":660,"wires":[["bedb023c.a46b8","4ae72a0f.99d5c4"]]},{"id":"e58862e0.f5f5c","type":"ui_chart","z":"d641d098.fc03","name":"Atom Temp Level Chart","group":"35eac600.1a2cea","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Atom Humid Level","dot":false,"ymin":"0","ymax":"5000","removeOlder":"24","removeOlderPoints":"3000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":540,"wires":[[]]},{"id":"edb4d02a.be249","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":0,"width":"4","height":"1","name":"AtomHumidLevel","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":811,"y":499,"wires":[]},{"id":"53883a34.4ec584","type":"mqtt in","z":"479657e.4c78ca8","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":90,"y":140,"wires":[["6f23161f.5f2a98","c8f19369.6e19a"]]},{"id":"6f23161f.5f2a98","type":"debug","z":"479657e.4c78ca8","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":180,"y":40,"wires":[]},{"id":"c8f19369.6e19a","type":"switch","z":"479657e.4c78ca8","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAH","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomBL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/FlightRadarPiLight","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":280,"y":160,"wires":[["eb7920da.9ec39"],["4fad0ed8.fbac1"],["739231af.19097"],["8a005b6c.f4f3d8"],["92ee20d7.657fd"],["b2f80554.79ed68"],[],[],[],["28b21812.1fa948"]]},{"id":"eb7920da.9ec39","type":"function","z":"479657e.4c78ca8","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    value=msg.payload.slice(4,9);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2));\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":41,"wires":[["6e2a12f7.77494c"]]},{"id":"4fad0ed8.fbac1","type":"function","z":"479657e.4c78ca8","name":"adjustBedroom","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.34;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":101,"wires":[["4c4b9b31.4c6de4"]]},{"id":"739231af.19097","type":"function","z":"479657e.4c78ca8","name":"adjustSpareroom","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))+8.00;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":510,"y":161,"wires":[["947910c4.aa26e"]]},{"id":"8a005b6c.f4f3d8","type":"function","z":"479657e.4c78ca8","name":"adjustLivingroom","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.39;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":510,"y":221,"wires":[["b6a324dd.6ce2f8"]]},{"id":"92ee20d7.657fd","type":"function","z":"479657e.4c78ca8","name":"adjustKitchen","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":281,"wires":[["cbefe3f8.df9f5"]]},{"id":"b2f80554.79ed68","type":"function","z":"479657e.4c78ca8","name":"adjustOutside","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":341,"wires":[["9983a5a7.516cf8"]]},{"id":"28b21812.1fa948","type":"function","z":"479657e.4c78ca8","name":"prepareLightUI","func":"//    value = msg.payload();\n    msg.payload = parseFloat(parseFloat(msg.payload).toFixed(2));\n    return msg;\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":498,"y":403,"wires":[["d49ef18e.d8b5c"]]},{"id":"6e2a12f7.77494c","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbLLightLevel","measurement":"PiForLiam/Received/LL","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":40,"wires":[]},{"id":"4c4b9b31.4c6de4","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbBedroomTemp","measurement":"PiForLiam/Received/BT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":100,"wires":[]},{"id":"947910c4.aa26e","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbSpareRoomTemp","measurement":"PiForLiam/Received/ST","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":160,"wires":[]},{"id":"b6a324dd.6ce2f8","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbLivingRoomTemp","measurement":"PiForLiam/Received/LT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":220,"wires":[]},{"id":"cbefe3f8.df9f5","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbKitchenTemp","measurement":"PiForLiam/Received/KT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":280,"wires":[]},{"id":"9983a5a7.516cf8","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbOutsideTemp","measurement":"PiForLiam/Received/OT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":340,"wires":[]},{"id":"d49ef18e.d8b5c","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"FlightRadarLightLevel","measurement":"PiForLiam/Received/FlightradarPiLight","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":400,"wires":[]},{"id":"9b346c09.ac748","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"c94776c6.202568","name":"dbTesting","measurement":"PiForLiam/Received/Test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":151.0094757080078,"y":311.00567626953125,"wires":[]},{"id":"29e406ac.b2713a","type":"inject","z":"479657e.4c78ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"PiForLiam/Received/Test","payload":"12.67","payloadType":"str","x":160,"y":240,"wires":[["9b346c09.ac748"]]},{"id":"16f0a6aa.365fd9","type":"mqtt in","z":"1d7f96d0.a5ef29","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":120,"y":140,"wires":[["fe591242.503dd"]]},{"id":"acba4c61.f1022","type":"http in","z":"1d7f96d0.a5ef29","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["f57c1c5c.db0c4"]]},{"id":"77ae799c.51ee38","type":"http response","z":"1d7f96d0.a5ef29","name":"","x":610,"y":200,"wires":[]},{"id":"f57c1c5c.db0c4","type":"function","z":"1d7f96d0.a5ef29","name":"get from flow","func":"var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["77ae799c.51ee38"]]},{"id":"7e78e0f8.3ee19","type":"inject","z":"1d7f96d0.a5ef29","name":"","repeat":"","crontab":"","once":true,"onceDelay":"300","topic":"","payload":"graphviz","payloadType":"str","x":120,"y":80,"wires":[["9a6b1034.fada4"]]},{"id":"fe591242.503dd","type":"function","z":"1d7f96d0.a5ef29","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"9a6b1034.fada4","type":"mqtt out","z":"1d7f96d0.a5ef29","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","broker":"15b941ac.36365e","x":280,"y":80,"wires":[]},{"id":"85c669c4.62eca8","type":"http in","z":"1d7f96d0.a5ef29","name":"","url":"/adminpanelapi/networkmap/viz/:engine","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["ca7e5a95.b39b78"]]},{"id":"769c032.82029fc","type":"http response","z":"1d7f96d0.a5ef29","name":"","statusCode":"","headers":{},"x":810,"y":260,"wires":[]},{"id":"87a8d60a.86d478","type":"function","z":"1d7f96d0.a5ef29","name":"generate viz html","func":"var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["769c032.82029fc"]]},{"id":"ca7e5a95.b39b78","type":"function","z":"1d7f96d0.a5ef29","name":"set engine","func":"var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["87a8d60a.86d478"]]},{"id":"307ac2fc.2856ae","type":"mqtt in","z":"c2287cf1.f1006","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":290,"y":140,"wires":[["45e00180.83e83"]]},{"id":"45e00180.83e83","type":"json","z":"c2287cf1.f1006","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["dc358e29.225bb","764d802.91a968","b08008c5.204708"]]},{"id":"8daaa3f0.d30ab","type":"ui_toast","z":"c2287cf1.f1006","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"dc358e29.225bb","type":"function","z":"c2287cf1.f1006","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["8daaa3f0.d30ab"]]},{"id":"25f76ee9.aae022","type":"comment","z":"c2287cf1.f1006","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"b43fd89c.464988","type":"comment","z":"c2287cf1.f1006","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"b3978445.0b5e68","type":"ui_toast","z":"c2287cf1.f1006","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"764d802.91a968","type":"function","z":"c2287cf1.f1006","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["b3978445.0b5e68"]]},{"id":"6997afbb.5fbb5","type":"comment","z":"c2287cf1.f1006","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"bb7fadab.5e5b3","type":"ui_toast","z":"c2287cf1.f1006","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"b08008c5.204708","type":"function","z":"c2287cf1.f1006","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["bb7fadab.5e5b3"]]},{"id":"20b50057.748cd","type":"comment","z":"c2287cf1.f1006","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"7e8b83dd.fefb2c","type":"mqtt in","z":"ef334060.da584","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":350,"y":140,"wires":[["493b6023.cb968"]]},{"id":"9e679d81.13fa7","type":"ui_template","z":"ef334060.da584","group":"25691028.52c6a","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"99faecf2.930b","type":"mqtt out","z":"ef334060.da584","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"15b941ac.36365e","x":580,"y":60,"wires":[]},{"id":"3470fa68.a6a0f6","type":"inject","z":"ef334060.da584","name":"Request Device List","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":60,"wires":[["99faecf2.930b"]]},{"id":"9db58260.e1cef","type":"comment","z":"ef334060.da584","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"c504a6d9.be0f88","type":"comment","z":"ef334060.da584","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"493b6023.cb968","type":"json","z":"ef334060.da584","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["9e679d81.13fa7","ec8f578e.d813d8","5fc28354.efa61c"]]},{"id":"62d673de.710fdc","type":"http in","z":"ef334060.da584","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["e07b6d25.d3f88"]]},{"id":"ec8f578e.d813d8","type":"function","z":"ef334060.da584","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"9e2e3a21.508488","type":"http response","z":"ef334060.da584","name":"","x":870,"y":220,"wires":[]},{"id":"e07b6d25.d3f88","type":"function","z":"ef334060.da584","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["9e2e3a21.508488"]]},{"id":"159e20d8.80f35f","type":"comment","z":"ef334060.da584","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"5fc28354.efa61c","type":"function","z":"ef334060.da584","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"279644dc.6dee7c","type":"mqtt in","z":"745da55.b69b05c","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":270,"y":80,"wires":[["73aeae18.80fcc"]]},{"id":"73aeae18.80fcc","type":"function","z":"745da55.b69b05c","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["dd378351.d3647"]]},{"id":"a34a71ef.4217d","type":"ui_template","z":"745da55.b69b05c","group":"40573a59.6ec0c4","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"200af5e2.bc798a","type":"function","z":"745da55.b69b05c","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["a34a71ef.4217d"]]},{"id":"55e501ad.f5a31","type":"inject","z":"745da55.b69b05c","name":"","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":140,"wires":[["200af5e2.bc798a"]]},{"id":"dd378351.d3647","type":"debug","z":"745da55.b69b05c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"4cc29788.d3dfb8","type":"comment","z":"745da55.b69b05c","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"9a06de18.4cfd6","type":"comment","z":"745da55.b69b05c","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"b6701cc1.b20c1","type":"http in","z":"745da55.b69b05c","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["eaa0f59a.9ea2e8"]]},{"id":"91945b7c.338b18","type":"http response","z":"745da55.b69b05c","name":"","x":590,"y":220,"wires":[]},{"id":"eaa0f59a.9ea2e8","type":"function","z":"745da55.b69b05c","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["91945b7c.338b18"]]},{"id":"911973d4.caa7b","type":"comment","z":"745da55.b69b05c","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"e536b93d.38ce58","type":"ui_dropdown","z":"4b20a347.6179ec","name":"","label":"","place":"Select option","group":"4cb35853.cdcde8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["7557b403.7b31cc"]]},{"id":"7557b403.7b31cc","type":"mqtt out","z":"4b20a347.6179ec","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"15b941ac.36365e","x":380,"y":60,"wires":[]},{"id":"3d54715b.2d141e","type":"ui_text_input","z":"321dbafd.bfadd6","name":"","label":"Device Name","group":"bbb3596e.f2c6a8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["7bbae970.739f08"]]},{"id":"77e98a80.5cecc4","type":"mqtt out","z":"321dbafd.bfadd6","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"15b941ac.36365e","x":1190,"y":60,"wires":[]},{"id":"bba4a9e2.774a58","type":"function","z":"321dbafd.bfadd6","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"7bbae970.739f08","type":"change","z":"321dbafd.bfadd6","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["bba4a9e2.774a58"]]},{"id":"23f4c1c8.b1cdee","type":"function","z":"321dbafd.bfadd6","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["77e98a80.5cecc4"]]},{"id":"2fb6b0f0.c1b22","type":"ui_button","z":"321dbafd.bfadd6","name":"","group":"bbb3596e.f2c6a8","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["23f4c1c8.b1cdee","33ef226e.e110ce"]]},{"id":"4475f491.2a912c","type":"comment","z":"321dbafd.bfadd6","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"ff765b29.6adee8","type":"mqtt in","z":"321dbafd.bfadd6","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":290,"y":120,"wires":[["745b519f.3cebe"]]},{"id":"745b519f.3cebe","type":"json","z":"321dbafd.bfadd6","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["7ddf8dc.b520d74"]]},{"id":"1e58e32b.ccff3d","type":"ui_toast","z":"321dbafd.bfadd6","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"7ddf8dc.b520d74","type":"function","z":"321dbafd.bfadd6","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["1e58e32b.ccff3d"]]},{"id":"f7da77dc.c6e758","type":"comment","z":"321dbafd.bfadd6","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"f33f2806.7e7f48","type":"ui_toast","z":"321dbafd.bfadd6","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"33ef226e.e110ce","type":"function","z":"321dbafd.bfadd6","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["f33f2806.7e7f48"]]},{"id":"17f72daf.369812","type":"ui_dropdown","z":"8bff0e3.fceb9f","name":"","label":"","place":"Select option","group":"7b37feaf.b63ae","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["32c724f.65b28dc","2c5e4cc7.f1b534"]]},{"id":"32c724f.65b28dc","type":"mqtt out","z":"8bff0e3.fceb9f","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"15b941ac.36365e","x":270,"y":40,"wires":[]},{"id":"4cfd10b0.ff8d6","type":"ui_toast","z":"8bff0e3.fceb9f","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"2c5e4cc7.f1b534","type":"function","z":"8bff0e3.fceb9f","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["4cfd10b0.ff8d6"]]},{"id":"b8f2f698.57e568","type":"ui_text_input","z":"e084a6a.4631f58","name":"","label":"Old Name","group":"241ead91.463d32","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["d7eb0922.b84f08"]]},{"id":"94d90d29.f3402","type":"ui_text_input","z":"e084a6a.4631f58","name":"","label":"New Name","group":"241ead91.463d32","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["affaacf8.e5f47"]]},{"id":"42f80cde.64caa4","type":"mqtt out","z":"e084a6a.4631f58","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"15b941ac.36365e","x":1010,"y":140,"wires":[]},{"id":"45b3ba5.f047644","type":"function","z":"e084a6a.4631f58","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"d7eb0922.b84f08","type":"change","z":"e084a6a.4631f58","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["45b3ba5.f047644"]]},{"id":"affaacf8.e5f47","type":"change","z":"e084a6a.4631f58","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["f95d60ee.d6ca"]]},{"id":"21cf98b4.9a32f8","type":"function","z":"e084a6a.4631f58","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["42f80cde.64caa4"]]},{"id":"f95d60ee.d6ca","type":"function","z":"e084a6a.4631f58","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"f3b62056.55b2d","type":"ui_button","z":"e084a6a.4631f58","name":"","group":"241ead91.463d32","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["21cf98b4.9a32f8","413a9336.12cf2c"]]},{"id":"2826da46.731886","type":"ui_toast","z":"e084a6a.4631f58","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"413a9336.12cf2c","type":"function","z":"e084a6a.4631f58","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["2826da46.731886"]]},{"id":"d2be8f77.7326a","type":"subflow:e084a6a.4631f58","z":"ce54f264.2d1e6","name":"","env":[],"x":230,"y":160,"wires":[]},{"id":"12b79f03.54ddc1","type":"subflow:8bff0e3.fceb9f","z":"ce54f264.2d1e6","name":"","env":[],"x":210,"y":120,"wires":[]},{"id":"bbc5a6f7.dde758","type":"subflow:321dbafd.bfadd6","z":"ce54f264.2d1e6","name":"","env":[],"x":230,"y":200,"wires":[]},{"id":"2a059d07.c5db22","type":"comment","z":"ce54f264.2d1e6","name":"Function","info":"","x":210,"y":80,"wires":[]},{"id":"c6a120ae.fc064","type":"subflow:4b20a347.6179ec","z":"ce54f264.2d1e6","name":"","env":[],"x":220,"y":240,"wires":[]},{"id":"9748fef8.41217","type":"subflow:745da55.b69b05c","z":"ce54f264.2d1e6","name":"","env":[],"x":200,"y":280,"wires":[]},{"id":"b8612dd3.59558","type":"subflow:ef334060.da584","z":"ce54f264.2d1e6","name":"","env":[],"x":200,"y":320,"wires":[]},{"id":"48f768d0.746138","type":"comment","z":"ce54f264.2d1e6","name":"Other","info":"","x":460,"y":80,"wires":[]},{"id":"ea0eb635.470828","type":"subflow:c2287cf1.f1006","z":"ce54f264.2d1e6","name":"","env":[],"x":500,"y":120,"wires":[]},{"id":"1651116a.3aec8f","type":"subflow:1d7f96d0.a5ef29","z":"ce54f264.2d1e6","name":"","env":[],"x":480,"y":180,"wires":[]},{"id":"7b80f4e9.5d592c","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMFrontBedroomReceived","topic":"zigbee2mqtt/Front Bedroom/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":200,"y":420,"wires":[["300be003.b77a7","4d81a6d6.f0b538"]]},{"id":"300be003.b77a7","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMFrontBedroom","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":460,"wires":[]},{"id":"b3372bf1.c4fe78","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMAtticReceived","topic":"zigbee2mqtt/Attic/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":500,"wires":[["c3ae2681.61ab58","267c9427.51915c"]]},{"id":"c3ae2681.61ab58","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMAttic","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":540,"wires":[]},{"id":"126684c6.ecfd0b","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMShackReceived","topic":"zigbee2mqtt/Shack/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":580,"wires":[["cfadee3c.fa9b4","ed1b0fd9.6b196"]]},{"id":"cfadee3c.fa9b4","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMShack","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":620,"wires":[]},{"id":"6abea76f.8087d8","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMGarageReceived","topic":"zigbee2mqtt/Garage/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":660,"wires":[["ffb938b5.548da8","41c847f3.98bfc8"]]},{"id":"ffb938b5.548da8","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMGarage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":700,"wires":[]},{"id":"4000ebaa.ce7ca4","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMOutsideReceived","topic":"zigbee2mqtt/Outside/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":740,"wires":[["c3ab38f8.61bd18","6cfb66e0.2afe68"]]},{"id":"c3ab38f8.61bd18","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMOutside","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":780,"wires":[]},{"id":"c5bbd28c.5ac4a","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMMotion1Received","topic":"zigbee2mqtt/Motion 1","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":180,"y":840,"wires":[["23e2f44c.c0570c"]]},{"id":"23e2f44c.c0570c","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMMotion1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":840,"wires":[]},{"id":"bf1b6eb2.c55b3","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMMotion2Received","topic":"zigbee2mqtt/Motion 2","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":180,"y":880,"wires":[["409b35b9.8526ec"]]},{"id":"409b35b9.8526ec","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMMotion2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":880,"wires":[]},{"id":"df52d134.3aa36","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMLivingReceived","topic":"zigbee2mqtt/Living/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":20,"wires":[["8566c8b4.032cc8","b7acecca.6363a"]]},{"id":"8566c8b4.032cc8","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMLiving","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":60,"wires":[]},{"id":"c1b85fcd.78b1f","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMKitchenReceived","topic":"zigbee2mqtt/Kitchen/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":100,"wires":[["693c4a5c.5cc2a4","f19f110.e9f1ff"]]},{"id":"693c4a5c.5cc2a4","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMKitchen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"13583178.a5893f","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMHallReceived","topic":"zigbee2mqtt/Hall/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":180,"wires":[["d0ed8955.42b108","92fbe2a5.d6ce"]]},{"id":"d0ed8955.42b108","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMHall","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"c41c640f.8f5f18","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMOfficeReceived","topic":"zigbee2mqtt/Office/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":260,"wires":[["ed0a5df4.0a6b6","8d736bbe.6866c8"]]},{"id":"ed0a5df4.0a6b6","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMOffice","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"5fe0f2ee.8dde4c","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMBackBedroomReceived","topic":"zigbee2mqtt/Back Bedroom/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":190,"y":340,"wires":[["91ee9246.76d9e","286e5678.4ea3da"]]},{"id":"91ee9246.76d9e","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMBackBedroom","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":380,"wires":[]},{"id":"b7acecca.6363a","type":"json","z":"e250bef7.8e1b7","name":"LivingJSON","property":"payload","action":"","pretty":false,"x":430,"y":20,"wires":[["132fae43.da99e2"]]},{"id":"55d63bce.36c4f4","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbLivingHumiditytLevel","measurement":"ZigbeeToMQTT/Living/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":20,"wires":[]},{"id":"49b998e4.0f5b48","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbLivingTemptLevel","measurement":"ZigbeeToMQTT/Living/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":60,"wires":[]},{"id":"f19f110.e9f1ff","type":"json","z":"e250bef7.8e1b7","name":"KitchenJSON","property":"payload","action":"","pretty":false,"x":440,"y":100,"wires":[["97770cc7.d3599"]]},{"id":"a12938dc.482848","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbKitchenHumiditytLevel","measurement":"ZigbeeToMQTT/Kitchen/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":100,"wires":[]},{"id":"9e7b99f9.8eb2c8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbKitchenTemptLevel","measurement":"ZigbeeToMQTT/Kitchen/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":140,"wires":[]},{"id":"92fbe2a5.d6ce","type":"json","z":"e250bef7.8e1b7","name":"HallJSON","property":"payload","action":"","pretty":false,"x":420,"y":180,"wires":[["383c3930.997766"]]},{"id":"6de8f959.d235a8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbHallHumiditytLevel","measurement":"ZigbeeToMQTT/Hall/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":180,"wires":[]},{"id":"ebdf59ab.1db858","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbHallTemptLevel","measurement":"ZigbeeToMQTT/Hall/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":890,"y":220,"wires":[]},{"id":"8d736bbe.6866c8","type":"json","z":"e250bef7.8e1b7","name":"OfficeJSON","property":"payload","action":"","pretty":false,"x":430,"y":260,"wires":[["2be57796.336148"]]},{"id":"ca5d9cb9.50c9c","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOfficeHumiditytLevel","measurement":"ZigbeeToMQTT/Office/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":260,"wires":[]},{"id":"43b24925.5572c8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOfficeTemptLevel","measurement":"ZigbeeToMQTT/Office/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":300,"wires":[]},{"id":"286e5678.4ea3da","type":"json","z":"e250bef7.8e1b7","name":"BackBedroomJSON","property":"payload","action":"","pretty":false,"x":460,"y":340,"wires":[["298644b3.953c9c"]]},{"id":"e3fdf8b5.5ec828","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbBackBedroomHumiditytLevel","measurement":"ZigbeeToMQTT/BackBedroom/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":340,"wires":[]},{"id":"d59b314e.d328c","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbBackBedroomTemptLevel","measurement":"ZigbeeToMQTT/BackBedroom/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":380,"wires":[]},{"id":"4d81a6d6.f0b538","type":"json","z":"e250bef7.8e1b7","name":"FrontBedroomJSON","property":"payload","action":"","pretty":false,"x":460,"y":420,"wires":[["5b51edf1.996bc4"]]},{"id":"28027015.ba77","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbFrontBedroomHumiditytLevel","measurement":"ZigbeeToMQTT/FrontBedroom/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":420,"wires":[]},{"id":"4f992611.838428","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbFrontBedroomTemptLevel","measurement":"ZigbeeToMQTT/FrontBedroom/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":460,"wires":[]},{"id":"267c9427.51915c","type":"json","z":"e250bef7.8e1b7","name":"AtticJSON","property":"payload","action":"","pretty":false,"x":430,"y":500,"wires":[["ce3baae6.d9b448"]]},{"id":"bca0df2a.14e46","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbAtticHumiditytLevel","measurement":"ZigbeeToMQTT/Attic/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":500,"wires":[]},{"id":"a5ebc62f.59d008","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbAtticTemptLevel","measurement":"ZigbeeToMQTT/Attic/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":890,"y":540,"wires":[]},{"id":"ed1b0fd9.6b196","type":"json","z":"e250bef7.8e1b7","name":"ShackJSON","property":"payload","action":"","pretty":false,"x":430,"y":580,"wires":[["fa49f221.8c209"]]},{"id":"8ca5356c.a55f08","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbShackHumiditytLevel","measurement":"ZigbeeToMQTT/Shack/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":580,"wires":[]},{"id":"401a3a36.eff3c4","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbShackTemptLevel","measurement":"ZigbeeToMQTT/Shack/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":620,"wires":[]},{"id":"41c847f3.98bfc8","type":"json","z":"e250bef7.8e1b7","name":"GarageJSON","property":"payload","action":"","pretty":false,"x":440,"y":660,"wires":[["187245d5.98e30a"]]},{"id":"3c16752.d023e8a","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbGarageHumiditytLevel","measurement":"ZigbeeToMQTT/Garage/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":660,"wires":[]},{"id":"683d0b02.d101b4","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbGarageTemptLevel","measurement":"ZigbeeToMQTT/Garage/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":700,"wires":[]},{"id":"6cfb66e0.2afe68","type":"json","z":"e250bef7.8e1b7","name":"OutsideJSON","property":"payload","action":"","pretty":false,"x":440,"y":740,"wires":[["5f5fb323.9637ac"]]},{"id":"c442d006.73a1f","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOutsideHumiditytLevel","measurement":"ZigbeeToMQTT/Outside/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":740,"wires":[]},{"id":"c272455b.6298f8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOutsideTemptLevel","measurement":"ZigbeeToMQTT/Outside/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":780,"wires":[]},{"id":"ca96752c.21a898","type":"debug","z":"e250bef7.8e1b7","name":"dbLivingHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":20,"wires":[]},{"id":"bcbbda4b.b290d8","type":"debug","z":"e250bef7.8e1b7","name":"dbLivingTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":60,"wires":[]},{"id":"9cb25a58.16b418","type":"debug","z":"e250bef7.8e1b7","name":"dbKitchenHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":100,"wires":[]},{"id":"67c9a7e5.565ab8","type":"debug","z":"e250bef7.8e1b7","name":"dbKitchenTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":140,"wires":[]},{"id":"edc5d02d.8edaa","type":"debug","z":"e250bef7.8e1b7","name":"dbHallHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":180,"wires":[]},{"id":"6217b7d0.d4f288","type":"debug","z":"e250bef7.8e1b7","name":"dbHallTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":220,"wires":[]},{"id":"e01940df.b6a86","type":"debug","z":"e250bef7.8e1b7","name":"dbOfficeHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"73f377e4.879028","type":"debug","z":"e250bef7.8e1b7","name":"dbOfficeTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":300,"wires":[]},{"id":"4015f623.1bf4f8","type":"debug","z":"e250bef7.8e1b7","name":"dbBackBedroomHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":340,"wires":[]},{"id":"eb7c9fa2.0676b","type":"debug","z":"e250bef7.8e1b7","name":"dbBackBedroomTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":380,"wires":[]},{"id":"82d05053.f0086","type":"debug","z":"e250bef7.8e1b7","name":"dbFrontBedrromHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":420,"wires":[]},{"id":"9c07e5eb.ba35e8","type":"debug","z":"e250bef7.8e1b7","name":"dbFrontBedrromTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":460,"wires":[]},{"id":"63dea604.b09748","type":"debug","z":"e250bef7.8e1b7","name":"dbAtticHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":500,"wires":[]},{"id":"f05b0adc.bcf8f8","type":"debug","z":"e250bef7.8e1b7","name":"dbAtticTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":540,"wires":[]},{"id":"1805f6d.ccac709","type":"debug","z":"e250bef7.8e1b7","name":"dbShackHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":580,"wires":[]},{"id":"c1fc1e87.9d163","type":"debug","z":"e250bef7.8e1b7","name":"dbShackTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":620,"wires":[]},{"id":"c57b040a.48d0c8","type":"debug","z":"e250bef7.8e1b7","name":"dbGarageHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":660,"wires":[]},{"id":"aa5e6b5e.0888d8","type":"debug","z":"e250bef7.8e1b7","name":"dbGarageTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":700,"wires":[]},{"id":"d613f80f.1b73a8","type":"debug","z":"e250bef7.8e1b7","name":"dbOutsideHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":740,"wires":[]},{"id":"e5d3aa92.04a478","type":"debug","z":"e250bef7.8e1b7","name":"dbOutsideTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":780,"wires":[]},{"id":"132fae43.da99e2","type":"function","z":"e250bef7.8e1b7","name":"LivingConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":20,"wires":[["ca96752c.21a898","55d63bce.36c4f4"],["bcbbda4b.b290d8","49b998e4.0f5b48"]]},{"id":"97770cc7.d3599","type":"function","z":"e250bef7.8e1b7","name":"KitchenConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":100,"wires":[["9cb25a58.16b418","a12938dc.482848"],["67c9a7e5.565ab8","9e7b99f9.8eb2c8"]]},{"id":"383c3930.997766","type":"function","z":"e250bef7.8e1b7","name":"HallConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":180,"wires":[["edc5d02d.8edaa","6de8f959.d235a8"],["6217b7d0.d4f288","ebdf59ab.1db858"]]},{"id":"2be57796.336148","type":"function","z":"e250bef7.8e1b7","name":"OfficeConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":260,"wires":[["e01940df.b6a86","ca5d9cb9.50c9c"],["73f377e4.879028","43b24925.5572c8"]]},{"id":"298644b3.953c9c","type":"function","z":"e250bef7.8e1b7","name":"BackBedroomConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":340,"wires":[["4015f623.1bf4f8","e3fdf8b5.5ec828"],["eb7c9fa2.0676b","d59b314e.d328c"]]},{"id":"5b51edf1.996bc4","type":"function","z":"e250bef7.8e1b7","name":"FrontBedroomConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["82d05053.f0086","28027015.ba77"],["9c07e5eb.ba35e8","4f992611.838428"]]},{"id":"ce3baae6.d9b448","type":"function","z":"e250bef7.8e1b7","name":"AtticConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":500,"wires":[["63dea604.b09748","bca0df2a.14e46"],["f05b0adc.bcf8f8","a5ebc62f.59d008"]]},{"id":"fa49f221.8c209","type":"function","z":"e250bef7.8e1b7","name":"ShackConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":580,"wires":[["1805f6d.ccac709","8ca5356c.a55f08"],["c1fc1e87.9d163","401a3a36.eff3c4"]]},{"id":"187245d5.98e30a","type":"function","z":"e250bef7.8e1b7","name":"GarageConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":660,"wires":[["c57b040a.48d0c8","3c16752.d023e8a"],["aa5e6b5e.0888d8","683d0b02.d101b4"]]},{"id":"5f5fb323.9637ac","type":"function","z":"e250bef7.8e1b7","name":"OutsideConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":740,"wires":[["d613f80f.1b73a8","c442d006.73a1f"],["e5d3aa92.04a478","c272455b.6298f8"]]},{"id":"e3871c12.1a8ed","type":"mqtt out","z":"46666ef6.cb2bc","name":"ZtMBambootLightSet","topic":"","qos":"","retain":"","broker":"15b941ac.36365e","x":540,"y":60,"wires":[]},{"id":"60ff460.80a0abc","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightOn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"state\": \"ON\"}","payloadType":"json","x":190,"y":60,"wires":[["e3871c12.1a8ed"]]},{"id":"cf1907b5.7c0bc8","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightOFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"state\": \"OFF\"}","payloadType":"json","x":200,"y":120,"wires":[["e3871c12.1a8ed"]]},{"id":"cfee1bd6.c91e48","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightRed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color\":{\"rgb\":\"255,0,0\"}}","payloadType":"json","x":232.01156616210938,"y":177.02777099609375,"wires":[["e3871c12.1a8ed"]]},{"id":"c1e94a41.477388","type":"mqtt in","z":"5070a2dd.9040bc","name":"ZigbeeToMQTTReceived","topic":"zigbee2mqtt/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":210,"y":200,"wires":[["a92cfdc.cac99"]]},{"id":"a92cfdc.cac99","type":"debug","z":"5070a2dd.9040bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":220,"wires":[]},{"id":"de9164f.3c56898","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightBright","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"brightness\": 100}","payloadType":"json","x":230,"y":320,"wires":[["e3871c12.1a8ed"]]},{"id":"ffa9ffd.fa564","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightGreen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color\":{\"rgb\":\"0,255,0\"}}","payloadType":"json","x":230,"y":220,"wires":[["e3871c12.1a8ed"]]},{"id":"8419cc2e.1c48b","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightBlue","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color\":{\"rgb\":\"0,0,255\"}}","payloadType":"json","x":220,"y":260,"wires":[["e3871c12.1a8ed"]]},{"id":"8fe796d.1a7cf68","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightCool","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color_temp\": 200}","payloadType":"json","x":230,"y":380,"wires":[["e3871c12.1a8ed"]]},{"id":"c9b13864.baa828","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightWarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color_temp\": 500}","payloadType":"json","x":230,"y":420,"wires":[["e3871c12.1a8ed"]]},{"id":"ede00bbd.780428","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightOn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"state\": \"ON\"}","payloadType":"json","x":570,"y":120,"wires":[["fe58ba85.4cb108"]]},{"id":"712efea8.f67bb","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightOFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"state\": \"OFF\"}","payloadType":"json","x":580,"y":180,"wires":[["fe58ba85.4cb108"]]},{"id":"a0cc1878.647a08","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightRed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color\":{\"rgb\":\"255,0,0\"}}","payloadType":"json","x":612.0115661621094,"y":237.02777099609375,"wires":[["fe58ba85.4cb108"]]},{"id":"5682790f.6b6b88","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightBright","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"brightness\": 100}","payloadType":"json","x":600,"y":380,"wires":[["fe58ba85.4cb108"]]},{"id":"c157106e.70bd4","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightGreen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color\":{\"rgb\":\"0,255,0\"}}","payloadType":"json","x":610,"y":280,"wires":[["fe58ba85.4cb108"]]},{"id":"1c07d318.89db7d","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightBlue","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color\":{\"rgb\":\"0,0,255\"}}","payloadType":"json","x":600,"y":320,"wires":[["fe58ba85.4cb108"]]},{"id":"1cb35984.ab3546","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightCool","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color_temp\": 200}","payloadType":"json","x":600,"y":440,"wires":[["fe58ba85.4cb108"]]},{"id":"2130d643.e7883a","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightWarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color_temp\": 400}","payloadType":"json","x":600,"y":480,"wires":[["fe58ba85.4cb108"]]},{"id":"fe58ba85.4cb108","type":"mqtt out","z":"46666ef6.cb2bc","name":"ZtMFrontLightSet","topic":"","qos":"","retain":"","broker":"15b941ac.36365e","x":824.0115356445312,"y":86.02777099609375,"wires":[]},{"id":"a58a046d.61c7e8","type":"mqtt in","z":"46666ef6.cb2bc","name":"ZtMMotion1In","topic":"zigbee2mqtt/Motion 1","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":120,"y":480,"wires":[["16917e47.595732"]]},{"id":"16917e47.595732","type":"debug","z":"46666ef6.cb2bc","name":"DebugMotionIn","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":480,"wires":[]},{"id":"881e9e2a.9bc63","type":"mqtt in","z":"f7a8280c.2c5a18","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":60,"wires":[["4482948b.e52ecc"]]},{"id":"4dd501dd.cbd54","type":"inject","z":"f7a8280c.2c5a18","name":"day","props":[{"p":"payload","v":"day","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"day","payloadType":"str","x":110,"y":160,"wires":[["4482948b.e52ecc"]]},{"id":"ca6aba1f.782378","type":"inject","z":"f7a8280c.2c5a18","name":"","props":[{"p":"payload","v":"night","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"night","payloadType":"str","x":110,"y":220,"wires":[["4482948b.e52ecc"]]},{"id":"cb7cf699.baa068","type":"inject","z":"f7a8280c.2c5a18","name":"TurnOffZigbee","props":[{"p":"payload"}],"repeat":"","crontab":"40 22 * * *","once":false,"onceDelay":"","topic":"","payload":"day","payloadType":"str","x":140,"y":280,"wires":[["4482948b.e52ecc"]]},{"id":"4482948b.e52ecc","type":"function","z":"f7a8280c.2c5a18","name":"prepLidl1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = {\"state\": \"OFF\"};\n}\nif (msg.payload == \"night\") {\n    msg.payload = {\"state\": \"ON\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["f2ca2d4a.2085a","98bdbb35.6db8a8"]]},{"id":"f2ca2d4a.2085a","type":"mqtt out","z":"f7a8280c.2c5a18","name":"ZtMBambootLightSet","topic":"zigbee2mqtt/BambooLight/set","qos":"","retain":"","broker":"15b941ac.36365e","x":670.0115356445312,"y":94.02777099609375,"wires":[]},{"id":"98bdbb35.6db8a8","type":"mqtt out","z":"f7a8280c.2c5a18","name":"ZtMFrontDoorLightSet","topic":"zigbee2mqtt/FrontDoorLight/set","qos":"","retain":"","broker":"15b941ac.36365e","x":640,"y":160,"wires":[]},{"id":"fea928c5.657988","type":"debug","z":"b48bac2f.f9e9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"b45b739e.f03a3","type":"mqtt in","z":"b48bac2f.f9e9f","name":"PhoneStairsIn","topic":"PiforLiam/Stairs","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":100,"y":360,"wires":[["cd4cf572.4f8078"]]}]
