Charts
[{"id":"bcfe7668.718ef8","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"bab0508d.7d9c8","type":"function","z":"bcfe7668.718ef8","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.34;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":100,"wires":[["a59f4f2d.c8436"]]},{"id":"e814d37b.6586f","type":"function","z":"bcfe7668.718ef8","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)+8.0;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":470,"y":160,"wires":[["a59f4f2d.c8436"]]},{"id":"8d89f1b7.34264","type":"function","z":"bcfe7668.718ef8","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.39;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":470,"y":220,"wires":[["a59f4f2d.c8436"]]},{"id":"5d96336.516c2cc","type":"function","z":"bcfe7668.718ef8","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":280,"wires":[["a59f4f2d.c8436"]]},{"id":"bb51df4e.8589b","type":"function","z":"bcfe7668.718ef8","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.0;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":340,"wires":[["a59f4f2d.c8436"]]},{"id":"a59f4f2d.c8436","type":"ui_chart","z":"bcfe7668.718ef8","name":"chartTemperatures","group":"35eac600.1a2cea","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":830,"y":200,"wires":[[],[]]},{"id":"e13188f.7190b78","type":"function","z":"bcfe7668.718ef8","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":40,"wires":[["35163953.b188a6"]]},{"id":"416bef1c.0a457","type":"mqtt in","z":"bcfe7668.718ef8","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"1f3f30a6.6a314f","x":70,"y":160,"wires":[["43fc2fdb.e7d6f","57385246.2c13ec"]]},{"id":"43fc2fdb.e7d6f","type":"switch","z":"bcfe7668.718ef8","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"}],"checkall":"true","outputs":6,"x":240,"y":159,"wires":[["e13188f.7190b78"],["bab0508d.7d9c8"],["e814d37b.6586f"],["8d89f1b7.34264"],["5d96336.516c2cc"],["bb51df4e.8589b"]]},{"id":"57385246.2c13ec","type":"debug","z":"bcfe7668.718ef8","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":160,"y":60,"wires":[]},{"id":"35163953.b188a6","type":"ui_chart","z":"bcfe7668.718ef8","name":"Light Level Chart","group":"97937504.8fdee8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":830,"y":80,"wires":[[],[]]},{"id":"6c3cc229.3b94bc","type":"comment","z":"bcfe7668.718ef8","name":"sqlite","info":"","x":844.2453422546387,"y":295.5069274902344,"wires":[]},{"id":"35eac600.1a2cea","type":"ui_group","z":"","name":"Temperature","tab":"703f2245.e4551c","order":1,"disp":true,"width":"10"},{"id":"1f3f30a6.6a314f","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"97937504.8fdee8","type":"ui_group","z":"","name":"Light","tab":"703f2245.e4551c","order":2,"disp":true,"width":"10"},{"id":"703f2245.e4551c","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":3}]
