Charts
[{"id":"d641d098.fc03","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"5d175d95.2f4124","type":"function","z":"d641d098.fc03","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.34;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":100,"wires":[["1646c568.8248bb","bb87dffb.a36a4"]]},{"id":"5d2a42da.63aadc","type":"function","z":"d641d098.fc03","name":"adjustSpareroom","func":"device=\"Spare\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n//    v=parseFloat(value).toFixed(2);\n//    v += 8.00;\n//    msg.payload=v;\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))+8.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":470,"y":160,"wires":[["c40564d7.3af868","bb87dffb.a36a4"]]},{"id":"47e53dd1.9550a4","type":"function","z":"d641d098.fc03","name":"adjustLivingroom","func":"device=\"Living\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.39;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":470,"y":220,"wires":[["6bd83573.cc236c","bb87dffb.a36a4"]]},{"id":"212fba78.a06056","type":"function","z":"d641d098.fc03","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":280,"wires":[["7b21d7aa.7e8218","bb87dffb.a36a4"]]},{"id":"998fe3fe.f11e8","type":"function","z":"d641d098.fc03","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    msg.topic=device;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["bb87dffb.a36a4","3d09525c.a4686e"]]},{"id":"3975977.6b21b68","type":"function","z":"d641d098.fc03","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"Light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return msg;\n}","outputs":"1","noerr":0,"x":460,"y":40,"wires":[["c2270689.916978","2f9d50ad.4bcd2"]]},{"id":"9ee2f60a.552018","type":"mqtt in","z":"d641d098.fc03","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":70,"y":160,"wires":[["d4b85a93.c6be88","1cb658ae.bcebf7"]]},{"id":"d4b85a93.c6be88","type":"switch","z":"d641d098.fc03","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAH","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomBL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/FlightRadarPiLight","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":240,"y":159,"wires":[["3975977.6b21b68"],["5d175d95.2f4124"],["5d2a42da.63aadc"],["47e53dd1.9550a4"],["212fba78.a06056"],["998fe3fe.f11e8"],["42ef9a11.5eccd4"],["c8469e19.c6625"],["d9d830f.5be73d"],["ccd15372.e2137","866e3221.c254a"]]},{"id":"1cb658ae.bcebf7","type":"debug","z":"d641d098.fc03","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":160,"y":60,"wires":[]},{"id":"5a1b4b6f.e8bbe4","type":"function","z":"d641d098.fc03","name":"prepareLightUI","func":"//if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n//    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n//    msg.topic=\"Light levels\"\n//    msg.payload=msg.payload.slice(4,9);\n//    return msg;\n//}\n","outputs":"1","noerr":0,"x":458,"y":402,"wires":[[]]},{"id":"42ef9a11.5eccd4","type":"debug","z":"d641d098.fc03","name":"AtomAT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":195.16668701171875,"y":300.3333435058594,"wires":[]},{"id":"c8469e19.c6625","type":"debug","z":"d641d098.fc03","name":"AtomAH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":172.16668701171875,"y":342.3333435058594,"wires":[]},{"id":"d9d830f.5be73d","type":"debug","z":"d641d098.fc03","name":"AtomBL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150.16668701171875,"y":383.66668701171875,"wires":[]},{"id":"1646c568.8248bb","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":2,"width":"2","height":"1","name":"BTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":120,"wires":[]},{"id":"c40564d7.3af868","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":3,"width":"2","height":"1","name":"STValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":160,"wires":[]},{"id":"6bd83573.cc236c","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":4,"width":"2","height":"1","name":"LTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":240,"wires":[]},{"id":"7b21d7aa.7e8218","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":5,"width":"2","height":"1","name":"KTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":280,"wires":[]},{"id":"3d09525c.a4686e","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":6,"width":"2","height":"1","name":"OTValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":800,"y":320,"wires":[]},{"id":"c2270689.916978","type":"ui_text","z":"d641d098.fc03","group":"97937504.8fdee8","order":0,"width":"4","height":"1","name":"LightValue","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":810,"y":40,"wires":[]},{"id":"ccd15372.e2137","type":"ui_text","z":"d641d098.fc03","group":"97937504.8fdee8","order":0,"width":"4","height":"1","name":"FRLightLevel","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":803.6666870117188,"y":407,"wires":[]},{"id":"bb87dffb.a36a4","type":"ui_chart","z":"d641d098.fc03","name":"chartTemperatures","group":"35eac600.1a2cea","order":1,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":200,"wires":[[]]},{"id":"2f9d50ad.4bcd2","type":"ui_chart","z":"d641d098.fc03","name":"Light Level Chart","group":"97937504.8fdee8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":80,"wires":[[]]},{"id":"866e3221.c254a","type":"ui_chart","z":"d641d098.fc03","name":"FlightRadar Light Level Chart","group":"97937504.8fdee8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"FlightRadar Light Level","dot":false,"ymin":"0","ymax":"5000","removeOlder":"24","removeOlderPoints":"3000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":832.6666870117188,"y":448,"wires":[[]]},{"id":"e58862e0.f5f5c","type":"ui_chart","z":"d641d098.fc03","name":"Atom Temp Level Chart","group":"35eac600.1a2cea","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Atom Humid Level","dot":false,"ymin":"0","ymax":"5000","removeOlder":"24","removeOlderPoints":"3000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":540,"wires":[[]]},{"id":"edb4d02a.be249","type":"ui_text","z":"d641d098.fc03","group":"35eac600.1a2cea","order":0,"width":"4","height":"1","name":"AtomHumidLevel","label":"","format":"{{msg.topic}} {{msg.payload}}","layout":"row-center","x":811,"y":499,"wires":[]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"35eac600.1a2cea","type":"ui_group","name":"Temperature","tab":"703f2245.e4551c","order":1,"disp":true,"width":"10"},{"id":"97937504.8fdee8","type":"ui_group","name":"Light","tab":"703f2245.e4551c","order":2,"disp":true,"width":"10"},{"id":"703f2245.e4551c","type":"ui_tab","name":"Charts","icon":"dashboard","order":3}]
