flows.json
[{"id":"c9afd34b.8df07","type":"tab","label":"LLAP Hub"},{"id":"b7da6cdb.d343a","type":"tab","label":"Light Levels"},{"id":"27050a54.ab98c6","type":"tab","label":"Kitchen LEDs"},{"id":"7ee81ceb.c3ae84","type":"tab","label":"Mote Phat"},{"id":"40a8c52d.8cb8cc","type":"tab","label":"User Interface"},{"id":"afdb5610.ef6678","type":"tab","label":"Temps"},{"id":"abf70af3.f947b8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"12","bin":"false","out":"count","addchar":false},{"id":"cd3a48bb.03bbb8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"1","bin":"false","out":"count","addchar":false},{"id":"15d18be9.e56354","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9f28242.8ee0fd8","type":"sqlitedb","z":"","db":"/home/wiloneil/PiForLiamIOT.db"},{"id":"392e67d3.e84e08","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f38b33e6.25fd6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ba51ef9e.fcf42","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"997c9f25.6aa82","type":"ui_group","z":"","name":"Status","tab":"5bcc8567.41942c","order":1,"disp":true,"width":"6"},{"id":"716c7d51.c1b9b4","type":"sqlitedb","z":"","db":"/home/wiloneil/PiForLiamIOT.db"},{"id":"b96cfb6.e945608","type":"ui_group","z":"","name":"Light Levels","tab":"5bcc8567.41942c","order":2,"disp":true,"width":"10"},{"id":"5d1cbbbc.5c7174","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5bcc8567.41942c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"58842361.c8aa1c","type":"twitter-credentials","z":"","screen_name":"@LiamONeill34"},{"id":"493aae0e.9f624","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"e81a0ca5.3a1c1","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2},{"id":"dc54adea.b74db","type":"ui_group","z":"","name":"Temps","tab":"e81a0ca5.3a1c1","order":1,"disp":true,"width":"16"},{"id":"5084edf5.92f374","type":"serial in","z":"c9afd34b.8df07","name":"SliceOfRadioIn","serial":"cd3a48bb.03bbb8","x":323.75462341308594,"y":102.8865737915039,"wires":[["93eafb06.9bc058","1f914148.a8dccf"]]},{"id":"5dffda42.1cfc74","type":"debug","z":"c9afd34b.8df07","name":"dbSliceOfRadioIn","active":false,"console":"false","complete":"true","x":780.7546234130859,"y":48.773162841796875,"wires":[]},{"id":"93eafb06.9bc058","type":"function","z":"c9afd34b.8df07","name":"CreateLLAPMessage","func":"// name: CreateLLAPMessage\n// outputs: 2\n// anything stored in context is kept available for next time we get called\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\nfailedMsg=\"\";\n\n// wait for an a and reset the buffer and counter\nif (msg.payload == \"a\") { \n        if (context.count !== 0) {\n         failedMsg = context.buff;\n        }\n        context.count = 0; \n        context.buff = \"\"; \n} // this does mean the a must NOT appear elsewhere in the message\n\n// add payload to the buffer and increase the count\ncontext.buff = context.buff + msg.payload;\ncontext.count += 1;\n// when we reach 11 then output the whole message, assumes length is the a plus 11 - may need to tweak...\nif (context.count == 12) {\n    msg.topic = \"PiForLiam/Received/\" + context.buff.slice(1,3);\t// return the first two chars as the topic\n    msg.payload = context.buff.slice(3);\t// return rest of the buffer as the payload\n    context.count = 0;\n    return [msg,null];\n}\nif (failedMsg !== \"\") {\n    fmsg.payload=failedMsg;\n    return [null,fmsg]\n}\nreturn [null,null];","outputs":"2","noerr":0,"x":546.7569427490234,"y":103.125,"wires":[["5dffda42.1cfc74","8b55f2cc.63858"],["85cb5523.5ac2f8","12ce611f.9ca9ef"]]},{"id":"85cb5523.5ac2f8","type":"debug","z":"c9afd34b.8df07","name":"dbFailedMsg","active":false,"console":"false","complete":"true","x":764.7592620849609,"y":155.43983459472656,"wires":[]},{"id":"8b55f2cc.63858","type":"mqtt out","z":"c9afd34b.8df07","name":"MQTTReceieved","topic":"","qos":"","retain":"","broker":"15d18be9.e56354","x":779.7616119384766,"y":94.7037124633789,"wires":[]},{"id":"fea071e8.a7572","type":"mqtt in","z":"c9afd34b.8df07","name":"MQTTTransmit","topic":"PiForLiam/Transmit","qos":"2","broker":"15d18be9.e56354","x":334.1666564941406,"y":252.3333282470703,"wires":[["3d75be6c.fc9a52","dfbd60c6.d96a7"]]},{"id":"3d75be6c.fc9a52","type":"serial out","z":"c9afd34b.8df07","name":"SliceOfRadioOut","serial":"cd3a48bb.03bbb8","x":578.1666564941406,"y":253.6666717529297,"wires":[]},{"id":"dfbd60c6.d96a7","type":"debug","z":"c9afd34b.8df07","name":"dbSliceOfRadioOut","active":false,"console":"false","complete":"payload","x":572.166675567627,"y":301.00001525878906,"wires":[]},{"id":"2f0e9ee8.fcc552","type":"inject","z":"c9afd34b.8df07","name":"","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"","crontab":"","once":false,"x":364.1666564941406,"y":355.00001525878906,"wires":[["3d75be6c.fc9a52"]]},{"id":"94985fad.fb029","type":"file","z":"c9afd34b.8df07","name":"FailedMessageLog","filename":"/home/wiloneil/Automation/failedMessageLog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":969.5,"y":209.6666717529297,"wires":[]},{"id":"12ce611f.9ca9ef","type":"function","z":"c9afd34b.8df07","name":"prepFailedMessage","func":"time = new Date();\nfailedMsg = msg.payload;\nmsg.payload = time + \" : \" + failedMsg;\nreturn msg;","outputs":1,"noerr":0,"x":969.5,"y":157.6666717529297,"wires":[["94985fad.fb029"]]},{"id":"1f914148.a8dccf","type":"debug","z":"c9afd34b.8df07","name":"dbSerialIn","active":false,"console":"false","complete":"payload","x":475.5,"y":167,"wires":[]},{"id":"c38dd8b2.3a6238","type":"sqlite","z":"b7da6cdb.d343a","mydb":"9f28242.8ee0fd8","name":"PiForLiamIOTLightLevels","x":695.7615203857422,"y":180.62963104248047,"wires":[[]]},{"id":"bf405e63.3f3ed","type":"function","z":"b7da6cdb.d343a","name":"PrepareLightLevelsDB","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    device=2;\n    time=new Date().toString();\n    value=msg.payload.slice(4,9);\n    msg.topic=\"INSERT INTO lightLevel(device,time,value) VALUES (\" + device +\",'\" + time + \"',\" + value + \")\";\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":387.99998474121094,"y":231.0000228881836,"wires":[["4d9367fc.4881a8","c38dd8b2.3a6238","58c066e5.db2a18"],["54522ad8.b71544"]]},{"id":"11a017ce.59a5c8","type":"inject","z":"b7da6cdb.d343a","name":"","topic":"LL","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.0023193359375,"y":172.02777862548828,"wires":[["bf405e63.3f3ed"]]},{"id":"4d9367fc.4881a8","type":"debug","z":"b7da6cdb.d343a","name":"dbSQL","active":false,"console":"false","complete":"true","x":646.0092926025391,"y":142.80555725097656,"wires":[]},{"id":"32bd7449.bb947c","type":"mqtt in","z":"b7da6cdb.d343a","name":"MQTTLightLevel","topic":"PiForLiam/Received/LL","qos":"2","broker":"392e67d3.e84e08","x":122.0023193359375,"y":225.8912124633789,"wires":[["bf405e63.3f3ed"]]},{"id":"54522ad8.b71544","type":"debug","z":"b7da6cdb.d343a","name":"dbLLBattery","active":false,"console":"false","complete":"true","x":652.7592620849609,"y":283.91666412353516,"wires":[]},{"id":"58c066e5.db2a18","type":"function","z":"b7da6cdb.d343a","name":"checkDayNight","func":"value=msg.payload.slice(4,9);\n//var v = context.get('oldValue') || 0;\n//var d = context.get('daynight') || \"night\";\n//context.set('oldValue',v);\n//context.set('daynight',d);\nmsg.payload=null;\nif (value < 40) {\n    if (context.get('oldValue') < 40) {\n        if (context.get('daynight') ===\"day\") {\n            msg.payload = \"night\";\n        }    \n        context.set('daynight', \"night\");\n    }\n} else if (value > 55) {\n    if (context.get('oldValue') > 55) {\n        if (context.get('daynight') === \"night\") {\n            msg.payload = \"day\";\n        }    \n        context.set('daynight', \"day\");\n    }\n}\ncontext.set('oldValue', value);\nif (msg.payload !== null) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":663.7615814208984,"y":93.96295928955078,"wires":[["84b3d6f3.426048"]]},{"id":"84b3d6f3.426048","type":"mqtt out","z":"b7da6cdb.d343a","name":"DayNight","topic":"PiForLiam/daynight/","qos":"2","retain":"","broker":"392e67d3.e84e08","x":840.9999847412109,"y":94,"wires":[]},{"id":"1c15c413.ef3cbc","type":"inject","z":"b7da6cdb.d343a","name":"","topic":"","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":377.75926208496094,"y":90.65277862548828,"wires":[["58c066e5.db2a18"]]},{"id":"3b535e37.b73ea2","type":"inject","z":"b7da6cdb.d343a","name":"","topic":"","payload":"LVAL94.29","payloadType":"str","repeat":"","crontab":"","once":false,"x":374.75694274902344,"y":49.65740966796875,"wires":[["58c066e5.db2a18"]]},{"id":"675ccc4e.373134","type":"inject","z":"b7da6cdb.d343a","name":"","topic":"","payload":"BATT2.70-","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.76388549804688,"y":128.65045928955078,"wires":[["bf405e63.3f3ed"]]},{"id":"f30f696b.d14e98","type":"mqtt in","z":"27050a54.ab98c6","name":"MQTTKitchenPIR","topic":"PiForLiam/Received/KP","qos":"2","broker":"f38b33e6.25fd6","x":164.76158142089844,"y":111.52083587646484,"wires":[["a90ac7be.5119c8"]]},{"id":"c3c8e035.53cdc","type":"mqtt out","z":"27050a54.ab98c6","name":"MQTTKitchenRelayOut","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"f38b33e6.25fd6","x":850.7639007568359,"y":222.03705596923828,"wires":[]},{"id":"a90ac7be.5119c8","type":"switch","z":"27050a54.ab98c6","name":"SwitchKitchenPIR","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BATT","vt":"str"},{"t":"cont","v":"BUTTONAON","vt":"str"},{"t":"cont","v":"BUTTONAOF","vt":"str"}],"checkall":"true","outputs":3,"x":395.75694274902344,"y":114.16667175292969,"wires":[["28259a87.c1faf6"],["678a14e.8038dec","63924d27.775f44"],["678a14e.8038dec","63924d27.775f44"]]},{"id":"28259a87.c1faf6","type":"debug","z":"27050a54.ab98c6","name":"dbBatteryKitchenPIR","active":false,"console":"false","complete":"payload","x":619.7616119384766,"y":44.206016540527344,"wires":[]},{"id":"678a14e.8038dec","type":"function","z":"27050a54.ab98c6","name":"ControlKitchenLights","func":"state = msg.payload.slice(7,9);\ntime=new Date();\nswitch (state) {\n    case \"ON\":\n        msg.payload=\"aKLRELAYAON-\";\n        flow.set('button',\"On\");\n        flow.set('nmTime',time);\n        break;\n    case \"OF\":\n        flow.set('button',\"NoMotion\");\n        flow.set('nmTime',time);\n        msg = null;\n        break;\n    default:\n        msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":594.7616119384766,"y":188.8935317993164,"wires":[["a4c3402d.95b45","c3c8e035.53cdc"]]},{"id":"f0a99dc8.26c71","type":"inject","z":"27050a54.ab98c6","name":"injectCheckKitchenLights","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":192.75926208496094,"y":303.65047454833984,"wires":[["1c2063dc.1810dc"]]},{"id":"1c2063dc.1810dc","type":"function","z":"27050a54.ab98c6","name":"CheckKitchenLights","func":"time=new Date();\nmsg.payload = null;\nif (flow.get('button') == \"NoMotion\") {\n    nmTime = flow.get('nmTime');\n    if ((time-nmTime) > 45000) {\n        msg.payload=\"aKLRELAYAOFF\";\n        flow.set('button',\"OFF\");\n    }    \n}\nif (msg.payload !== null) {\n    return msg;\n}","outputs":1,"noerr":0,"x":589.7616119384766,"y":267.1111068725586,"wires":[["e1b14ae4.dc9578","c3c8e035.53cdc"]]},{"id":"a4c3402d.95b45","type":"debug","z":"27050a54.ab98c6","name":"dbAfterControl","active":false,"console":"false","complete":"payload","x":843.7569427490234,"y":180.2083511352539,"wires":[]},{"id":"7dee3a03.56b294","type":"inject","z":"27050a54.ab98c6","name":"injectButtonOn","topic":"","payload":"BUTTONAON","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.75462341308594,"y":27.65509033203125,"wires":[["a90ac7be.5119c8"]]},{"id":"2962ba9e.d36ab6","type":"inject","z":"27050a54.ab98c6","name":"injectButtonOff","topic":"","payload":"BUTTONAOF","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.76388549804688,"y":69.65740203857422,"wires":[["a90ac7be.5119c8"]]},{"id":"63924d27.775f44","type":"debug","z":"27050a54.ab98c6","name":"dbBefore","active":false,"console":"false","complete":"payload","x":614.7639007568359,"y":111.87963104248047,"wires":[]},{"id":"ce1e458.10b89b8","type":"debug","z":"27050a54.ab98c6","name":"dbFlownmTime","active":false,"console":"false","complete":"topic","x":794.7639007568359,"y":357.87271881103516,"wires":[]},{"id":"cd38c5a5.c4b1b8","type":"function","z":"27050a54.ab98c6","name":"PrepFlowVariables","func":"time = new Date();\nmsg.payload = flow.get('button');\nnmTime = flow.get('nmTime');\nmsg.topic = (time-nmTime)/1000;\nreturn [msg];","outputs":"1","noerr":0,"x":581.7639312744141,"y":326.15047454833984,"wires":[["12413c85.4e7843","ce1e458.10b89b8"]]},{"id":"12413c85.4e7843","type":"debug","z":"27050a54.ab98c6","name":"dbFlowButton","active":false,"console":"false","complete":"payload","x":798.7546234130859,"y":317.4745559692383,"wires":[]},{"id":"ca4c910b.e4508","type":"inject","z":"27050a54.ab98c6","name":"injectCheckFlows","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":254.76158142089844,"y":346.9838180541992,"wires":[["cd38c5a5.c4b1b8"]]},{"id":"e1b14ae4.dc9578","type":"debug","z":"27050a54.ab98c6","name":"dbAfterCheck","active":false,"console":"false","complete":"payload","x":795.7569732666016,"y":274.6227035522461,"wires":[]},{"id":"f436b56c.163728","type":"mqtt in","z":"7ee81ceb.c3ae84","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"ba51ef9e.fcf42","x":172.3333282470703,"y":66.33332824707031,"wires":[["f9b04e7b.610ed","e7dc92ce.e7348"]]},{"id":"f9b04e7b.610ed","type":"function","z":"7ee81ceb.c3ae84","name":"PrepDNTweet","func":"t=new Date().toString();\ntime = t.slice(15,28);\nif (msg.payload == \"day\") {\n    msg.payload = (\"LL says it's day at \" + time);\n}\nif (msg.payload == \"night\") {\n    msg.payload = (\"LL says it's night at \" + time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.3333282470703,"y":66.13887023925781,"wires":[["4f19f970.1c1748"]]},{"id":"4f19f970.1c1748","type":"twitter out","z":"7ee81ceb.c3ae84","twitter":"58842361.c8aa1c","name":"DayNightTweet","x":557.3333587646484,"y":66.94212341308594,"wires":[]},{"id":"e7dc92ce.e7348","type":"function","z":"7ee81ceb.c3ae84","name":"PrepMotePhat","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"off\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"on\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.3263702392578,"y":115.81248474121094,"wires":[["5328fd7d.8cde34","b693483c.264dd8"]]},{"id":"5328fd7d.8cde34","type":"mqtt out","z":"7ee81ceb.c3ae84","name":"mqttMotePhat","topic":"PiforLiam/motephat","qos":"2","retain":"","broker":"ba51ef9e.fcf42","x":560.3310394287109,"y":115.76155090332031,"wires":[]},{"id":"ca7df8ca.2d8458","type":"inject","z":"7ee81ceb.c3ae84","name":"","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.33563232421875,"y":175.4536895751953,"wires":[["e7dc92ce.e7348"]]},{"id":"647bc7e0.30b288","type":"inject","z":"7ee81ceb.c3ae84","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.32637023925781,"y":223.4513702392578,"wires":[["e7dc92ce.e7348"]]},{"id":"b693483c.264dd8","type":"debug","z":"7ee81ceb.c3ae84","name":"","active":false,"console":"false","complete":"false","x":528.3287200927734,"y":180.38426208496094,"wires":[]},{"id":"924de17b.97ec6","type":"inject","z":"7ee81ceb.c3ae84","name":"","topic":"","payload":"BRIGHT 0.2","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.71589660644531,"y":267.7708053588867,"wires":[["5328fd7d.8cde34"]]},{"id":"902c9064.eb402","type":"ui_gauge","z":"40a8c52d.8cb8cc","name":"Light Meter Battery","group":"997c9f25.6aa82","order":1,"width":"3","height":"3","gtype":"wave","title":"Gauge","label":"units","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"x":790.7545928955078,"y":167.83334350585938,"wires":[]},{"id":"c85f754d.acf588","type":"function","z":"40a8c52d.8cb8cc","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n//    msg.payload=value;\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":548.7568817138672,"y":47.3101806640625,"wires":[["b4ee5699.3ede98","54c6913d.7b619","3992a92e.9f20d6"],["902c9064.eb402","b4ee5699.3ede98","3992a92e.9f20d6"]]},{"id":"54c6913d.7b619","type":"sqlite","z":"40a8c52d.8cb8cc","mydb":"716c7d51.c1b9b4","name":"PiForLiamLightLevelsChartdata","x":837.4282073974609,"y":43.437469482421875,"wires":[["5832cbd4.906574","41f2c065.ce85c"]]},{"id":"5832cbd4.906574","type":"debug","z":"40a8c52d.8cb8cc","name":"dbLightFromDatabase","active":false,"console":"false","complete":"true","x":1130.75927734375,"y":44.9930419921875,"wires":[]},{"id":"b4ee5699.3ede98","type":"debug","z":"40a8c52d.8cb8cc","name":"dbprepLightUI","active":false,"console":"false","complete":"true","x":552.7639007568359,"y":92.9930419921875,"wires":[]},{"id":"41f2c065.ce85c","type":"function","z":"40a8c52d.8cb8cc","name":"TestChartDB","func":"var tuple = [];\nvar values = [];\nvar form = [];\nfor (i=0;i<msg.payload.length;i++) {\n    tuple=[msg.payload[i].time,msg.payload[i].value];\n    values[i] = tuple;\n}\nkey=\"LL\";\nform = [{key,values}];\nmsg.payload=form;\nmsg.topic=\"LL\";\nreturn msg;","outputs":1,"noerr":0,"x":775.7546577453613,"y":84.49307250976562,"wires":[["82f54411.670168","a5573d45.691cb"]]},{"id":"82f54411.670168","type":"debug","z":"40a8c52d.8cb8cc","name":"dbToChart","active":false,"console":"false","complete":"true","x":971.7546577453613,"y":85.3240966796875,"wires":[]},{"id":"a5573d45.691cb","type":"ui_chart","z":"40a8c52d.8cb8cc","name":"Light Level Chart","group":"b96cfb6.e945608","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"x":790.2661895751953,"y":126.28240203857422,"wires":[[],[]]},{"id":"3992a92e.9f20d6","type":"function","z":"40a8c52d.8cb8cc","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('lllastheard') || time;\ncontext.set('lllastheard',lh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-lh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-lh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-lh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-lh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-lh) > 3600000) {\nmsg.payload = lh;\n}\nif (msg.topic != \"checking\") {\n    context.set('lllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.7568817138672,"y":142.63194274902344,"wires":[["fb51f00e.591e8"]]},{"id":"fb51f00e.591e8","type":"ui_template","z":"40a8c52d.8cb8cc","group":"997c9f25.6aa82","name":"LLLastheardText","order":6,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Light last heard at </p></p>\n    <div ng-bind-html=\"msg.payload\"></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":781.2661590576172,"y":211.2824249267578,"wires":[[]]},{"id":"abd63413.38ae38","type":"ui_gauge","z":"40a8c52d.8cb8cc","name":"KitchenPIRBattery","group":"997c9f25.6aa82","order":2,"width":"3","height":"3","gtype":"wave","title":"Kitchen PIR Battery","label":"units","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"x":782.8333053588867,"y":299.66663360595703,"wires":[]},{"id":"435b3627.57a968","type":"ui_text","z":"40a8c52d.8cb8cc","group":"997c9f25.6aa82","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"PIR last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":791.8333053588867,"y":338.3333206176758,"wires":[]},{"id":"cae0cda0.26ccd","type":"ui_text","z":"40a8c52d.8cb8cc","group":"997c9f25.6aa82","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":783.8333053588867,"y":261.3333206176758,"wires":[]},{"id":"1e33e6a8.277589","type":"ui_text","z":"40a8c52d.8cb8cc","group":"997c9f25.6aa82","order":4,"width":0,"height":0,"name":"KitchenRelayStatus","label":"Relay is ","format":"{{msg.payload}}","layout":"row-spread","x":784.8333129882812,"y":397.3332977294922,"wires":[]},{"id":"7931e127.cb88a","type":"mqtt in","z":"40a8c52d.8cb8cc","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"5d1cbbbc.5c7174","x":80.83332824707031,"y":61.000030517578125,"wires":[["5bdfa000.049cd","b82028cc.612d08"]]},{"id":"5bdfa000.049cd","type":"switch","z":"40a8c52d.8cb8cc","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KL","vt":"str"}],"checkall":"true","outputs":3,"x":304.83331298828125,"y":61.666656494140625,"wires":[["c85f754d.acf588"],["18481990.371896"],["5631a805.3dd748"]]},{"id":"18481990.371896","type":"function","z":"40a8c52d.8cb8cc","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":544.8333435058594,"y":254.33331298828125,"wires":[["3b9fa4f9.6024cc","16f5a424.60c41c","cae0cda0.26ccd"],["3b9fa4f9.6024cc","16f5a424.60c41c","abd63413.38ae38"]]},{"id":"3b9fa4f9.6024cc","type":"debug","z":"40a8c52d.8cb8cc","name":"dbPrepPIRUI","active":false,"console":"false","complete":"payload","x":542.8333435058594,"y":294.33331298828125,"wires":[]},{"id":"16f5a424.60c41c","type":"function","z":"40a8c52d.8cb8cc","name":"prepPIRLastHeard","func":"time=new Date();\nvar ph = context.get('kplastheard') || time;\ncontext.set('kplastheard',ph);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-ph) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-ph) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-ph) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-ph) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-ph) > 3600000) {\nmsg.payload = ph;\n}\nif (msg.topic != \"checking\") {\n    context.set('kplastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.8901062011719,"y":338.40909576416016,"wires":[["435b3627.57a968"]]},{"id":"6caac329.bb0a3c","type":"ui_text","z":"40a8c52d.8cb8cc","group":"997c9f25.6aa82","order":7,"width":0,"height":0,"name":"KitchenRelayLastHeard","label":"Relay last heard at","format":"{{msg.payload}}","layout":"row-spread","x":807.8957443237305,"y":482.348445892334,"wires":[]},{"id":"5631a805.3dd748","type":"function","z":"40a8c52d.8cb8cc","name":"prepRelayUI","func":"if (msg.payload ==\"RELAYAON-\") {\n    msg.payload = \"ON\"\n    return msg;\n}\nif (msg.payload ==\"RELAYAOFF\") {\n    msg.payload = \"OFF\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":541.5795288085938,"y":397.7878723144531,"wires":[["ca87bd39.938a","1137e6b8.7a8c99","1e33e6a8.277589"]]},{"id":"ca87bd39.938a","type":"debug","z":"40a8c52d.8cb8cc","name":"dbPrepRelayUI","active":false,"console":"false","complete":"payload","x":549.5795288085938,"y":437.7878723144531,"wires":[]},{"id":"1137e6b8.7a8c99","type":"function","z":"40a8c52d.8cb8cc","name":"prepRelayLastHeard","func":"time=new Date();\nvar rh = context.get('kllastheard') || time;\ncontext.set('kllastheard',rh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-rh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-rh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-rh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-rh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-rh) > 3600000) {\nmsg.payload = rh;\n}\nif (msg.topic != \"checking\") {\n    context.set('kllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":565.6362915039062,"y":481.86365509033203,"wires":[["6caac329.bb0a3c"]]},{"id":"6e02ab54.8e6924","type":"inject","z":"40a8c52d.8cb8cc","name":"inCheckRelay","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"60","crontab":"","once":false,"x":105.71589660644531,"y":205.76512908935547,"wires":[["54694212.ff830c"]]},{"id":"54694212.ff830c","type":"mqtt out","z":"40a8c52d.8cb8cc","name":"mqttCheckKitchenRelay","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"5d1cbbbc.5c7174","x":311.71209716796875,"y":206.13257598876953,"wires":[]},{"id":"b82028cc.612d08","type":"debug","z":"40a8c52d.8cb8cc","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":274.710205078125,"y":115.78218841552734,"wires":[]},{"id":"f81b6fe2.e1fa1","type":"inject","z":"40a8c52d.8cb8cc","name":"CheckLastHeard","topic":"checking","payload":"","payloadType":"date","repeat":"66","crontab":"","once":false,"x":276.710205078125,"y":337.52269744873047,"wires":[["3992a92e.9f20d6","16f5a424.60c41c","1137e6b8.7a8c99"]]},{"id":"c56efb2b.658c68","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","broker":"15d18be9.e56354","x":109.16667175292969,"y":50.333335876464844,"wires":[["8a21f602.061b68","279d1904.efb066"]]},{"id":"2f563a0b.fa44c6","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","broker":"15d18be9.e56354","x":115.16667175292969,"y":98.33334350585938,"wires":[["862824bf.185b58","4498d77.8236028"]]},{"id":"ed84b937.9fe0a8","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","broker":"15d18be9.e56354","x":113.16667175292969,"y":142.33334350585938,"wires":[["5c007735.08de28"]]},{"id":"c7070437.8e69a8","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","broker":"15d18be9.e56354","x":95.16667175292969,"y":188.33334350585938,"wires":[["8757511f.83172"]]},{"id":"e618c812.c8f428","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","broker":"15d18be9.e56354","x":97.16667175292969,"y":234.33334350585938,"wires":[["e4199e76.e288e"]]},{"id":"8a21f602.061b68","type":"function","z":"afdb5610.ef6678","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["2ab0addd.4dcac2","d218a71a.4b3498"]]},{"id":"862824bf.185b58","type":"function","z":"afdb5610.ef6678","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["2ab0addd.4dcac2","998895a3.1607d8"]]},{"id":"5c007735.08de28","type":"function","z":"afdb5610.ef6678","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["2ab0addd.4dcac2"]]},{"id":"8757511f.83172","type":"function","z":"afdb5610.ef6678","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["2ab0addd.4dcac2"]]},{"id":"e4199e76.e288e","type":"function","z":"afdb5610.ef6678","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["2ab0addd.4dcac2"]]},{"id":"2ab0addd.4dcac2","type":"ui_chart","z":"afdb5610.ef6678","name":"chartTemperatures","group":"dc54adea.b74db","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":533.1666870117188,"y":141.6666717529297,"wires":[[],[]]},{"id":"279d1904.efb066","type":"debug","z":"afdb5610.ef6678","name":"dbBTIn","active":true,"console":"false","complete":"true","x":435.16668701171875,"y":288.66668701171875,"wires":[]},{"id":"4498d77.8236028","type":"debug","z":"afdb5610.ef6678","name":"dbSTIn","active":true,"console":"false","complete":"true","x":417.16668701171875,"y":328.66668701171875,"wires":[]},{"id":"d218a71a.4b3498","type":"debug","z":"afdb5610.ef6678","name":"dbBTOut","active":true,"console":"false","complete":"true","x":665.1666870117188,"y":290.66668701171875,"wires":[]},{"id":"998895a3.1607d8","type":"debug","z":"afdb5610.ef6678","name":"dbSTOut","active":true,"console":"false","complete":"true","x":645.1666870117188,"y":332.66668701171875,"wires":[]}]
