flows.json
[{"id":"18496052.925a6","type":"tab","label":"LLAP Hub"},{"id":"ffd3a167.02a7b","type":"tab","label":"Light Levels"},{"id":"b30e0ec5.c6f58","type":"tab","label":"Kitchen LEDs"},{"id":"41ae73a3.9237dc","type":"tab","label":"Mote Phat"},{"id":"6a27fcf6.e28e34","type":"tab","label":"User Interface"},{"id":"bc2997ce.e31788","type":"tab","label":"Temps"},{"id":"868330db.8a12f","type":"tab","label":"Sonoff1","disabled":false,"info":""},{"id":"78847a0a.22d444","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"12","bin":"false","out":"count","addchar":false},{"id":"3b7265f0.c3c22a","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"1","bin":"false","out":"count","addchar":false},{"id":"bb14b904.d08b58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c606626a.a1b46","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d9009859.60ebb8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c23cd95a.cf7958","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"25a4548c.bd214c","type":"ui_group","z":"","name":"Status","tab":"8630d932.184298","order":1,"disp":true,"width":"10"},{"id":"6c6491ee.65508","type":"ui_group","z":"","name":"Light Levels","tab":"8630d932.184298","order":2,"disp":true,"width":"10"},{"id":"9363064a.f247e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8630d932.184298","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4a578da2.c71994","type":"twitter-credentials","z":"","screen_name":"@LiamONeill34"},{"id":"2b6bf68b.4cb66a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#50c8cb","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#50c8cb","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#8bdbdd","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#50c8cb","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"66b2c691.507818","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2},{"id":"f6823baa.5b6db8","type":"ui_group","z":"","name":"Temps","tab":"66b2c691.507818","order":1,"disp":true,"width":"16"},{"id":"829529b0.5d9ec8","type":"ui_group","z":"","name":"Battery","tab":"66b2c691.507818","order":2,"disp":true,"width":"14"},{"id":"97620621.2a7088","type":"serial in","z":"18496052.925a6","name":"SliceOfRadioIn","serial":"3b7265f0.c3c22a","x":323.75462341308594,"y":102.8865737915039,"wires":[["b099d099.19643","a6766419.fb0998"]]},{"id":"d764d73e.05d0f8","type":"debug","z":"18496052.925a6","name":"dbSliceOfRadioIn","active":true,"console":"false","complete":"true","x":780.7546234130859,"y":48.773162841796875,"wires":[]},{"id":"b099d099.19643","type":"function","z":"18496052.925a6","name":"CreateLLAPMessage","func":"// name: CreateLLAPMessage\n// outputs: 2\n// anything stored in context is kept available for next time we get called\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\nfailedMsg=\"\";\n\n// wait for an a and reset the buffer and counter\nif (msg.payload == \"a\") { \n        if (context.count !== 0) {\n         failedMsg = context.buff;\n        }\n        context.count = 0; \n        context.buff = \"\"; \n} // this does mean the a must NOT appear elsewhere in the message\n\n// add payload to the buffer and increase the count\ncontext.buff = context.buff + msg.payload;\ncontext.count += 1;\n// when we reach 11 then output the whole message, assumes length is the a plus 11 - may need to tweak...\nif (context.count == 12) {\n    msg.topic = \"PiForLiam/Received/\" + context.buff.slice(1,3);\t// return the first two chars as the topic\n    msg.payload = context.buff.slice(3);\t// return rest of the buffer as the payload\n    context.count = 0;\n    return [msg,null];\n}\nif (failedMsg !== \"\") {\n    fmsg.payload=failedMsg;\n    return [null,fmsg]\n}\nreturn [null,null];","outputs":"2","noerr":0,"x":546.7569427490234,"y":103.125,"wires":[["d764d73e.05d0f8","85cdbf6c.322a7"],["68e2cd1f.be4434","ccb0272a.407be8"]]},{"id":"68e2cd1f.be4434","type":"debug","z":"18496052.925a6","name":"dbFailedMsg","active":false,"console":"false","complete":"true","x":764.7592620849609,"y":155.43983459472656,"wires":[]},{"id":"85cdbf6c.322a7","type":"mqtt out","z":"18496052.925a6","name":"MQTTReceieved","topic":"","qos":"","retain":"","broker":"bb14b904.d08b58","x":779.7616119384766,"y":94.7037124633789,"wires":[]},{"id":"6c2a7760.a86968","type":"mqtt in","z":"18496052.925a6","name":"MQTTTransmit","topic":"PiForLiam/Transmit","qos":"2","broker":"bb14b904.d08b58","x":334.1666564941406,"y":252.3333282470703,"wires":[["89712543.29fe68","9607ab78.884ea8"]]},{"id":"89712543.29fe68","type":"serial out","z":"18496052.925a6","name":"SliceOfRadioOut","serial":"3b7265f0.c3c22a","x":578.1666564941406,"y":253.6666717529297,"wires":[]},{"id":"9607ab78.884ea8","type":"debug","z":"18496052.925a6","name":"dbSliceOfRadioOut","active":false,"console":"false","complete":"payload","x":572.166675567627,"y":301.00001525878906,"wires":[]},{"id":"80918b12.bf17e8","type":"inject","z":"18496052.925a6","name":"","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"","crontab":"","once":false,"x":364.1666564941406,"y":355.00001525878906,"wires":[["89712543.29fe68"]]},{"id":"1a390da7.0774a2","type":"file","z":"18496052.925a6","name":"FailedMessageLog","filename":"/home/pi/failedMessageLog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":969.5,"y":209.6666717529297,"wires":[]},{"id":"ccb0272a.407be8","type":"function","z":"18496052.925a6","name":"prepFailedMessage","func":"time = new Date();\nfailedMsg = msg.payload;\nmsg.payload = time + \" : \" + failedMsg;\nreturn msg;","outputs":1,"noerr":0,"x":969.5,"y":157.6666717529297,"wires":[["1a390da7.0774a2"]]},{"id":"a6766419.fb0998","type":"debug","z":"18496052.925a6","name":"dbSerialIn","active":false,"console":"false","complete":"payload","x":475.5,"y":167,"wires":[]},{"id":"f0f85a96.683998","type":"function","z":"ffd3a167.02a7b","name":"PrepareLightLevelsDB","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    device=2;\n    time=new Date().toString();\n    value=msg.payload.slice(4,9);\n    msg.topic=\"INSERT INTO lightLevel(device,time,value) VALUES (\" + device +\",'\" + time + \"',\" + value + \")\";\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":387.99998474121094,"y":231.0000228881836,"wires":[["251f5be3.062c04","2d9ee720.4d5918"],["2840ce00.4efbd2"]]},{"id":"68d505e.bb40dfc","type":"inject","z":"ffd3a167.02a7b","name":"","topic":"LL","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.0023193359375,"y":172.02777862548828,"wires":[["f0f85a96.683998"]]},{"id":"251f5be3.062c04","type":"debug","z":"ffd3a167.02a7b","name":"dbSQL","active":false,"console":"false","complete":"true","x":646.0092926025391,"y":142.80555725097656,"wires":[]},{"id":"4d65dcb4.008524","type":"mqtt in","z":"ffd3a167.02a7b","name":"MQTTLightLevel","topic":"PiForLiam/Received/LL","qos":"2","broker":"c606626a.a1b46","x":122.0023193359375,"y":225.8912124633789,"wires":[["f0f85a96.683998"]]},{"id":"2840ce00.4efbd2","type":"debug","z":"ffd3a167.02a7b","name":"dbLLBattery","active":false,"console":"false","complete":"true","x":652.7592620849609,"y":283.91666412353516,"wires":[]},{"id":"2d9ee720.4d5918","type":"function","z":"ffd3a167.02a7b","name":"checkDayNight","func":"value=msg.payload.slice(4,9);\n//var v = context.get('oldValue') || 0;\n//var d = context.get('daynight') || \"night\";\n//context.set('oldValue',v);\n//context.set('daynight',d);\nmsg.payload=null;\nif (value < 40) {\n    if (context.get('oldValue') < 40) {\n        if (context.get('daynight') ===\"day\") {\n            msg.payload = \"night\";\n        }    \n        context.set('daynight', \"night\");\n    }\n} else if (value > 55) {\n    if (context.get('oldValue') > 55) {\n        if (context.get('daynight') === \"night\") {\n            msg.payload = \"day\";\n        }    \n        context.set('daynight', \"day\");\n    }\n}\ncontext.set('oldValue', value);\nif (msg.payload !== null) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":663.7615814208984,"y":93.96295928955078,"wires":[["b0ee7f6c.81a72"]]},{"id":"b0ee7f6c.81a72","type":"mqtt out","z":"ffd3a167.02a7b","name":"DayNight","topic":"PiForLiam/daynight/","qos":"2","retain":"","broker":"c606626a.a1b46","x":840.9999847412109,"y":94,"wires":[]},{"id":"7756d811.6e1838","type":"inject","z":"ffd3a167.02a7b","name":"","topic":"","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":377.75926208496094,"y":90.65277862548828,"wires":[["2d9ee720.4d5918"]]},{"id":"cae75408.dbc608","type":"inject","z":"ffd3a167.02a7b","name":"","topic":"","payload":"LVAL94.29","payloadType":"str","repeat":"","crontab":"","once":false,"x":374.75694274902344,"y":49.65740966796875,"wires":[["2d9ee720.4d5918"]]},{"id":"328afb4d.0c7b14","type":"inject","z":"ffd3a167.02a7b","name":"","topic":"","payload":"BATT2.70-","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.76388549804688,"y":128.65045928955078,"wires":[["f0f85a96.683998"]]},{"id":"242acc82.9c2174","type":"mqtt in","z":"b30e0ec5.c6f58","name":"MQTTKitchenPIR","topic":"PiForLiam/Received/KP","qos":"2","broker":"d9009859.60ebb8","x":164.76158142089844,"y":111.52083587646484,"wires":[["73ef3c71.935294"]]},{"id":"436b8561.4d910c","type":"mqtt out","z":"b30e0ec5.c6f58","name":"MQTTKitchenRelayOut","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"d9009859.60ebb8","x":850.7639007568359,"y":222.03705596923828,"wires":[]},{"id":"73ef3c71.935294","type":"switch","z":"b30e0ec5.c6f58","name":"SwitchKitchenPIR","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BATT","vt":"str"},{"t":"cont","v":"BUTTONAON","vt":"str"},{"t":"cont","v":"BUTTONAOF","vt":"str"}],"checkall":"true","outputs":3,"x":395.75694274902344,"y":114.16667175292969,"wires":[["4f03623c.1b584c"],["7f04d9b7.462db8","be5325ac.9ebee8"],["7f04d9b7.462db8","be5325ac.9ebee8"]]},{"id":"4f03623c.1b584c","type":"debug","z":"b30e0ec5.c6f58","name":"dbBatteryKitchenPIR","active":false,"console":"false","complete":"payload","x":619.7616119384766,"y":44.206016540527344,"wires":[]},{"id":"7f04d9b7.462db8","type":"function","z":"b30e0ec5.c6f58","name":"ControlKitchenLights","func":"state = msg.payload.slice(7,9);\ntime=new Date();\nswitch (state) {\n    case \"ON\":\n        msg.payload=\"aKLRELAYAON-\";\n        flow.set('button',\"On\");\n        flow.set('nmTime',time);\n        break;\n    case \"OF\":\n        flow.set('button',\"NoMotion\");\n        flow.set('nmTime',time);\n        msg = null;\n        break;\n    default:\n        msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["da57a30a.5fe54","436b8561.4d910c"]]},{"id":"c05968e7.0b3688","type":"inject","z":"b30e0ec5.c6f58","name":"injectCheckKitchenLights","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":192.75926208496094,"y":303.65047454833984,"wires":[["1811234b.296fdd"]]},{"id":"1811234b.296fdd","type":"function","z":"b30e0ec5.c6f58","name":"CheckKitchenLights","func":"time=new Date();\nmsg.payload = null;\nif (flow.get('button') == \"NoMotion\") {\n    nmTime = flow.get('nmTime');\n    if ((time-nmTime) > 45000) {\n        msg.payload=\"aKLRELAYAOFF\";\n        flow.set('button',\"OFF\");\n    }    \n}\nif (msg.payload !== null) {\n    return msg;\n}","outputs":1,"noerr":0,"x":589.7616119384766,"y":267.1111068725586,"wires":[["8e56f3c0.ba9fe","436b8561.4d910c"]]},{"id":"da57a30a.5fe54","type":"debug","z":"b30e0ec5.c6f58","name":"dbAfterControl","active":true,"console":"false","complete":"payload","x":843.7569427490234,"y":180.2083511352539,"wires":[]},{"id":"e3bad238.41504","type":"inject","z":"b30e0ec5.c6f58","name":"injectButtonOn","topic":"","payload":"BUTTONAON","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.75462341308594,"y":27.65509033203125,"wires":[["73ef3c71.935294"]]},{"id":"7c3b38e6.259598","type":"inject","z":"b30e0ec5.c6f58","name":"injectButtonOff","topic":"","payload":"BUTTONAOF","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.76388549804688,"y":69.65740203857422,"wires":[["73ef3c71.935294"]]},{"id":"be5325ac.9ebee8","type":"debug","z":"b30e0ec5.c6f58","name":"dbBefore","active":true,"console":"false","complete":"payload","x":614.7639007568359,"y":111.87963104248047,"wires":[]},{"id":"7fa6d07c.76134","type":"debug","z":"b30e0ec5.c6f58","name":"dbFlownmTime","active":false,"console":"false","complete":"topic","x":794.7639007568359,"y":357.87271881103516,"wires":[]},{"id":"8653ee67.c3259","type":"function","z":"b30e0ec5.c6f58","name":"PrepFlowVariables","func":"time = new Date();\nmsg.payload = flow.get('button');\nnmTime = flow.get('nmTime');\nmsg.topic = (time-nmTime)/1000;\nreturn [msg];","outputs":"1","noerr":0,"x":581.7639312744141,"y":326.15047454833984,"wires":[["de173624.46b3c8","7fa6d07c.76134"]]},{"id":"de173624.46b3c8","type":"debug","z":"b30e0ec5.c6f58","name":"dbFlowButton","active":false,"console":"false","complete":"payload","x":798.7546234130859,"y":317.4745559692383,"wires":[]},{"id":"b6cd589.c668ca8","type":"inject","z":"b30e0ec5.c6f58","name":"injectCheckFlows","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":254.76158142089844,"y":346.9838180541992,"wires":[["8653ee67.c3259"]]},{"id":"8e56f3c0.ba9fe","type":"debug","z":"b30e0ec5.c6f58","name":"dbAfterCheck","active":false,"console":"false","complete":"payload","x":795.7569732666016,"y":274.6227035522461,"wires":[]},{"id":"5030cca5.981354","type":"mqtt in","z":"41ae73a3.9237dc","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"c23cd95a.cf7958","x":172.3333282470703,"y":66.33332824707031,"wires":[["3a5f510d.b430ae","c0ddae40.8902"]]},{"id":"3a5f510d.b430ae","type":"function","z":"41ae73a3.9237dc","name":"PrepDNTweet","func":"t=new Date().toString();\ntime = t.slice(15,28);\nif (msg.payload == \"day\") {\n    msg.payload = (\"LL says it's day at \" + time);\n}\nif (msg.payload == \"night\") {\n    msg.payload = (\"LL says it's night at \" + time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.3333282470703,"y":66.13887023925781,"wires":[["dbd7001d.798af"]]},{"id":"dbd7001d.798af","type":"twitter out","z":"41ae73a3.9237dc","twitter":"4a578da2.c71994","name":"DayNightTweet","x":557.3333587646484,"y":66.94212341308594,"wires":[]},{"id":"c0ddae40.8902","type":"function","z":"41ae73a3.9237dc","name":"PrepMotePhat","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"off\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"on\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.3263702392578,"y":115.81248474121094,"wires":[["6334f305.bae42c","eaa76e98.fc3f1"]]},{"id":"6334f305.bae42c","type":"mqtt out","z":"41ae73a3.9237dc","name":"mqttMotePhat","topic":"PiforLiam/motephat","qos":"2","retain":"","broker":"c23cd95a.cf7958","x":560.3310394287109,"y":115.76155090332031,"wires":[]},{"id":"a92fc86b.6a59f8","type":"inject","z":"41ae73a3.9237dc","name":"","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.33563232421875,"y":175.4536895751953,"wires":[["c0ddae40.8902"]]},{"id":"dcf76d38.de004","type":"inject","z":"41ae73a3.9237dc","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.32637023925781,"y":223.4513702392578,"wires":[["c0ddae40.8902"]]},{"id":"eaa76e98.fc3f1","type":"debug","z":"41ae73a3.9237dc","name":"","active":false,"console":"false","complete":"false","x":528.3287200927734,"y":180.38426208496094,"wires":[]},{"id":"5f93caa5.44b7d4","type":"inject","z":"41ae73a3.9237dc","name":"","topic":"","payload":"BRIGHT 0.2","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.71589660644531,"y":267.7708053588867,"wires":[["6334f305.bae42c"]]},{"id":"895e0bcb.e6da68","type":"ui_gauge","z":"6a27fcf6.e28e34","name":"Light Meter Battery","group":"25a4548c.bd214c","order":1,"width":"3","height":"3","gtype":"wave","title":"Gauge","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790.7545928955078,"y":167.83334350585938,"wires":[]},{"id":"f1f027.e1e4cfd8","type":"function","z":"6a27fcf6.e28e34","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":548.7568817138672,"y":47.3101806640625,"wires":[["361251d0.dfba8e","bcc9f6be.6a1628","5e87c3d.431d03c"],["895e0bcb.e6da68","361251d0.dfba8e","bcc9f6be.6a1628"]]},{"id":"fcf91476.2bc598","type":"debug","z":"6a27fcf6.e28e34","name":"dbLightFromDatabase","active":false,"console":"false","complete":"true","x":1130.75927734375,"y":44.9930419921875,"wires":[]},{"id":"361251d0.dfba8e","type":"debug","z":"6a27fcf6.e28e34","name":"dbprepLightUI","active":false,"console":"false","complete":"true","x":552.7639007568359,"y":92.9930419921875,"wires":[]},{"id":"fd933f7d.3ec1f","type":"function","z":"6a27fcf6.e28e34","name":"TestChartDB","func":"var tuple = [];\nvar values = [];\nvar form = [];\nfor (i=0;i<msg.payload.length;i++) {\n    tuple=[msg.payload[i].time,msg.payload[i].value];\n    values[i] = tuple;\n}\nkey=\"LL\";\nform = [{key,values}];\nmsg.payload=form;\nmsg.topic=\"LL\";\nreturn msg;","outputs":1,"noerr":0,"x":775.7546577453613,"y":84.49307250976562,"wires":[["e87681c2.76bce","5e87c3d.431d03c"]]},{"id":"e87681c2.76bce","type":"debug","z":"6a27fcf6.e28e34","name":"dbToChart","active":false,"console":"false","complete":"true","x":971.7546577453613,"y":85.3240966796875,"wires":[]},{"id":"5e87c3d.431d03c","type":"ui_chart","z":"6a27fcf6.e28e34","name":"Light Level Chart","group":"6c6491ee.65508","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"x":790.2661895751953,"y":126.28240203857422,"wires":[[],[]]},{"id":"bcc9f6be.6a1628","type":"function","z":"6a27fcf6.e28e34","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('lllastheard') || time;\ncontext.set('lllastheard',lh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-lh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-lh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-lh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-lh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-lh) > 3600000) {\nmsg.payload = lh;\n}\nif (msg.topic != \"checking\") {\n    context.set('lllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.7568817138672,"y":142.63194274902344,"wires":[["172457e9.732108"]]},{"id":"172457e9.732108","type":"ui_template","z":"6a27fcf6.e28e34","group":"25a4548c.bd214c","name":"LLLastheardText","order":6,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Light last heard at </p></p>\n    <div ng-bind-html=\"msg.payload\"></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":781.2661590576172,"y":211.2824249267578,"wires":[[]]},{"id":"debbf16f.12608","type":"ui_gauge","z":"6a27fcf6.e28e34","name":"KitchenPIRBattery","group":"25a4548c.bd214c","order":2,"width":"3","height":"3","gtype":"wave","title":"Kitchen PIR Battery","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":782.8333053588867,"y":299.66663360595703,"wires":[]},{"id":"1b0e1d.eeea81e3","type":"ui_text","z":"6a27fcf6.e28e34","group":"25a4548c.bd214c","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"PIR last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":791.8333053588867,"y":338.3333206176758,"wires":[]},{"id":"e617d870.1192f8","type":"ui_text","z":"6a27fcf6.e28e34","group":"25a4548c.bd214c","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":783.8333053588867,"y":261.3333206176758,"wires":[]},{"id":"8476353a.a282b8","type":"ui_text","z":"6a27fcf6.e28e34","group":"25a4548c.bd214c","order":4,"width":0,"height":0,"name":"KitchenRelayStatus","label":"Relay is ","format":"{{msg.payload}}","layout":"row-spread","x":784.8333129882812,"y":397.3332977294922,"wires":[]},{"id":"85b8d84a.f69548","type":"mqtt in","z":"6a27fcf6.e28e34","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"9363064a.f247e8","x":80.83332824707031,"y":61.000030517578125,"wires":[["bb93887a.2bde08","431dfdf3.d1b684"]]},{"id":"bb93887a.2bde08","type":"switch","z":"6a27fcf6.e28e34","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KL","vt":"str"}],"checkall":"true","outputs":3,"x":304.83331298828125,"y":61.666656494140625,"wires":[["f1f027.e1e4cfd8"],["ce51e2d3.2d05d"],["d35f3b67.7da488"]]},{"id":"ce51e2d3.2d05d","type":"function","z":"6a27fcf6.e28e34","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":544.8333435058594,"y":254.33331298828125,"wires":[["c8c63956.dab6d8","fb669607.7b77a8","e617d870.1192f8"],["c8c63956.dab6d8","fb669607.7b77a8","debbf16f.12608"]]},{"id":"c8c63956.dab6d8","type":"debug","z":"6a27fcf6.e28e34","name":"dbPrepPIRUI","active":false,"console":"false","complete":"payload","x":542.8333435058594,"y":294.33331298828125,"wires":[]},{"id":"fb669607.7b77a8","type":"function","z":"6a27fcf6.e28e34","name":"prepPIRLastHeard","func":"time=new Date();\nvar ph = context.get('kplastheard') || time;\ncontext.set('kplastheard',ph);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-ph) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-ph) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-ph) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-ph) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-ph) > 3600000) {\nmsg.payload = ph;\n}\nif (msg.topic != \"checking\") {\n    context.set('kplastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.8901062011719,"y":338.40909576416016,"wires":[["1b0e1d.eeea81e3"]]},{"id":"1b81c45d.2fbb9c","type":"ui_text","z":"6a27fcf6.e28e34","group":"25a4548c.bd214c","order":7,"width":0,"height":0,"name":"KitchenRelayLastHeard","label":"Relay last heard at","format":"{{msg.payload}}","layout":"row-spread","x":807.8957443237305,"y":482.348445892334,"wires":[]},{"id":"d35f3b67.7da488","type":"function","z":"6a27fcf6.e28e34","name":"prepRelayUI","func":"if (msg.payload ==\"RELAYAON-\") {\n    msg.payload = \"ON\"\n    return msg;\n}\nif (msg.payload ==\"RELAYAOFF\") {\n    msg.payload = \"OFF\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":541.5795288085938,"y":397.7878723144531,"wires":[["61d8402b.faaaf","3e723096.99c7c","8476353a.a282b8"]]},{"id":"61d8402b.faaaf","type":"debug","z":"6a27fcf6.e28e34","name":"dbPrepRelayUI","active":false,"console":"false","complete":"payload","x":549.5795288085938,"y":437.7878723144531,"wires":[]},{"id":"3e723096.99c7c","type":"function","z":"6a27fcf6.e28e34","name":"prepRelayLastHeard","func":"time=new Date();\nvar rh = context.get('kllastheard') || time;\ncontext.set('kllastheard',rh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-rh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-rh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-rh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-rh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-rh) > 3600000) {\nmsg.payload = rh;\n}\nif (msg.topic != \"checking\") {\n    context.set('kllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":565.6362915039062,"y":481.86365509033203,"wires":[["1b81c45d.2fbb9c"]]},{"id":"7028cfd5.c65b3","type":"inject","z":"6a27fcf6.e28e34","name":"inCheckRelay","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"60","crontab":"","once":false,"x":105.71589660644531,"y":205.76512908935547,"wires":[["cd7b98bb.eaf008"]]},{"id":"cd7b98bb.eaf008","type":"mqtt out","z":"6a27fcf6.e28e34","name":"mqttCheckKitchenRelay","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"9363064a.f247e8","x":311.71209716796875,"y":206.13257598876953,"wires":[]},{"id":"431dfdf3.d1b684","type":"debug","z":"6a27fcf6.e28e34","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":274.710205078125,"y":115.78218841552734,"wires":[]},{"id":"4a02259d.78d65c","type":"inject","z":"6a27fcf6.e28e34","name":"CheckLastHeard","topic":"checking","payload":"","payloadType":"date","repeat":"66","crontab":"","once":false,"x":276.710205078125,"y":337.52269744873047,"wires":[["bcc9f6be.6a1628","fb669607.7b77a8","3e723096.99c7c"]]},{"id":"fb2da7ee.cfb508","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","broker":"bb14b904.d08b58","x":109.16667175292969,"y":50.333335876464844,"wires":[["b2452406.5a8c28"]]},{"id":"e23817a6.558a78","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","broker":"bb14b904.d08b58","x":115.16667175292969,"y":98.33334350585938,"wires":[["ede56f3c.8b5b7"]]},{"id":"62aab914.bbc8f8","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","broker":"bb14b904.d08b58","x":113.16667175292969,"y":142.33334350585938,"wires":[["10ed80a3.fb9b8f"]]},{"id":"74cd420b.f1f96c","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","broker":"bb14b904.d08b58","x":95.16667175292969,"y":188.33334350585938,"wires":[["c7de80b6.a410e"]]},{"id":"24182ddc.07cc82","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","broker":"bb14b904.d08b58","x":97.16667175292969,"y":234.33334350585938,"wires":[["c669da17.d58b98"]]},{"id":"b2452406.5a8c28","type":"function","z":"bc2997ce.e31788","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.34;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["45b85c93.f8f4f4"],["32993c1c.840934"]]},{"id":"ede56f3c.8b5b7","type":"function","z":"bc2997ce.e31788","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)+8.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["45b85c93.f8f4f4"],["15e7bf06.e387a1"]]},{"id":"10ed80a3.fb9b8f","type":"function","z":"bc2997ce.e31788","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.39;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["45b85c93.f8f4f4"],["ea160739.3b4648"]]},{"id":"c7de80b6.a410e","type":"function","z":"bc2997ce.e31788","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.00;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["45b85c93.f8f4f4"],["7c6fe551.4fc39c"]]},{"id":"c669da17.d58b98","type":"function","z":"bc2997ce.e31788","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["45b85c93.f8f4f4"],["932468bd.2ca3b8"]]},{"id":"45b85c93.f8f4f4","type":"ui_chart","z":"bc2997ce.e31788","name":"chartTemperatures","group":"f6823baa.5b6db8","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":630,"y":60,"wires":[[],[]]},{"id":"f5d2fc7f.763db","type":"comment","z":"6a27fcf6.e28e34","name":"sqlite","info":"","x":770,"y":40,"wires":[]},{"id":"976ff95f.e0b1c8","type":"comment","z":"ffd3a167.02a7b","name":"sqlite","info":"","x":660,"y":220,"wires":[]},{"id":"59aa89e3.469058","type":"mqtt in","z":"868330db.8a12f","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"c23cd95a.cf7958","x":140,"y":80,"wires":[["642d262a.32d9e8"]]},{"id":"642d262a.32d9e8","type":"function","z":"868330db.8a12f","name":"prepSonoff1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"0\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["56f3e31f.261eec"]]},{"id":"56f3e31f.261eec","type":"mqtt out","z":"868330db.8a12f","name":"","topic":"Sonoff1/GPIO/12","qos":"","retain":"","broker":"bb14b904.d08b58","x":580,"y":120,"wires":[]},{"id":"3e5b85ea.6a5d7a","type":"inject","z":"868330db.8a12f","name":"day","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["642d262a.32d9e8"]]},{"id":"bcc4f467.e23e28","type":"inject","z":"868330db.8a12f","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":240,"wires":[["642d262a.32d9e8"]]},{"id":"bc01bf94.2b351","type":"inject","z":"868330db.8a12f","name":"TurnOffSonoff1","topic":"Sonoff1/GPIO/12","payload":"day","payloadType":"str","repeat":"","crontab":"30 22 * * *","once":false,"x":120,"y":300,"wires":[["642d262a.32d9e8"]]},{"id":"32993c1c.840934","type":"ui_gauge","z":"bc2997ce.e31788","name":"Bedroom","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Bedroom","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":120,"wires":[]},{"id":"15e7bf06.e387a1","type":"ui_gauge","z":"bc2997ce.e31788","name":"Spare Room","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Spare Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"ea160739.3b4648","type":"ui_gauge","z":"bc2997ce.e31788","name":"Living Room","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Living Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"7c6fe551.4fc39c","type":"ui_gauge","z":"bc2997ce.e31788","name":"Kitchen","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Kitchen","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"932468bd.2ca3b8","type":"ui_gauge","z":"bc2997ce.e31788","name":"Outside","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Outside","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]}]
