flows.json
[{"id":"6ad61fb1.c9c68","type":"tab","label":"LLAP Hub"},{"id":"8377678e.f64d68","type":"tab","label":"Light Levels"},{"id":"ca923b53.68de48","type":"tab","label":"Kitchen LEDs"},{"id":"2ba7364a.137c5a","type":"tab","label":"Mote Phat"},{"id":"ca8dbb5b.627688","type":"tab","label":"User Interface"},{"id":"6dbdfd87.4c4ce4","type":"tab","label":"Temps"},{"id":"71da6e40.ed829","type":"tab","label":"Sonoff1","disabled":false,"info":""},{"id":"3fcf7296.35c91e","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"12","bin":"false","out":"count","addchar":false},{"id":"67a3d4a0.e881dc","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"1","bin":"false","out":"count","addchar":false},{"id":"658affec.577c2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dd0f06c2.bc1c48","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e834bee1.12baa","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d01c477f.1401f8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"daf1f3df.5abd1","type":"ui_group","z":"","name":"Status","tab":"ac3465cc.6b4878","order":1,"disp":true,"width":"10"},{"id":"532dd48a.5e36bc","type":"ui_group","z":"","name":"Light Levels","tab":"ac3465cc.6b4878","order":2,"disp":true,"width":"10"},{"id":"d975da43.a1b078","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ac3465cc.6b4878","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"37953eb2.5151a2","type":"twitter-credentials","z":"","screen_name":"@LiamONeill34"},{"id":"8a4db42b.5cee28","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#50c8cb","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#50c8cb","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#8bdbdd","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#50c8cb","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e07a5cd2.5984a","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2},{"id":"f7816f3f.48193","type":"ui_group","z":"","name":"Temps","tab":"e07a5cd2.5984a","order":1,"disp":true,"width":"16"},{"id":"de56d697.f09368","type":"ui_group","z":"","name":"Battery","tab":"e07a5cd2.5984a","order":2,"disp":true,"width":"14"},{"id":"af5bfb75.59aae8","type":"serial in","z":"6ad61fb1.c9c68","name":"SliceOfRadioIn","serial":"67a3d4a0.e881dc","x":323.75462341308594,"y":102.8865737915039,"wires":[["65e8e894.2068b8","df8c0935.7f44f8"]]},{"id":"cc59680e.d137f8","type":"debug","z":"6ad61fb1.c9c68","name":"dbSliceOfRadioIn","active":true,"console":"false","complete":"true","x":780.7546234130859,"y":48.773162841796875,"wires":[]},{"id":"65e8e894.2068b8","type":"function","z":"6ad61fb1.c9c68","name":"CreateLLAPMessage","func":"// name: CreateLLAPMessage\n// outputs: 2\n// anything stored in context is kept available for next time we get called\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\nfailedMsg=\"\";\n\n// wait for an a and reset the buffer and counter\nif (msg.payload == \"a\") { \n        if (context.count !== 0) {\n         failedMsg = context.buff;\n        }\n        context.count = 0; \n        context.buff = \"\"; \n} // this does mean the a must NOT appear elsewhere in the message\n\n// add payload to the buffer and increase the count\ncontext.buff = context.buff + msg.payload;\ncontext.count += 1;\n// when we reach 11 then output the whole message, assumes length is the a plus 11 - may need to tweak...\nif (context.count == 12) {\n    msg.topic = \"PiForLiam/Received/\" + context.buff.slice(1,3);\t// return the first two chars as the topic\n    msg.payload = context.buff.slice(3);\t// return rest of the buffer as the payload\n    context.count = 0;\n    return [msg,null];\n}\nif (failedMsg !== \"\") {\n    fmsg.payload=failedMsg;\n    return [null,fmsg]\n}\nreturn [null,null];","outputs":"2","noerr":0,"x":546.7569427490234,"y":103.125,"wires":[["cc59680e.d137f8","890e4c09.efe1a"],["f4c2cdd0.b8a65","617ebf05.203f6"]]},{"id":"f4c2cdd0.b8a65","type":"debug","z":"6ad61fb1.c9c68","name":"dbFailedMsg","active":false,"console":"false","complete":"true","x":764.7592620849609,"y":155.43983459472656,"wires":[]},{"id":"890e4c09.efe1a","type":"mqtt out","z":"6ad61fb1.c9c68","name":"MQTTReceieved","topic":"","qos":"","retain":"","broker":"658affec.577c2","x":779.7616119384766,"y":94.7037124633789,"wires":[]},{"id":"eaebec9f.af1df","type":"mqtt in","z":"6ad61fb1.c9c68","name":"MQTTTransmit","topic":"PiForLiam/Transmit","qos":"2","broker":"658affec.577c2","x":334.1666564941406,"y":252.3333282470703,"wires":[["44596e4a.e1eea","1aea9b3.8486b65"]]},{"id":"44596e4a.e1eea","type":"serial out","z":"6ad61fb1.c9c68","name":"SliceOfRadioOut","serial":"67a3d4a0.e881dc","x":578.1666564941406,"y":253.6666717529297,"wires":[]},{"id":"1aea9b3.8486b65","type":"debug","z":"6ad61fb1.c9c68","name":"dbSliceOfRadioOut","active":false,"console":"false","complete":"payload","x":572.166675567627,"y":301.00001525878906,"wires":[]},{"id":"adf5971.59af668","type":"inject","z":"6ad61fb1.c9c68","name":"","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"","crontab":"","once":false,"x":364.1666564941406,"y":355.00001525878906,"wires":[["44596e4a.e1eea"]]},{"id":"e9f6ebc3.a98848","type":"file","z":"6ad61fb1.c9c68","name":"FailedMessageLog","filename":"/home/pi/failedMessageLog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":969.5,"y":209.6666717529297,"wires":[]},{"id":"617ebf05.203f6","type":"function","z":"6ad61fb1.c9c68","name":"prepFailedMessage","func":"time = new Date();\nfailedMsg = msg.payload;\nmsg.payload = time + \" : \" + failedMsg;\nreturn msg;","outputs":1,"noerr":0,"x":969.5,"y":157.6666717529297,"wires":[["e9f6ebc3.a98848"]]},{"id":"df8c0935.7f44f8","type":"debug","z":"6ad61fb1.c9c68","name":"dbSerialIn","active":false,"console":"false","complete":"payload","x":475.5,"y":167,"wires":[]},{"id":"898d2271.8e17b","type":"function","z":"8377678e.f64d68","name":"PrepareLightLevelsDB","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    device=2;\n    time=new Date().toString();\n    value=msg.payload.slice(4,9);\n    msg.topic=\"INSERT INTO lightLevel(device,time,value) VALUES (\" + device +\",'\" + time + \"',\" + value + \")\";\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":387.99998474121094,"y":231.0000228881836,"wires":[["b89cc65c.0f9308","54bf59fd.3ed0a8"],["64b48824.e55468"]]},{"id":"92ab86cd.482dc8","type":"inject","z":"8377678e.f64d68","name":"","topic":"LL","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.0023193359375,"y":172.02777862548828,"wires":[["898d2271.8e17b"]]},{"id":"b89cc65c.0f9308","type":"debug","z":"8377678e.f64d68","name":"dbSQL","active":false,"console":"false","complete":"true","x":646.0092926025391,"y":142.80555725097656,"wires":[]},{"id":"ff8c7d4.ca6008","type":"mqtt in","z":"8377678e.f64d68","name":"MQTTLightLevel","topic":"PiForLiam/Received/LL","qos":"2","broker":"dd0f06c2.bc1c48","x":122.0023193359375,"y":225.8912124633789,"wires":[["898d2271.8e17b"]]},{"id":"64b48824.e55468","type":"debug","z":"8377678e.f64d68","name":"dbLLBattery","active":false,"console":"false","complete":"true","x":652.7592620849609,"y":283.91666412353516,"wires":[]},{"id":"54bf59fd.3ed0a8","type":"function","z":"8377678e.f64d68","name":"checkDayNight","func":"value=msg.payload.slice(4,9);\n//var v = context.get('oldValue') || 0;\n//var d = context.get('daynight') || \"night\";\n//context.set('oldValue',v);\n//context.set('daynight',d);\nmsg.payload=null;\nif (value < 40) {\n    if (context.get('oldValue') < 40) {\n        if (context.get('daynight') ===\"day\") {\n            msg.payload = \"night\";\n        }    \n        context.set('daynight', \"night\");\n    }\n} else if (value > 55) {\n    if (context.get('oldValue') > 55) {\n        if (context.get('daynight') === \"night\") {\n            msg.payload = \"day\";\n        }    \n        context.set('daynight', \"day\");\n    }\n}\ncontext.set('oldValue', value);\nif (msg.payload !== null) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":663.7615814208984,"y":93.96295928955078,"wires":[["d0e2edb6.91bc5"]]},{"id":"d0e2edb6.91bc5","type":"mqtt out","z":"8377678e.f64d68","name":"DayNight","topic":"PiForLiam/daynight/","qos":"2","retain":"","broker":"dd0f06c2.bc1c48","x":840.9999847412109,"y":94,"wires":[]},{"id":"32b49587.4c4bba","type":"inject","z":"8377678e.f64d68","name":"","topic":"","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":377.75926208496094,"y":90.65277862548828,"wires":[["54bf59fd.3ed0a8"]]},{"id":"d279eed4.db3fb","type":"inject","z":"8377678e.f64d68","name":"","topic":"","payload":"LVAL94.29","payloadType":"str","repeat":"","crontab":"","once":false,"x":374.75694274902344,"y":49.65740966796875,"wires":[["54bf59fd.3ed0a8"]]},{"id":"cd5eaaa4.f4ca38","type":"inject","z":"8377678e.f64d68","name":"","topic":"","payload":"BATT2.70-","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.76388549804688,"y":128.65045928955078,"wires":[["898d2271.8e17b"]]},{"id":"7d92dcfd.be3c34","type":"mqtt in","z":"ca923b53.68de48","name":"MQTTKitchenPIR","topic":"PiForLiam/Received/KP","qos":"2","broker":"e834bee1.12baa","x":164.76158142089844,"y":111.52083587646484,"wires":[["3e9d0374.40844c"]]},{"id":"7cda1089.6ebef","type":"mqtt out","z":"ca923b53.68de48","name":"MQTTKitchenRelayOut","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"e834bee1.12baa","x":850.7639007568359,"y":222.03705596923828,"wires":[]},{"id":"3e9d0374.40844c","type":"switch","z":"ca923b53.68de48","name":"SwitchKitchenPIR","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BATT","vt":"str"},{"t":"cont","v":"BUTTONAON","vt":"str"},{"t":"cont","v":"BUTTONAOF","vt":"str"}],"checkall":"true","outputs":3,"x":395.75694274902344,"y":114.16667175292969,"wires":[["8567b177.9a879"],["32f3724a.a5808e","a9468781.f42068"],["32f3724a.a5808e","a9468781.f42068"]]},{"id":"8567b177.9a879","type":"debug","z":"ca923b53.68de48","name":"dbBatteryKitchenPIR","active":false,"console":"false","complete":"payload","x":619.7616119384766,"y":44.206016540527344,"wires":[]},{"id":"32f3724a.a5808e","type":"function","z":"ca923b53.68de48","name":"ControlKitchenLights","func":"state = msg.payload.slice(7,9);\ntime=new Date();\nswitch (state) {\n    case \"ON\":\n        msg.payload=\"aKLRELAYAON-\";\n        flow.set('button',\"On\");\n        flow.set('nmTime',time);\n        break;\n    case \"OF\":\n        flow.set('button',\"NoMotion\");\n        flow.set('nmTime',time);\n        msg = null;\n        break;\n    default:\n        msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["78b8950d.c6b3ac","7cda1089.6ebef"]]},{"id":"ed536f2.a545f9","type":"inject","z":"ca923b53.68de48","name":"injectCheckKitchenLights","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":192.75926208496094,"y":303.65047454833984,"wires":[["1a223f8.f403fc1"]]},{"id":"1a223f8.f403fc1","type":"function","z":"ca923b53.68de48","name":"CheckKitchenLights","func":"time=new Date();\nmsg.payload = null;\nif (flow.get('button') == \"NoMotion\") {\n    nmTime = flow.get('nmTime');\n    if ((time-nmTime) > 45000) {\n        msg.payload=\"aKLRELAYAOFF\";\n        flow.set('button',\"OFF\");\n    }    \n}\nif (msg.payload !== null) {\n    return msg;\n}","outputs":1,"noerr":0,"x":589.7616119384766,"y":267.1111068725586,"wires":[["ae933d9a.bc2f","7cda1089.6ebef"]]},{"id":"78b8950d.c6b3ac","type":"debug","z":"ca923b53.68de48","name":"dbAfterControl","active":true,"console":"false","complete":"payload","x":843.7569427490234,"y":180.2083511352539,"wires":[]},{"id":"a424d8.160b9b28","type":"inject","z":"ca923b53.68de48","name":"injectButtonOn","topic":"","payload":"BUTTONAON","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.75462341308594,"y":27.65509033203125,"wires":[["3e9d0374.40844c"]]},{"id":"6f3d8c09.337644","type":"inject","z":"ca923b53.68de48","name":"injectButtonOff","topic":"","payload":"BUTTONAOF","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.76388549804688,"y":69.65740203857422,"wires":[["3e9d0374.40844c"]]},{"id":"a9468781.f42068","type":"debug","z":"ca923b53.68de48","name":"dbBefore","active":true,"console":"false","complete":"payload","x":614.7639007568359,"y":111.87963104248047,"wires":[]},{"id":"ea85d16c.e55cb","type":"debug","z":"ca923b53.68de48","name":"dbFlownmTime","active":false,"console":"false","complete":"topic","x":794.7639007568359,"y":357.87271881103516,"wires":[]},{"id":"cdc2c91c.6afe58","type":"function","z":"ca923b53.68de48","name":"PrepFlowVariables","func":"time = new Date();\nmsg.payload = flow.get('button');\nnmTime = flow.get('nmTime');\nmsg.topic = (time-nmTime)/1000;\nreturn [msg];","outputs":"1","noerr":0,"x":581.7639312744141,"y":326.15047454833984,"wires":[["98f8ff75.f066b","ea85d16c.e55cb"]]},{"id":"98f8ff75.f066b","type":"debug","z":"ca923b53.68de48","name":"dbFlowButton","active":false,"console":"false","complete":"payload","x":798.7546234130859,"y":317.4745559692383,"wires":[]},{"id":"c2eab86.cd8bb48","type":"inject","z":"ca923b53.68de48","name":"injectCheckFlows","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":254.76158142089844,"y":346.9838180541992,"wires":[["cdc2c91c.6afe58"]]},{"id":"ae933d9a.bc2f","type":"debug","z":"ca923b53.68de48","name":"dbAfterCheck","active":false,"console":"false","complete":"payload","x":795.7569732666016,"y":274.6227035522461,"wires":[]},{"id":"8b1c03ef.139bd","type":"mqtt in","z":"2ba7364a.137c5a","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"d01c477f.1401f8","x":172.3333282470703,"y":66.33332824707031,"wires":[["f9d89c40.52aaa","1d22181f.f6a148"]]},{"id":"f9d89c40.52aaa","type":"function","z":"2ba7364a.137c5a","name":"PrepDNTweet","func":"t=new Date().toString();\ntime = t.slice(15,28);\nif (msg.payload == \"day\") {\n    msg.payload = (\"LL says it's day at \" + time);\n}\nif (msg.payload == \"night\") {\n    msg.payload = (\"LL says it's night at \" + time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.3333282470703,"y":66.13887023925781,"wires":[["4911be3a.68752"]]},{"id":"4911be3a.68752","type":"twitter out","z":"2ba7364a.137c5a","twitter":"37953eb2.5151a2","name":"DayNightTweet","x":557.3333587646484,"y":66.94212341308594,"wires":[]},{"id":"1d22181f.f6a148","type":"function","z":"2ba7364a.137c5a","name":"PrepMotePhat","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"off\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"on\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.3263702392578,"y":115.81248474121094,"wires":[["b589f1c1.9d727","171d165f.e8e33a"]]},{"id":"b589f1c1.9d727","type":"mqtt out","z":"2ba7364a.137c5a","name":"mqttMotePhat","topic":"PiforLiam/motephat","qos":"2","retain":"","broker":"d01c477f.1401f8","x":560.3310394287109,"y":115.76155090332031,"wires":[]},{"id":"b6c92ec2.7695a","type":"inject","z":"2ba7364a.137c5a","name":"","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.33563232421875,"y":175.4536895751953,"wires":[["1d22181f.f6a148"]]},{"id":"997691a9.7da66","type":"inject","z":"2ba7364a.137c5a","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.32637023925781,"y":223.4513702392578,"wires":[["1d22181f.f6a148"]]},{"id":"171d165f.e8e33a","type":"debug","z":"2ba7364a.137c5a","name":"","active":false,"console":"false","complete":"false","x":528.3287200927734,"y":180.38426208496094,"wires":[]},{"id":"5ec5bbc1.72cc94","type":"inject","z":"2ba7364a.137c5a","name":"","topic":"","payload":"BRIGHT 0.2","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.71589660644531,"y":267.7708053588867,"wires":[["b589f1c1.9d727"]]},{"id":"30d85bd6.0cd154","type":"ui_gauge","z":"ca8dbb5b.627688","name":"Light Meter Battery","group":"daf1f3df.5abd1","order":1,"width":"3","height":"3","gtype":"wave","title":"Gauge","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790.7545928955078,"y":167.83334350585938,"wires":[]},{"id":"841ff162.b3e4b","type":"function","z":"ca8dbb5b.627688","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":548.7568817138672,"y":47.3101806640625,"wires":[["1d7bb64b.91f02a","7a61afc.7b4985","28d36423.7b737c"],["30d85bd6.0cd154","1d7bb64b.91f02a","7a61afc.7b4985"]]},{"id":"c3b7d11f.adaf3","type":"debug","z":"ca8dbb5b.627688","name":"dbLightFromDatabase","active":false,"console":"false","complete":"true","x":1130.75927734375,"y":44.9930419921875,"wires":[]},{"id":"1d7bb64b.91f02a","type":"debug","z":"ca8dbb5b.627688","name":"dbprepLightUI","active":false,"console":"false","complete":"true","x":552.7639007568359,"y":92.9930419921875,"wires":[]},{"id":"6accd066.acace","type":"function","z":"ca8dbb5b.627688","name":"TestChartDB","func":"var tuple = [];\nvar values = [];\nvar form = [];\nfor (i=0;i<msg.payload.length;i++) {\n    tuple=[msg.payload[i].time,msg.payload[i].value];\n    values[i] = tuple;\n}\nkey=\"LL\";\nform = [{key,values}];\nmsg.payload=form;\nmsg.topic=\"LL\";\nreturn msg;","outputs":1,"noerr":0,"x":775.7546577453613,"y":84.49307250976562,"wires":[["a19e75ae.f1cae8","28d36423.7b737c"]]},{"id":"a19e75ae.f1cae8","type":"debug","z":"ca8dbb5b.627688","name":"dbToChart","active":false,"console":"false","complete":"true","x":971.7546577453613,"y":85.3240966796875,"wires":[]},{"id":"28d36423.7b737c","type":"ui_chart","z":"ca8dbb5b.627688","name":"Light Level Chart","group":"532dd48a.5e36bc","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"x":790.2661895751953,"y":126.28240203857422,"wires":[[],[]]},{"id":"7a61afc.7b4985","type":"function","z":"ca8dbb5b.627688","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('lllastheard') || time;\ncontext.set('lllastheard',lh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-lh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-lh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-lh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-lh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-lh) > 3600000) {\nmsg.payload = lh;\n}\nif (msg.topic != \"checking\") {\n    context.set('lllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.7568817138672,"y":142.63194274902344,"wires":[["63ec9b04.c6cf94"]]},{"id":"63ec9b04.c6cf94","type":"ui_template","z":"ca8dbb5b.627688","group":"daf1f3df.5abd1","name":"LLLastheardText","order":6,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Light last heard at </p></p>\n    <div ng-bind-html=\"msg.payload\"></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":781.2661590576172,"y":211.2824249267578,"wires":[[]]},{"id":"46690ccc.701bc4","type":"ui_gauge","z":"ca8dbb5b.627688","name":"KitchenPIRBattery","group":"daf1f3df.5abd1","order":2,"width":"3","height":"3","gtype":"wave","title":"Kitchen PIR Battery","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":782.8333053588867,"y":299.66663360595703,"wires":[]},{"id":"fd203eb8.90712","type":"ui_text","z":"ca8dbb5b.627688","group":"daf1f3df.5abd1","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"PIR last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":791.8333053588867,"y":338.3333206176758,"wires":[]},{"id":"ae577ac1.6f2e78","type":"ui_text","z":"ca8dbb5b.627688","group":"daf1f3df.5abd1","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":783.8333053588867,"y":261.3333206176758,"wires":[]},{"id":"e0c36604.02c8b8","type":"ui_text","z":"ca8dbb5b.627688","group":"daf1f3df.5abd1","order":4,"width":0,"height":0,"name":"KitchenRelayStatus","label":"Relay is ","format":"{{msg.payload}}","layout":"row-spread","x":784.8333129882812,"y":397.3332977294922,"wires":[]},{"id":"20e4559c.7dffda","type":"mqtt in","z":"ca8dbb5b.627688","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"d975da43.a1b078","x":80.83332824707031,"y":61.000030517578125,"wires":[["6bb8541a.edea5c","efe0886f.5acdc8"]]},{"id":"6bb8541a.edea5c","type":"switch","z":"ca8dbb5b.627688","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KL","vt":"str"}],"checkall":"true","outputs":3,"x":304.83331298828125,"y":61.666656494140625,"wires":[["841ff162.b3e4b"],["f682762a.654548"],["a8e94eaa.d7851"]]},{"id":"f682762a.654548","type":"function","z":"ca8dbb5b.627688","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":544.8333435058594,"y":254.33331298828125,"wires":[["88a9e008.3c9c","9a25661f.295098","ae577ac1.6f2e78"],["88a9e008.3c9c","9a25661f.295098","46690ccc.701bc4"]]},{"id":"88a9e008.3c9c","type":"debug","z":"ca8dbb5b.627688","name":"dbPrepPIRUI","active":false,"console":"false","complete":"payload","x":542.8333435058594,"y":294.33331298828125,"wires":[]},{"id":"9a25661f.295098","type":"function","z":"ca8dbb5b.627688","name":"prepPIRLastHeard","func":"time=new Date();\nvar ph = context.get('kplastheard') || time;\ncontext.set('kplastheard',ph);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-ph) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-ph) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-ph) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-ph) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-ph) > 3600000) {\nmsg.payload = ph;\n}\nif (msg.topic != \"checking\") {\n    context.set('kplastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.8901062011719,"y":338.40909576416016,"wires":[["fd203eb8.90712"]]},{"id":"8bf3b4f3.4fe3d8","type":"ui_text","z":"ca8dbb5b.627688","group":"daf1f3df.5abd1","order":7,"width":0,"height":0,"name":"KitchenRelayLastHeard","label":"Relay last heard at","format":"{{msg.payload}}","layout":"row-spread","x":807.8957443237305,"y":482.348445892334,"wires":[]},{"id":"a8e94eaa.d7851","type":"function","z":"ca8dbb5b.627688","name":"prepRelayUI","func":"if (msg.payload ==\"RELAYAON-\") {\n    msg.payload = \"ON\"\n    return msg;\n}\nif (msg.payload ==\"RELAYAOFF\") {\n    msg.payload = \"OFF\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":541.5795288085938,"y":397.7878723144531,"wires":[["e1350f82.0307f","e0338433.9111c8","e0c36604.02c8b8"]]},{"id":"e1350f82.0307f","type":"debug","z":"ca8dbb5b.627688","name":"dbPrepRelayUI","active":false,"console":"false","complete":"payload","x":549.5795288085938,"y":437.7878723144531,"wires":[]},{"id":"e0338433.9111c8","type":"function","z":"ca8dbb5b.627688","name":"prepRelayLastHeard","func":"time=new Date();\nvar rh = context.get('kllastheard') || time;\ncontext.set('kllastheard',rh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-rh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-rh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-rh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-rh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-rh) > 3600000) {\nmsg.payload = rh;\n}\nif (msg.topic != \"checking\") {\n    context.set('kllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":565.6362915039062,"y":481.86365509033203,"wires":[["8bf3b4f3.4fe3d8"]]},{"id":"1540934d.67162d","type":"inject","z":"ca8dbb5b.627688","name":"inCheckRelay","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"60","crontab":"","once":false,"x":105.71589660644531,"y":205.76512908935547,"wires":[["bf2f7d07.64287"]]},{"id":"bf2f7d07.64287","type":"mqtt out","z":"ca8dbb5b.627688","name":"mqttCheckKitchenRelay","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"d975da43.a1b078","x":311.71209716796875,"y":206.13257598876953,"wires":[]},{"id":"efe0886f.5acdc8","type":"debug","z":"ca8dbb5b.627688","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":274.710205078125,"y":115.78218841552734,"wires":[]},{"id":"1d21a2.4873be5f","type":"inject","z":"ca8dbb5b.627688","name":"CheckLastHeard","topic":"checking","payload":"","payloadType":"date","repeat":"66","crontab":"","once":false,"x":276.710205078125,"y":337.52269744873047,"wires":[["7a61afc.7b4985","9a25661f.295098","e0338433.9111c8"]]},{"id":"5cdddb74.76e064","type":"mqtt in","z":"6dbdfd87.4c4ce4","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","broker":"658affec.577c2","x":109.16667175292969,"y":50.333335876464844,"wires":[["f687cde6.b8c48"]]},{"id":"3b0e4cc5.cb75f4","type":"mqtt in","z":"6dbdfd87.4c4ce4","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","broker":"658affec.577c2","x":115.16667175292969,"y":98.33334350585938,"wires":[["a56fe2ec.c5314"]]},{"id":"41178741.262af8","type":"mqtt in","z":"6dbdfd87.4c4ce4","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","broker":"658affec.577c2","x":113.16667175292969,"y":142.33334350585938,"wires":[["c191c7e0.7e92c8"]]},{"id":"dfbc144d.2f7378","type":"mqtt in","z":"6dbdfd87.4c4ce4","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","broker":"658affec.577c2","x":95.16667175292969,"y":188.33334350585938,"wires":[["1b59bbfe.f00d24"]]},{"id":"b985ce45.5a395","type":"mqtt in","z":"6dbdfd87.4c4ce4","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","broker":"658affec.577c2","x":97.16667175292969,"y":234.33334350585938,"wires":[["4d0e9016.5487f"]]},{"id":"f687cde6.b8c48","type":"function","z":"6dbdfd87.4c4ce4","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.34;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["c70be81.3f5ae18"],["265954b1.66480c"]]},{"id":"a56fe2ec.c5314","type":"function","z":"6dbdfd87.4c4ce4","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)+8.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["c70be81.3f5ae18"],["2dd9c00d.7d4c6"]]},{"id":"c191c7e0.7e92c8","type":"function","z":"6dbdfd87.4c4ce4","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.39;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["c70be81.3f5ae18"],["868afefe.5505f"]]},{"id":"1b59bbfe.f00d24","type":"function","z":"6dbdfd87.4c4ce4","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.00;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["c70be81.3f5ae18"],["15612c7a.9ec004"]]},{"id":"4d0e9016.5487f","type":"function","z":"6dbdfd87.4c4ce4","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["c70be81.3f5ae18"],["3ae74e5a.b63be2"]]},{"id":"c70be81.3f5ae18","type":"ui_chart","z":"6dbdfd87.4c4ce4","name":"chartTemperatures","group":"f7816f3f.48193","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":630,"y":60,"wires":[[],[]]},{"id":"26f85b07.24d664","type":"comment","z":"ca8dbb5b.627688","name":"sqlite","info":"","x":770,"y":40,"wires":[]},{"id":"f4fdf5c8.03a278","type":"comment","z":"8377678e.f64d68","name":"sqlite","info":"","x":660,"y":220,"wires":[]},{"id":"820e88d9.2b7e28","type":"mqtt in","z":"71da6e40.ed829","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"d01c477f.1401f8","x":140,"y":80,"wires":[["d50bdd6b.24397"]]},{"id":"d50bdd6b.24397","type":"function","z":"71da6e40.ed829","name":"prepSonoff1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = 0;\n}\nif (msg.payload == \"night\") {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["314871c1.3e8e9e","ff873c34.4f37c"]]},{"id":"314871c1.3e8e9e","type":"mqtt out","z":"71da6e40.ed829","name":"","topic":"/Sonoff1/gpio/12","qos":"","retain":"","broker":"658affec.577c2","x":570,"y":120,"wires":[]},{"id":"21780755.b7cf98","type":"inject","z":"71da6e40.ed829","name":"day","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["d50bdd6b.24397"]]},{"id":"7a66c926.fa06e8","type":"inject","z":"71da6e40.ed829","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":240,"wires":[["d50bdd6b.24397"]]},{"id":"fc8caab9.82c038","type":"inject","z":"71da6e40.ed829","name":"TurnOffSonoff1","topic":"Sonoff1/GPIO/12","payload":"day","payloadType":"str","repeat":"","crontab":"30 22 * * *","once":false,"x":120,"y":300,"wires":[["d50bdd6b.24397"]]},{"id":"265954b1.66480c","type":"ui_gauge","z":"6dbdfd87.4c4ce4","name":"Bedroom","group":"de56d697.f09368","order":0,"width":"2","height":"2","gtype":"wave","title":"Bedroom","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":120,"wires":[]},{"id":"2dd9c00d.7d4c6","type":"ui_gauge","z":"6dbdfd87.4c4ce4","name":"Spare Room","group":"de56d697.f09368","order":0,"width":"2","height":"2","gtype":"wave","title":"Spare Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"868afefe.5505f","type":"ui_gauge","z":"6dbdfd87.4c4ce4","name":"Living Room","group":"de56d697.f09368","order":0,"width":"2","height":"2","gtype":"wave","title":"Living Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"15612c7a.9ec004","type":"ui_gauge","z":"6dbdfd87.4c4ce4","name":"Kitchen","group":"de56d697.f09368","order":0,"width":"2","height":"2","gtype":"wave","title":"Kitchen","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"3ae74e5a.b63be2","type":"ui_gauge","z":"6dbdfd87.4c4ce4","name":"Outside","group":"de56d697.f09368","order":0,"width":"2","height":"2","gtype":"wave","title":"Outside","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]},{"id":"ff873c34.4f37c","type":"debug","z":"71da6e40.ed829","name":"sonoff","active":true,"console":"false","complete":"payload","x":540,"y":180,"wires":[]}]
