InfluxDB
[{"id":"479657e.4c78ca8","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"53883a34.4ec584","type":"mqtt in","z":"479657e.4c78ca8","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":90,"y":140,"wires":[["6f23161f.5f2a98","c8f19369.6e19a"]]},{"id":"6f23161f.5f2a98","type":"debug","z":"479657e.4c78ca8","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":180,"y":40,"wires":[]},{"id":"c8f19369.6e19a","type":"switch","z":"479657e.4c78ca8","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomAH","vt":"str"},{"t":"eq","v":"PiForLiam/Received/AtomBL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/FlightRadarPiLight","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":280,"y":160,"wires":[["eb7920da.9ec39"],["4fad0ed8.fbac1"],["739231af.19097"],["8a005b6c.f4f3d8"],["92ee20d7.657fd"],["b2f80554.79ed68"],[],[],[],["28b21812.1fa948"]]},{"id":"eb7920da.9ec39","type":"function","z":"479657e.4c78ca8","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    value=msg.payload.slice(4,9);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2));\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":41,"wires":[["6e2a12f7.77494c"]]},{"id":"4fad0ed8.fbac1","type":"function","z":"479657e.4c78ca8","name":"adjustBedroom","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.34;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":101,"wires":[["4c4b9b31.4c6de4"]]},{"id":"739231af.19097","type":"function","z":"479657e.4c78ca8","name":"adjustSpareroom","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))+8.00;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":510,"y":161,"wires":[["947910c4.aa26e"]]},{"id":"8a005b6c.f4f3d8","type":"function","z":"479657e.4c78ca8","name":"adjustLivingroom","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.39;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":510,"y":221,"wires":[["b6a324dd.6ce2f8"]]},{"id":"92ee20d7.657fd","type":"function","z":"479657e.4c78ca8","name":"adjustKitchen","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":281,"wires":[["cbefe3f8.df9f5"]]},{"id":"b2f80554.79ed68","type":"function","z":"479657e.4c78ca8","name":"adjustOutside","func":"if (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(parseFloat(value).toFixed(2))-0.00;\n    return msg;\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":500,"y":341,"wires":[["9983a5a7.516cf8"]]},{"id":"28b21812.1fa948","type":"function","z":"479657e.4c78ca8","name":"prepareLightUI","func":"//    value = msg.payload();\n    msg.payload = parseFloat(parseFloat(msg.payload).toFixed(2));\n    return msg;\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":498,"y":403,"wires":[["d49ef18e.d8b5c"]]},{"id":"6e2a12f7.77494c","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbLLightLevel","measurement":"PiForLiam/Received/LL","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":40,"wires":[]},{"id":"4c4b9b31.4c6de4","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbBedroomTemp","measurement":"PiForLiam/Received/BT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":100,"wires":[]},{"id":"947910c4.aa26e","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbSpareRoomTemp","measurement":"PiForLiam/Received/ST","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":160,"wires":[]},{"id":"b6a324dd.6ce2f8","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbLivingRoomTemp","measurement":"PiForLiam/Received/LT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":220,"wires":[]},{"id":"cbefe3f8.df9f5","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbKitchenTemp","measurement":"PiForLiam/Received/KT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":280,"wires":[]},{"id":"9983a5a7.516cf8","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"dbOutsideTemp","measurement":"PiForLiam/Received/OT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":340,"wires":[]},{"id":"d49ef18e.d8b5c","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"6fbb3a14.e7a9b4","name":"FlightRadarLightLevel","measurement":"PiForLiam/Received/FlightradarPiLight","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":400,"wires":[]},{"id":"9b346c09.ac748","type":"influxdb out","z":"479657e.4c78ca8","influxdb":"c94776c6.202568","name":"dbTesting","measurement":"PiForLiam/Received/Test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":151.0094757080078,"y":311.00567626953125,"wires":[]},{"id":"29e406ac.b2713a","type":"inject","z":"479657e.4c78ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"PiForLiam/Received/Test","payload":"12.67","payloadType":"str","x":160,"y":240,"wires":[["9b346c09.ac748"]]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6fbb3a14.e7a9b4","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"InfluxDBsensors","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"c94776c6.202568","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testing","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]
