KitchenLEDs.json.txt
[{"id":"a3a54046.a62f9","type":"tab","label":"Kitchen LEDs"},{"id":"145e3f25.d7b221","type":"mqtt in","z":"a3a54046.a62f9","name":"MQTTKitchenPIR","topic":"PiForLiam/Received/KP","qos":"2","broker":"7f4665e7.8f71dc","x":164.76158142089844,"y":111.52083587646484,"wires":[["4fd0b27b.3add2c"]]},{"id":"cb6e9fb1.b49c2","type":"mqtt out","z":"a3a54046.a62f9","name":"MQTTKitchenRelayOut","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"7f4665e7.8f71dc","x":850.7639007568359,"y":222.03705596923828,"wires":[]},{"id":"4fd0b27b.3add2c","type":"switch","z":"a3a54046.a62f9","name":"SwitchKitchenPIR","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BATT","vt":"str"},{"t":"cont","v":"BUTTONAON","vt":"str"},{"t":"cont","v":"BUTTONAOF","vt":"str"}],"checkall":"true","outputs":3,"x":395.75694274902344,"y":114.16667175292969,"wires":[["4e20f4bc.46ae4c"],["ba257bca.511a68","ea8faec2.862d5"],["ba257bca.511a68","ea8faec2.862d5"]]},{"id":"4e20f4bc.46ae4c","type":"debug","z":"a3a54046.a62f9","name":"dbBatteryKitchenPIR","active":false,"console":"false","complete":"payload","x":619.7616119384766,"y":44.206016540527344,"wires":[]},{"id":"ba257bca.511a68","type":"function","z":"a3a54046.a62f9","name":"ControlKitchenLights","func":"state = msg.payload.slice(7,9);\ntime=new Date();\nswitch (state) {\n    case \"ON\":\n        msg.payload=\"aKLRELAYAON-\";\n        flow.set('button',\"On\");\n        flow.set('nmTime',time);\n        break;\n    case \"OF\":\n        flow.set('button',\"NoMotion\");\n        flow.set('nmTime',time);\n        msg = null;\n        break;\n    default:\n        msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":594.7616119384766,"y":188.8935317993164,"wires":[["a641fa6b.40b098","cb6e9fb1.b49c2"]]},{"id":"ae603ab5.b0a6c8","type":"inject","z":"a3a54046.a62f9","name":"injectCheckKitchenLights","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":192.75926208496094,"y":303.65047454833984,"wires":[["ba48a325.1452e"]]},{"id":"ba48a325.1452e","type":"function","z":"a3a54046.a62f9","name":"CheckKitchenLights","func":"time=new Date();\nmsg.payload = null;\nif (flow.get('button') == \"NoMotion\") {\n    nmTime = flow.get('nmTime');\n    if ((time-nmTime) > 45000) {\n        msg.payload=\"aKLRELAYAOFF\";\n        flow.set('button',\"OFF\");\n    }    \n}\nif (msg.payload !== null) {\n    return msg;\n}","outputs":1,"noerr":0,"x":589.7616119384766,"y":267.1111068725586,"wires":[["6a85ef33.078af","cb6e9fb1.b49c2"]]},{"id":"a641fa6b.40b098","type":"debug","z":"a3a54046.a62f9","name":"dbAfterControl","active":false,"console":"false","complete":"payload","x":843.7569427490234,"y":180.2083511352539,"wires":[]},{"id":"a5655dde.2f1ac","type":"inject","z":"a3a54046.a62f9","name":"injectButtonOn","topic":"","payload":"BUTTONAON","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.75462341308594,"y":27.65509033203125,"wires":[["4fd0b27b.3add2c"]]},{"id":"6a940afe.703374","type":"inject","z":"a3a54046.a62f9","name":"injectButtonOff","topic":"","payload":"BUTTONAOF","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.76388549804688,"y":69.65740203857422,"wires":[["4fd0b27b.3add2c"]]},{"id":"ea8faec2.862d5","type":"debug","z":"a3a54046.a62f9","name":"dbBefore","active":false,"console":"false","complete":"payload","x":614.7639007568359,"y":111.87963104248047,"wires":[]},{"id":"2b967c5c.9d9fd4","type":"debug","z":"a3a54046.a62f9","name":"dbFlownmTime","active":true,"console":"false","complete":"topic","x":794.7639007568359,"y":357.87271881103516,"wires":[]},{"id":"5a8346c4.f9d788","type":"function","z":"a3a54046.a62f9","name":"PrepFlowVariables","func":"time = new Date();\nmsg.payload = flow.get('button');\nnmTime = flow.get('nmTime');\nmsg.topic = (time-nmTime)/1000;\nreturn [msg];","outputs":"1","noerr":0,"x":581.7639312744141,"y":326.15047454833984,"wires":[["a6409e6c.946b3","2b967c5c.9d9fd4"]]},{"id":"a6409e6c.946b3","type":"debug","z":"a3a54046.a62f9","name":"dbFlowButton","active":true,"console":"false","complete":"payload","x":798.7546234130859,"y":317.4745559692383,"wires":[]},{"id":"207f301c.60403","type":"inject","z":"a3a54046.a62f9","name":"injectCheckFlows","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":254.76158142089844,"y":346.9838180541992,"wires":[["5a8346c4.f9d788"]]},{"id":"6a85ef33.078af","type":"debug","z":"a3a54046.a62f9","name":"dbAfterCheck","active":false,"console":"false","complete":"payload","x":795.7569732666016,"y":274.6227035522461,"wires":[]},{"id":"7f4665e7.8f71dc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]