KitchenLEDs.json.txt
[{"id":"fbc89743.be5a68","type":"tab","label":"Kitchen LEDs"},{"id":"1a1ba15a.d8302f","type":"mqtt in","z":"fbc89743.be5a68","name":"MQTTKitchenPIR","topic":"PiForLiam/Received/KP","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":164.76158142089844,"y":111.52083587646484,"wires":[["2d9177d4.d7cfd8"]]},{"id":"6f792430.521cec","type":"mqtt out","z":"fbc89743.be5a68","name":"MQTTKitchenRelayOut","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"15b941ac.36365e","x":850.7639007568359,"y":222.03705596923828,"wires":[]},{"id":"2d9177d4.d7cfd8","type":"switch","z":"fbc89743.be5a68","name":"SwitchKitchenPIR","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BATT","vt":"str"},{"t":"cont","v":"BUTTONAON","vt":"str"},{"t":"cont","v":"BUTTONAOF","vt":"str"}],"checkall":"true","outputs":3,"x":395.75694274902344,"y":114.16667175292969,"wires":[["2b9649d9.831906"],["697325dc.37c2dc","6211d245.f68a2c"],["697325dc.37c2dc","6211d245.f68a2c"]]},{"id":"2b9649d9.831906","type":"debug","z":"fbc89743.be5a68","name":"dbBatteryKitchenPIR","active":false,"console":"false","complete":"payload","x":619.7616119384766,"y":44.206016540527344,"wires":[]},{"id":"697325dc.37c2dc","type":"function","z":"fbc89743.be5a68","name":"ControlKitchenLights","func":"state = msg.payload.slice(7,9);\ntime=new Date();\nswitch (state) {\n    case \"ON\":\n        msg.payload=\"aKLRELAYAON-\";\n        flow.set('button',\"On\");\n        flow.set('nmTime',time);\n        break;\n    case \"OF\":\n        flow.set('button',\"NoMotion\");\n        flow.set('nmTime',time);\n        msg = null;\n        break;\n    default:\n        msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["e8acce2b.83e86","6f792430.521cec"]]},{"id":"ddbc3f3e.64ee4","type":"inject","z":"fbc89743.be5a68","name":"injectCheckKitchenLights","repeat":"1","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":192.75926208496094,"y":303.65047454833984,"wires":[["ba397274.1a1d7"]]},{"id":"ba397274.1a1d7","type":"function","z":"fbc89743.be5a68","name":"CheckKitchenLights","func":"time=new Date();\nmsg.payload = null;\nif (flow.get('button') == \"NoMotion\") {\n    nmTime = flow.get('nmTime');\n    if ((time-nmTime) > 45000) {\n        msg.payload=\"aKLRELAYAOFF\";\n        flow.set('button',\"OFF\");\n    }    \n}\nif (msg.payload !== null) {\n    return msg;\n}","outputs":1,"noerr":0,"x":589.7616119384766,"y":267.1111068725586,"wires":[["5f60f8d7.5226b8","6f792430.521cec"]]},{"id":"e8acce2b.83e86","type":"debug","z":"fbc89743.be5a68","name":"dbAfterControl","active":false,"console":"false","complete":"payload","x":843.7569427490234,"y":180.2083511352539,"wires":[]},{"id":"e54614b6.040f68","type":"inject","z":"fbc89743.be5a68","name":"injectButtonOn","repeat":"","crontab":"","once":false,"topic":"","payload":"BUTTONAON","payloadType":"str","x":148.75462341308594,"y":27.65509033203125,"wires":[["2d9177d4.d7cfd8"]]},{"id":"cbf595d.53c0c68","type":"inject","z":"fbc89743.be5a68","name":"injectButtonOff","repeat":"","crontab":"","once":false,"topic":"","payload":"BUTTONAOF","payloadType":"str","x":131.76388549804688,"y":69.65740203857422,"wires":[["2d9177d4.d7cfd8"]]},{"id":"6211d245.f68a2c","type":"debug","z":"fbc89743.be5a68","name":"dbBefore","active":false,"console":"false","complete":"payload","x":614.7639007568359,"y":111.87963104248047,"wires":[]},{"id":"4595ac17.e49704","type":"debug","z":"fbc89743.be5a68","name":"dbFlownmTime","active":false,"console":"false","complete":"topic","x":794.7639007568359,"y":357.87271881103516,"wires":[]},{"id":"679babe8.16a124","type":"function","z":"fbc89743.be5a68","name":"PrepFlowVariables","func":"time = new Date();\nmsg.payload = flow.get('button');\nnmTime = flow.get('nmTime');\nmsg.topic = (time-nmTime)/1000;\nreturn [msg];","outputs":"1","noerr":0,"x":581.7639312744141,"y":326.15047454833984,"wires":[["8f071b4b.a35708","4595ac17.e49704"]]},{"id":"8f071b4b.a35708","type":"debug","z":"fbc89743.be5a68","name":"dbFlowButton","active":false,"console":"false","complete":"payload","x":798.7546234130859,"y":317.4745559692383,"wires":[]},{"id":"a7944900.0318c8","type":"inject","z":"fbc89743.be5a68","name":"injectCheckFlows","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":254.76158142089844,"y":346.9838180541992,"wires":[["679babe8.16a124"]]},{"id":"5f60f8d7.5226b8","type":"debug","z":"fbc89743.be5a68","name":"dbAfterCheck","active":false,"console":"false","complete":"payload","x":795.7569732666016,"y":274.6227035522461,"wires":[]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
