LIDL Testing
[{"id":"46666ef6.cb2bc","type":"tab","label":"Lidl Testing","disabled":false,"info":""},{"id":"e3871c12.1a8ed","type":"mqtt out","z":"46666ef6.cb2bc","name":"ZtMBambootLightSet","topic":"","qos":"","retain":"","broker":"15b941ac.36365e","x":540,"y":60,"wires":[]},{"id":"60ff460.80a0abc","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightOn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"state\": \"ON\"}","payloadType":"json","x":190,"y":60,"wires":[["e3871c12.1a8ed"]]},{"id":"cf1907b5.7c0bc8","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightOFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"state\": \"OFF\"}","payloadType":"json","x":200,"y":120,"wires":[["e3871c12.1a8ed"]]},{"id":"cfee1bd6.c91e48","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightRed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color\":{\"rgb\":\"255,0,0\"}}","payloadType":"json","x":232.01156616210938,"y":177.02777099609375,"wires":[["e3871c12.1a8ed"]]},{"id":"de9164f.3c56898","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightBright","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"brightness\": 100}","payloadType":"json","x":230,"y":320,"wires":[["e3871c12.1a8ed"]]},{"id":"ffa9ffd.fa564","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightGreen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color\":{\"rgb\":\"0,255,0\"}}","payloadType":"json","x":230,"y":220,"wires":[["e3871c12.1a8ed"]]},{"id":"8419cc2e.1c48b","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightBlue","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color\":{\"rgb\":\"0,0,255\"}}","payloadType":"json","x":220,"y":260,"wires":[["e3871c12.1a8ed"]]},{"id":"8fe796d.1a7cf68","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightCool","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color_temp\": 200}","payloadType":"json","x":230,"y":380,"wires":[["e3871c12.1a8ed"]]},{"id":"c9b13864.baa828","type":"inject","z":"46666ef6.cb2bc","name":"BambooLightWarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/BambooLight/set","payload":"{\"color_temp\": 500}","payloadType":"json","x":230,"y":420,"wires":[["e3871c12.1a8ed"]]},{"id":"ede00bbd.780428","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightOn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"state\": \"ON\"}","payloadType":"json","x":570,"y":120,"wires":[["fe58ba85.4cb108"]]},{"id":"712efea8.f67bb","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightOFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"state\": \"OFF\"}","payloadType":"json","x":580,"y":180,"wires":[["fe58ba85.4cb108"]]},{"id":"a0cc1878.647a08","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightRed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color\":{\"rgb\":\"255,0,0\"}}","payloadType":"json","x":612.0115661621094,"y":237.02777099609375,"wires":[["fe58ba85.4cb108"]]},{"id":"5682790f.6b6b88","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightBright","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"brightness\": 100}","payloadType":"json","x":600,"y":380,"wires":[["fe58ba85.4cb108"]]},{"id":"c157106e.70bd4","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightGreen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color\":{\"rgb\":\"0,255,0\"}}","payloadType":"json","x":610,"y":280,"wires":[["fe58ba85.4cb108"]]},{"id":"1c07d318.89db7d","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightBlue","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color\":{\"rgb\":\"0,0,255\"}}","payloadType":"json","x":600,"y":320,"wires":[["fe58ba85.4cb108"]]},{"id":"1cb35984.ab3546","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightCool","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color_temp\": 200}","payloadType":"json","x":600,"y":440,"wires":[["fe58ba85.4cb108"]]},{"id":"2130d643.e7883a","type":"inject","z":"46666ef6.cb2bc","name":"FrontDoorLightWarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/FrontDoorLight/set","payload":"{\"color_temp\": 400}","payloadType":"json","x":600,"y":480,"wires":[["fe58ba85.4cb108"]]},{"id":"fe58ba85.4cb108","type":"mqtt out","z":"46666ef6.cb2bc","name":"ZtMFrontLightSet","topic":"","qos":"","retain":"","broker":"15b941ac.36365e","x":824.0115356445312,"y":86.02777099609375,"wires":[]},{"id":"a58a046d.61c7e8","type":"mqtt in","z":"46666ef6.cb2bc","name":"ZtMMotion1In","topic":"zigbee2mqtt/Motion 1","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":120,"y":480,"wires":[["16917e47.595732"]]},{"id":"16917e47.595732","type":"debug","z":"46666ef6.cb2bc","name":"DebugMotionIn","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":480,"wires":[]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
