LIDL
[{"id":"f7a8280c.2c5a18","type":"tab","label":"Lidl","disabled":false,"info":""},{"id":"881e9e2a.9bc63","type":"mqtt in","z":"f7a8280c.2c5a18","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":60,"wires":[["4482948b.e52ecc"]]},{"id":"4dd501dd.cbd54","type":"inject","z":"f7a8280c.2c5a18","name":"day","props":[{"p":"payload","v":"day","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"day","payloadType":"str","x":110,"y":160,"wires":[["4482948b.e52ecc"]]},{"id":"ca6aba1f.782378","type":"inject","z":"f7a8280c.2c5a18","name":"","props":[{"p":"payload","v":"night","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"night","payloadType":"str","x":110,"y":220,"wires":[["4482948b.e52ecc"]]},{"id":"cb7cf699.baa068","type":"inject","z":"f7a8280c.2c5a18","name":"TurnOffZigbee","props":[{"p":"payload"}],"repeat":"","crontab":"40 22 * * *","once":false,"onceDelay":"","topic":"","payload":"day","payloadType":"str","x":140,"y":280,"wires":[["4482948b.e52ecc"]]},{"id":"4482948b.e52ecc","type":"function","z":"f7a8280c.2c5a18","name":"prepLidl1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = {\"state\": \"OFF\"};\n}\nif (msg.payload == \"night\") {\n    msg.payload = {\"state\": \"ON\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["f2ca2d4a.2085a","98bdbb35.6db8a8"]]},{"id":"f2ca2d4a.2085a","type":"mqtt out","z":"f7a8280c.2c5a18","name":"ZtMBambootLightSet","topic":"zigbee2mqtt/BambooLight/set","qos":"","retain":"","broker":"15b941ac.36365e","x":670.0115356445312,"y":94.02777099609375,"wires":[]},{"id":"98bdbb35.6db8a8","type":"mqtt out","z":"f7a8280c.2c5a18","name":"ZtMFrontDoorLightSet","topic":"zigbee2mqtt/FrontDoorLight/set","qos":"","retain":"","broker":"15b941ac.36365e","x":640,"y":160,"wires":[]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
