LightLevels.json.txt
[{"id":"6b3e3f7a.0357f","type":"tab","label":"Light Levels"},{"id":"4448397c.8cbb48","type":"function","z":"6b3e3f7a.0357f","name":"PrepareLightLevelsDB","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    device=2;\n    time=new Date().toString();\n    value=msg.payload.slice(4,9);\n    msg.topic=\"INSERT INTO lightLevel(device,time,value) VALUES (\" + device +\",'\" + time + \"',\" + value + \")\";\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":387.99998474121094,"y":231.0000228881836,"wires":[["4fa855ac.54359c","f2970737.37b268"],["6cf65a2c.d589e4"]]},{"id":"76144e2d.961c4","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"LL","payload":"LVAL4.296","payloadType":"str","x":134.0023193359375,"y":172.02777862548828,"wires":[["4448397c.8cbb48"]]},{"id":"4fa855ac.54359c","type":"debug","z":"6b3e3f7a.0357f","name":"dbSQL","active":false,"console":"false","complete":"true","x":646.0092926025391,"y":142.80555725097656,"wires":[]},{"id":"95933e47.f1445","type":"mqtt in","z":"6b3e3f7a.0357f","name":"MQTTLightLevel","topic":"PiForLiam/Received/LL","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":122.0023193359375,"y":225.8912124633789,"wires":[["4448397c.8cbb48"]]},{"id":"6cf65a2c.d589e4","type":"debug","z":"6b3e3f7a.0357f","name":"dbLLBattery","active":false,"console":"false","complete":"true","x":652.7592620849609,"y":283.91666412353516,"wires":[]},{"id":"f2970737.37b268","type":"function","z":"6b3e3f7a.0357f","name":"checkDayNight","func":"value=msg.payload.slice(4,9);\n//var v = context.get('oldValue') || 0;\n//var d = context.get('daynight') || \"night\";\n//context.set('oldValue',v);\n//context.set('daynight',d);\nmsg.payload=null;\nif (value < 40) {\n    if (context.get('oldValue') < 40) {\n        if (context.get('daynight') ===\"day\") {\n            msg.payload = \"night\";\n        }    \n        context.set('daynight', \"night\");\n    }\n} else if (value > 55) {\n    if (context.get('oldValue') > 55) {\n        if (context.get('daynight') === \"night\") {\n            msg.payload = \"day\";\n        }    \n        context.set('daynight', \"day\");\n    }\n}\ncontext.set('oldValue', value);\nif (msg.payload !== null) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":663.7615814208984,"y":93.96295928955078,"wires":[["40b4a25b.9c36dc"]]},{"id":"40b4a25b.9c36dc","type":"mqtt out","z":"6b3e3f7a.0357f","name":"DayNight","topic":"PiForLiam/daynight/","qos":"2","retain":"","broker":"15b941ac.36365e","x":840.9999847412109,"y":94,"wires":[]},{"id":"88f7b299.e588f","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"LVAL4.296","payloadType":"str","x":377.75926208496094,"y":90.65277862548828,"wires":[["f2970737.37b268"]]},{"id":"9b85ff5f.4822a","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"LVAL94.29","payloadType":"str","x":374.75694274902344,"y":49.65740966796875,"wires":[["f2970737.37b268"]]},{"id":"e4bdb81b.db2208","type":"inject","z":"6b3e3f7a.0357f","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"BATT2.70-","payloadType":"str","x":116.76388549804688,"y":128.65045928955078,"wires":[["4448397c.8cbb48"]]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
