LightLevels.json.txt
[{"id":"cf0038a4.66ab88","type":"tab","label":"Light Levels"},{"id":"70aad3f9.d3889c","type":"sqlite","z":"cf0038a4.66ab88","mydb":"8dbeec32.e8413","name":"PiForLiamIOTLightLevels","x":695.7615203857422,"y":180.62963104248047,"wires":[[]]},{"id":"fb879877.792ec8","type":"function","z":"cf0038a4.66ab88","name":"PrepareLightLevelsDB","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    device=2;\n    time=new Date().toString();\n    value=msg.payload.slice(4,9);\n    msg.topic=\"INSERT INTO lightLevel(device,time,value) VALUES (\" + device +\",'\" + time + \"',\" + value + \")\";\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":387.99998474121094,"y":231.0000228881836,"wires":[["d04c9d8d.fd99b","70aad3f9.d3889c","d8844980.2912c8"],["362d90fc.53869"]]},{"id":"c0595211.9acbd","type":"inject","z":"cf0038a4.66ab88","name":"","topic":"LL","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.0023193359375,"y":172.02777862548828,"wires":[["fb879877.792ec8"]]},{"id":"d04c9d8d.fd99b","type":"debug","z":"cf0038a4.66ab88","name":"dbSQL","active":false,"console":"false","complete":"true","x":646.0092926025391,"y":142.80555725097656,"wires":[]},{"id":"260bc5a3.6f4e4a","type":"mqtt in","z":"cf0038a4.66ab88","name":"MQTTLightLevel","topic":"PiForLiam/Received/LL","qos":"2","broker":"7f4665e7.8f71dc","x":122.0023193359375,"y":225.8912124633789,"wires":[["fb879877.792ec8"]]},{"id":"362d90fc.53869","type":"debug","z":"cf0038a4.66ab88","name":"dbLLBattery","active":false,"console":"false","complete":"true","x":652.7592620849609,"y":283.91666412353516,"wires":[]},{"id":"d8844980.2912c8","type":"function","z":"cf0038a4.66ab88","name":"checkDayNight","func":"value=msg.payload.slice(4,9);\n//var v = context.get('oldValue') || 0;\n//var d = context.get('daynight') || \"night\";\n//context.set('oldValue',v);\n//context.set('daynight',d);\nmsg.payload=null;\nif (value < 40) {\n    if (context.get('oldValue') < 40) {\n        if (context.get('daynight') ===\"day\") {\n            msg.payload = \"night\";\n        }    \n        context.set('daynight', \"night\");\n    }\n} else if (value > 55) {\n    if (context.get('oldValue') > 55) {\n        if (context.get('daynight') === \"night\") {\n            msg.payload = \"day\";\n        }    \n        context.set('daynight', \"day\");\n    }\n}\ncontext.set('oldValue', value);\nif (msg.payload !== null) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":663.7615814208984,"y":93.96295928955078,"wires":[["d988ceb6.9acee"]]},{"id":"d988ceb6.9acee","type":"mqtt out","z":"cf0038a4.66ab88","name":"DayNight","topic":"PiForLiam/daynight/","qos":"2","retain":"","broker":"7f4665e7.8f71dc","x":840.9999847412109,"y":94,"wires":[]},{"id":"a4769c73.ae391","type":"inject","z":"cf0038a4.66ab88","name":"","topic":"","payload":"LVAL4.296","payloadType":"str","repeat":"","crontab":"","once":false,"x":377.75926208496094,"y":90.65277862548828,"wires":[["d8844980.2912c8"]]},{"id":"eb419a14.aaf618","type":"inject","z":"cf0038a4.66ab88","name":"","topic":"","payload":"LVAL94.29","payloadType":"str","repeat":"","crontab":"","once":false,"x":374.75694274902344,"y":49.65740966796875,"wires":[["d8844980.2912c8"]]},{"id":"6b7c012.32eb8","type":"inject","z":"cf0038a4.66ab88","name":"","topic":"","payload":"BATT2.70-","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.76388549804688,"y":128.65045928955078,"wires":[["fb879877.792ec8"]]},{"id":"8dbeec32.e8413","type":"sqlitedb","z":"","db":"/home/wiloneil/PiForLiamIOT.db"},{"id":"7f4665e7.8f71dc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]