LLAPHub.json.txt
[{"id":"57b6d114.fa106","type":"tab","label":"LLAP Hub"},{"id":"ac6d0696.84fb78","type":"serial in","z":"57b6d114.fa106","name":"SliceOfRadioIn","serial":"e856ded9.35109","x":323.75462341308594,"y":102.8865737915039,"wires":[["bd3531b5.ab6e3","dd7a633.ed3bca"]]},{"id":"de093f30.305a4","type":"debug","z":"57b6d114.fa106","name":"dbSliceOfRadioIn","active":true,"console":"false","complete":"true","x":780.7546234130859,"y":48.773162841796875,"wires":[]},{"id":"bd3531b5.ab6e3","type":"function","z":"57b6d114.fa106","name":"CreateLLAPMessage","func":"// name: CreateLLAPMessage\n// outputs: 2\n// anything stored in context is kept available for next time we get called\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\nfailedMsg=\"\";\n\n// wait for an a and reset the buffer and counter\nif (msg.payload == \"a\") { \n        if (context.count !== 0) {\n         failedMsg = context.buff;\n        }\n        context.count = 0; \n        context.buff = \"\"; \n} // this does mean the a must NOT appear elsewhere in the message\n\n// add payload to the buffer and increase the count\ncontext.buff = context.buff + msg.payload;\ncontext.count += 1;\n// when we reach 11 then output the whole message, assumes length is the a plus 11 - may need to tweak...\nif (context.count == 12) {\n    msg.topic = \"PiForLiam/Received/\" + context.buff.slice(1,3);\t// return the first two chars as the topic\n    msg.payload = context.buff.slice(3);\t// return rest of the buffer as the payload\n    context.count = 0;\n    return [msg,null];\n}\nif (failedMsg !== \"\") {\n    fmsg.payload=failedMsg;\n    return [null,fmsg]\n}\nreturn [null,null];","outputs":"2","noerr":0,"x":546.7569427490234,"y":103.125,"wires":[["de093f30.305a4","dee862f9.b87a7"],["924c1fc8.10567","a5c96737.b06898"]]},{"id":"924c1fc8.10567","type":"debug","z":"57b6d114.fa106","name":"dbFailedMsg","active":false,"console":"false","complete":"true","x":764.7592620849609,"y":155.43983459472656,"wires":[]},{"id":"dee862f9.b87a7","type":"mqtt out","z":"57b6d114.fa106","name":"MQTTReceieved","topic":"","qos":"","retain":"","broker":"7f4665e7.8f71dc","x":779.7616119384766,"y":94.7037124633789,"wires":[]},{"id":"658ec964.bd6888","type":"mqtt in","z":"57b6d114.fa106","name":"MQTTTransmit","topic":"PiForLiam/Transmit","qos":"2","broker":"7f4665e7.8f71dc","x":334.1666564941406,"y":252.3333282470703,"wires":[["d706b9e5.ada498","28ea652e.025d7a"]]},{"id":"d706b9e5.ada498","type":"serial out","z":"57b6d114.fa106","name":"SliceOfRadioOut","serial":"e856ded9.35109","x":578.1666564941406,"y":253.6666717529297,"wires":[]},{"id":"28ea652e.025d7a","type":"debug","z":"57b6d114.fa106","name":"dbSliceOfRadioOut","active":false,"console":"false","complete":"payload","x":572.166675567627,"y":301.00001525878906,"wires":[]},{"id":"92949b87.a6fe98","type":"inject","z":"57b6d114.fa106","name":"","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"","crontab":"","once":false,"x":364.1666564941406,"y":355.00001525878906,"wires":[["d706b9e5.ada498"]]},{"id":"173cf665.3c0b4a","type":"file","z":"57b6d114.fa106","name":"FailedMessageLog","filename":"/home/wiloneil/Automation/failedMessageLog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":969.5,"y":209.6666717529297,"wires":[]},{"id":"a5c96737.b06898","type":"function","z":"57b6d114.fa106","name":"prepFailedMessage","func":"time = new Date();\nfailedMsg = msg.payload;\nmsg.payload = time + \" : \" + failedMsg;\nreturn msg;","outputs":1,"noerr":0,"x":969.5,"y":157.6666717529297,"wires":[["173cf665.3c0b4a"]]},{"id":"dd7a633.ed3bca","type":"debug","z":"57b6d114.fa106","name":"dbSerialIn","active":false,"console":"false","complete":"payload","x":475.5,"y":167,"wires":[]},{"id":"e856ded9.35109","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"1","bin":"false","out":"count","addchar":false},{"id":"7f4665e7.8f71dc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]