Management
[{"id":"b24d5d9.3e913a","type":"tab","label":"Management","disabled":false,"info":""},{"id":"269504a.e1b7cfc","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"1f3f30a6.6a314f","x":90,"y":140,"wires":[["8a942203.07a3c","c8597787.36cd88"]]},{"id":"8a942203.07a3c","type":"switch","z":"b24d5d9.3e913a","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/BT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/ST","vt":"str"},{"t":"eq","v":"PiForLiam/Received/LT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/OT","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"}],"checkall":"true","outputs":7,"x":260,"y":139,"wires":[["bb6951e9.750cb","539f0733.1f44e8"],["af95ea8b.c264e8","846bbb20.7d1598"],["253dd57e.fa433a","94ad1851.895228"],["821e6025.ec019","391f9343.4a9c4c"],["1ed31686.f98b39","c0cef840.3514e8"],["f54212be.1c21e","6d5dd3e7.3d1a6c"],["35e3d944.46e096","60c8b167.9b7e1"]]},{"id":"c8597787.36cd88","type":"debug","z":"b24d5d9.3e913a","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":180,"y":40,"wires":[]},{"id":"bb6951e9.750cb","type":"function","z":"b24d5d9.3e913a","name":"prepareLightBattery","func":"if (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":510,"y":40,"wires":[["9f8b8713.431808"]]},{"id":"af95ea8b.c264e8","type":"function","z":"b24d5d9.3e913a","name":"prepBedroomBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":520,"y":85,"wires":[["682c27c4.65c1e8"]]},{"id":"253dd57e.fa433a","type":"function","z":"b24d5d9.3e913a","name":"prepSpareroomBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":522,"y":127.00000286102295,"wires":[["9f7a0d06.38a94"]]},{"id":"821e6025.ec019","type":"function","z":"b24d5d9.3e913a","name":"prepLivingroomBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":521,"y":170.0000057220459,"wires":[["81e28b6c.aee268"]]},{"id":"1ed31686.f98b39","type":"function","z":"b24d5d9.3e913a","name":"prepKitchenBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":512,"y":215.00000858306885,"wires":[["2ecbef64.7974"]]},{"id":"f54212be.1c21e","type":"function","z":"b24d5d9.3e913a","name":"prepOutsideBattery","func":"if (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return msg;\n}","outputs":"1","noerr":0,"x":510,"y":260.0000114440918,"wires":[["b2f5c1ef.06432"]]},{"id":"35e3d944.46e096","type":"function","z":"b24d5d9.3e913a","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":488,"y":307,"wires":[["96636ca8.6335a"],["8dc3c356.ba325"]]},{"id":"4dd13592.80646c","type":"ui_switch","z":"b24d5d9.3e913a","name":"Mote Lights","label":"Motes","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"PiforLiam/motephat","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":390,"y":440,"wires":[["9e238af4.ae9a18"]]},{"id":"9e238af4.ae9a18","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttMoteLightsOutButton","topic":"PiforLiam/motephat","qos":"","retain":"","broker":"f99ada80.47b138","x":607,"y":440,"wires":[]},{"id":"6c5ac148.0bb38","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttMoteLightsInButton","topic":"PiforLiam/motephat","qos":"2","broker":"f99ada80.47b138","x":157,"y":440,"wires":[["4dd13592.80646c"]]},{"id":"9f4f5cb1.ba2ee","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttKitchenLightsButton","topic":"PiForLiam/Received/KL","qos":"2","broker":"f99ada80.47b138","x":107,"y":500,"wires":[["b8878342.b3ae"]]},{"id":"feee77fb.db6f38","type":"ui_switch","z":"b24d5d9.3e913a","name":"Kitchen Lights","label":"Kitchen","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":517,"y":500,"wires":[["9caadd95.61f18"]]},{"id":"9caadd95.61f18","type":"function","z":"b24d5d9.3e913a","name":"toggleKitchenLights","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\nif (msg.payload == \"on\") {\n    msg1.payload=\"aKLRELAYAON-\";\n    msg2.payload=\"BUTTONAON\";\n}\nif (msg.payload == \"off\") {\n    msg1.payload=\"aKLRELAYAOFF\";\n    msg2.payload=\"BUTTONAOF\";\n}\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":727,"y":500,"wires":[["d70af43f.2eff68"],["6846d52e.6dda5c"]]},{"id":"b8878342.b3ae","type":"function","z":"b24d5d9.3e913a","name":"prepKitchenButton","func":"if (msg.payload==\"RELAYAON-\"){\n    msg.payload=\"on\";\n}\nif (msg.payload==\"RELAYAOFF\") {\n    msg.payload=\"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":500,"wires":[["feee77fb.db6f38"]]},{"id":"b75c2eb7.71fdf","type":"ui_switch","z":"b24d5d9.3e913a","name":"Sonoff1Button","label":"Tetris","group":"5a918802.758f28","order":0,"width":"2","height":"3","passthru":false,"decouple":"true","topic":"/Sonoff1/gpio/12","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":560,"wires":[["6679820c.de0d8c","96d2d7cc.ad05a8"]]},{"id":"6679820c.de0d8c","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttSonoff1ButtonOut","topic":"/Sonoff1/gpio/12","qos":"2","retain":"","broker":"f99ada80.47b138","x":760,"y":560,"wires":[]},{"id":"96d2d7cc.ad05a8","type":"debug","z":"b24d5d9.3e913a","name":"debugTetris","active":true,"console":"false","complete":"true","x":710,"y":620,"wires":[]},{"id":"d70af43f.2eff68","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttKitchenLights","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"f99ada80.47b138","x":970,"y":460,"wires":[]},{"id":"6846d52e.6dda5c","type":"mqtt out","z":"b24d5d9.3e913a","name":"mqttTogglePIR","topic":"PiForLiam/Received/KP","qos":"2","retain":"","broker":"f99ada80.47b138","x":959,"y":540,"wires":[]},{"id":"9f8b8713.431808","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Light Meter Battery","group":"b0db99fe.868468","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":40,"wires":[]},{"id":"8dc3c356.ba325","type":"ui_gauge","z":"b24d5d9.3e913a","name":"KitchenPIRBattery","group":"4bbe7f5a.e6cd6","order":2,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"7ddc12ab.46c85c","type":"ui_text","z":"b24d5d9.3e913a","group":"4bbe7f5a.e6cd6","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"Last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":280,"wires":[]},{"id":"96636ca8.6335a","type":"ui_text","z":"b24d5d9.3e913a","group":"4bbe7f5a.e6cd6","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":380,"wires":[]},{"id":"682c27c4.65c1e8","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Bedroom","group":"b81c50a8.7ba9c","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":84,"wires":[]},{"id":"9f7a0d06.38a94","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Spare Room","group":"48de9d9d.8d9e14","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":126,"wires":[]},{"id":"81e28b6c.aee268","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Living Room","group":"8522a49f.8a64f8","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":169,"wires":[]},{"id":"2ecbef64.7974","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Kitchen","group":"17c60dcb.4acf92","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":214,"wires":[]},{"id":"b2f5c1ef.06432","type":"ui_gauge","z":"b24d5d9.3e913a","name":"Outside","group":"9769633c.3edf5","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":259,"wires":[]},{"id":"2af0409.bd454c","type":"ui_text","z":"b24d5d9.3e913a","group":"b0db99fe.868468","order":5,"width":0,"height":0,"name":"LightmeterLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":40,"wires":[]},{"id":"cca97e16.5395a","type":"ui_text","z":"b24d5d9.3e913a","group":"b81c50a8.7ba9c","order":2,"width":0,"height":0,"name":"BedroomTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":80,"wires":[]},{"id":"6a3202c5.4096dc","type":"ui_text","z":"b24d5d9.3e913a","group":"48de9d9d.8d9e14","order":2,"width":0,"height":0,"name":"SpareRoomTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":120,"wires":[]},{"id":"f7c8ab41.1447b8","type":"ui_text","z":"b24d5d9.3e913a","group":"8522a49f.8a64f8","order":2,"width":0,"height":0,"name":"LivingRoomTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":160,"wires":[]},{"id":"b5c12086.c2335","type":"ui_text","z":"b24d5d9.3e913a","group":"17c60dcb.4acf92","order":2,"width":0,"height":0,"name":"KitchenTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":200,"wires":[]},{"id":"8af43960.0bc468","type":"ui_text","z":"b24d5d9.3e913a","group":"9769633c.3edf5","order":2,"width":0,"height":0,"name":"OutsideTempLastHeard","label":"Last reading at","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":240,"wires":[]},{"id":"539f0733.1f44e8","type":"function","z":"b24d5d9.3e913a","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('lllastheard') || time;\ncontext.set('lllastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0){\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('lllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":40,"wires":[["2af0409.bd454c"]]},{"id":"846bbb20.7d1598","type":"function","z":"b24d5d9.3e913a","name":"PrepBTLastheard","func":"time=new Date();\nvar lh = context.get('btlastheard') || time;\ncontext.set('btlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('btlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":80,"wires":[["cca97e16.5395a"]]},{"id":"94ad1851.895228","type":"function","z":"b24d5d9.3e913a","name":"PrepSTLastheard","func":"time=new Date();\nvar lh = context.get('stlastheard') || time;\ncontext.set('stlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('stlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":124,"wires":[["6a3202c5.4096dc"]]},{"id":"391f9343.4a9c4c","type":"function","z":"b24d5d9.3e913a","name":"PrepLTLastheard","func":"time=new Date();\nvar lh = context.get('ltlastheard') || time;\ncontext.set('ltlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('ltlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":160,"wires":[["f7c8ab41.1447b8"]]},{"id":"60c8b167.9b7e1","type":"function","z":"b24d5d9.3e913a","name":"PrepKPLastheard","func":"time=new Date();\nvar lh = context.get('kplastheard') || time;\ncontext.set('kplastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('kplastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["7ddc12ab.46c85c"]]},{"id":"c0cef840.3514e8","type":"function","z":"b24d5d9.3e913a","name":"PrepKTLastheard","func":"time=new Date();\nvar lh = context.get('ktlastheard') || time;\ncontext.set('ktlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('ktlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["b5c12086.c2335"]]},{"id":"6d5dd3e7.3d1a6c","type":"function","z":"b24d5d9.3e913a","name":"PrepOTLastheard","func":"time=new Date();\nvar lh = context.get('otlastheard') || time;\ncontext.set('otlastheard',lh);\nvar num = ~~((time-lh) / 60000);\nif (num===0) {\n msg.payload = \"it's been less than 1 minute\";\n} else {\n msg.payload = \"it's been \" + num + \" minutes\"; \n}\n\nif (msg.topic != \"checking\") {\n    context.set('otlastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["8af43960.0bc468"]]},{"id":"9b839b06.19fc68","type":"inject","z":"b24d5d9.3e913a","name":"CheckLastHeard","topic":"checking","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":730,"y":380,"wires":[["539f0733.1f44e8","846bbb20.7d1598","94ad1851.895228","391f9343.4a9c4c","c0cef840.3514e8","6d5dd3e7.3d1a6c","60c8b167.9b7e1"]]},{"id":"7906ebf6.c95724","type":"mqtt in","z":"b24d5d9.3e913a","name":"mqttSonoff1ButtonIn","topic":"/Sonoff1/gpio/12","qos":"2","broker":"f99ada80.47b138","x":90,"y":560,"wires":[["a547237.901f9e"]]},{"id":"a547237.901f9e","type":"function","z":"b24d5d9.3e913a","name":"prepTetrisInput","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["b75c2eb7.71fdf"]]},{"id":"1f3f30a6.6a314f","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a918802.758f28","type":"ui_group","z":"","name":"Switches","tab":"e98eb6ff.959f78","order":1,"disp":true,"width":"10"},{"id":"f99ada80.47b138","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b0db99fe.868468","type":"ui_group","z":"","name":"LightMeter","tab":"e98eb6ff.959f78","order":3,"disp":true,"width":"10"},{"id":"4bbe7f5a.e6cd6","type":"ui_group","z":"","name":"Kitchen PIR","tab":"e98eb6ff.959f78","order":2,"disp":true,"width":"10"},{"id":"b81c50a8.7ba9c","type":"ui_group","z":"","name":"BT","tab":"e98eb6ff.959f78","order":4,"disp":true,"width":"10"},{"id":"48de9d9d.8d9e14","type":"ui_group","z":"","name":"ST","tab":"e98eb6ff.959f78","order":5,"disp":true,"width":"10"},{"id":"8522a49f.8a64f8","type":"ui_group","z":"","name":"LT","tab":"e98eb6ff.959f78","order":6,"disp":true,"width":"10"},{"id":"17c60dcb.4acf92","type":"ui_group","z":"","name":"KT","tab":"e98eb6ff.959f78","order":7,"disp":true,"width":"10"},{"id":"9769633c.3edf5","type":"ui_group","z":"","name":"OT","tab":"e98eb6ff.959f78","order":8,"disp":true,"width":"10"},{"id":"e98eb6ff.959f78","type":"ui_tab","z":"","name":"Management","icon":"dashboard","order":4}]
