MotePhat.json.txt
[{"id":"b30b99da.aab058","type":"tab","label":"Mote Phat","disabled":false},{"id":"915f4fd1.971fc","type":"mqtt in","z":"b30b99da.aab058","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":172.3333282470703,"y":66.33332824707031,"wires":[["cd673f34.2b08f","1f8a540d.5e744c"]]},{"id":"cd673f34.2b08f","type":"function","z":"b30b99da.aab058","name":"PrepDNTweet","func":"t=new Date().toString();\ntime = t.slice(15,28);\nif (msg.payload == \"day\") {\n    msg.payload = (\"LL says it's day at \" + time);\n}\nif (msg.payload == \"night\") {\n    msg.payload = (\"LL says it's night at \" + time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.3333282470703,"y":66.13887023925781,"wires":[[]]},{"id":"1f8a540d.5e744c","type":"function","z":"b30b99da.aab058","name":"PrepMotePhat","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"off\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"on\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.3263702392578,"y":115.81248474121094,"wires":[["a05bed2b.296c9","d4cdcf5.67dcf3"]]},{"id":"a05bed2b.296c9","type":"mqtt out","z":"b30b99da.aab058","name":"mqttMotePhat","topic":"PiforLiam/motephat","qos":"2","retain":"","broker":"15b941ac.36365e","x":560.3310394287109,"y":115.76155090332031,"wires":[]},{"id":"b4a6fa.b6159908","type":"inject","z":"b30b99da.aab058","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"day","payloadType":"str","x":124.33563232421875,"y":175.4536895751953,"wires":[["1f8a540d.5e744c"]]},{"id":"917dd789.5d8658","type":"inject","z":"b30b99da.aab058","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"night","payloadType":"str","x":101.32637023925781,"y":223.4513702392578,"wires":[["1f8a540d.5e744c"]]},{"id":"d4cdcf5.67dcf3","type":"debug","z":"b30b99da.aab058","name":"","active":false,"console":"false","complete":"false","x":528.3287200927734,"y":180.38426208496094,"wires":[]},{"id":"842ee7ed.65b928","type":"inject","z":"b30b99da.aab058","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"BRIGHT 0.2","payloadType":"str","x":90.71589660644531,"y":267.7708053588867,"wires":[["a05bed2b.296c9"]]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
