MotePhat.json.txt
[{"id":"4f598c59.a652f4","type":"tab","label":"Mote Phat"},{"id":"a7e1fe00.6c059","type":"mqtt in","z":"4f598c59.a652f4","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"7f4665e7.8f71dc","x":172.3333282470703,"y":66.33332824707031,"wires":[["e7d16d74.2c85a","1842ae4e.d7c8d2"]]},{"id":"e7d16d74.2c85a","type":"function","z":"4f598c59.a652f4","name":"PrepDNTweet","func":"t=new Date().toString();\ntime = t.slice(15,28);\nif (msg.payload == \"day\") {\n    msg.payload = (\"LL says it's day at \" + time);\n}\nif (msg.payload == \"night\") {\n    msg.payload = (\"LL says it's night at \" + time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.3333282470703,"y":66.13887023925781,"wires":[["18d90f6e.4a8841"]]},{"id":"18d90f6e.4a8841","type":"twitter out","z":"4f598c59.a652f4","twitter":"","name":"DayNightTweet","x":557.3333587646484,"y":66.94212341308594,"wires":[]},{"id":"1842ae4e.d7c8d2","type":"function","z":"4f598c59.a652f4","name":"PrepMotePhat","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"off\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"on\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.3263702392578,"y":115.81248474121094,"wires":[["ca27e0f.14c0f2","8799cd93.5be27"]]},{"id":"ca27e0f.14c0f2","type":"mqtt out","z":"4f598c59.a652f4","name":"mqttMotePhat","topic":"PiforLiam/motephat","qos":"2","retain":"","broker":"7f4665e7.8f71dc","x":560.3310394287109,"y":115.76155090332031,"wires":[]},{"id":"150147c8.4ecd78","type":"inject","z":"4f598c59.a652f4","name":"","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.33563232421875,"y":175.4536895751953,"wires":[["1842ae4e.d7c8d2"]]},{"id":"6509709f.6aa36","type":"inject","z":"4f598c59.a652f4","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.32637023925781,"y":223.4513702392578,"wires":[["1842ae4e.d7c8d2"]]},{"id":"8799cd93.5be27","type":"debug","z":"4f598c59.a652f4","name":"","active":false,"console":"false","complete":"false","x":528.3287200927734,"y":180.38426208496094,"wires":[]},{"id":"fce07c72.09bd4","type":"inject","z":"4f598c59.a652f4","name":"","topic":"","payload":"BRIGHT 0.2","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.71589660644531,"y":267.7708053588867,"wires":[["ca27e0f.14c0f2"]]},{"id":"7f4665e7.8f71dc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]