Sonoff1
[{"id":"b48bac2f.f9e9f","type":"tab","label":"Sonoff1","disabled":false,"info":""},{"id":"568f223c.31986c","type":"mqtt in","z":"b48bac2f.f9e9f","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":140,"y":80,"wires":[["cbbd4408.7d5268"]]},{"id":"cbbd4408.7d5268","type":"function","z":"b48bac2f.f9e9f","name":"prepSonoff1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = 0;\n}\nif (msg.payload == \"night\") {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["cd4cf572.4f8078","7a35765e.a54ec8","3c054fab.7f79","e34b543e.52ad28"]]},{"id":"cd4cf572.4f8078","type":"mqtt out","z":"b48bac2f.f9e9f","name":"mqttSonoff1","topic":"/Sonoff1/gpio/12","qos":"2","retain":"true","broker":"15b941ac.36365e","x":560,"y":120,"wires":[]},{"id":"a86f2dda.f3907","type":"inject","z":"b48bac2f.f9e9f","name":"day","props":[{"p":"payload","v":"day","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"day","payloadType":"str","x":90,"y":180,"wires":[["cbbd4408.7d5268"]]},{"id":"986ec536.98c4c8","type":"inject","z":"b48bac2f.f9e9f","name":"","props":[{"p":"payload","v":"night","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"night","payloadType":"str","x":90,"y":240,"wires":[["cbbd4408.7d5268"]]},{"id":"8a20b6af.be4768","type":"inject","z":"b48bac2f.f9e9f","name":"TurnOffSonoff1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"40 22 * * *","once":false,"onceDelay":"","topic":"Sonoff1/GPIO/12","payload":"day","payloadType":"str","x":120,"y":300,"wires":[["cbbd4408.7d5268"]]},{"id":"7a35765e.a54ec8","type":"debug","z":"b48bac2f.f9e9f","name":"debugSonoff1","active":false,"console":"false","complete":"payload","x":570,"y":180,"wires":[]},{"id":"3c054fab.7f79","type":"mqtt out","z":"b48bac2f.f9e9f","name":"mqttSonoff2","topic":"/Sonoff2/gpio/12","qos":"2","retain":"true","broker":"15b941ac.36365e","x":570,"y":240,"wires":[]},{"id":"e34b543e.52ad28","type":"debug","z":"b48bac2f.f9e9f","name":"debugSonoff2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":300,"wires":[]},{"id":"fea928c5.657988","type":"debug","z":"b48bac2f.f9e9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"b45b739e.f03a3","type":"mqtt in","z":"b48bac2f.f9e9f","name":"PhoneStairsIn","topic":"PiforLiam/Stairs","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":100,"y":360,"wires":[["cd4cf572.4f8078"]]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
