Sonoff1
[{"id":"820e88d9.2b7e28","type":"mqtt in","z":"71da6e40.ed829","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"d01c477f.1401f8","x":140,"y":80,"wires":[["d50bdd6b.24397"]]},{"id":"d50bdd6b.24397","type":"function","z":"71da6e40.ed829","name":"prepSonoff1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = 0;\n}\nif (msg.payload == \"night\") {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["314871c1.3e8e9e","ff873c34.4f37c"]]},{"id":"314871c1.3e8e9e","type":"mqtt out","z":"71da6e40.ed829","name":"","topic":"/Sonoff1/gpio/12","qos":"","retain":"","broker":"658affec.577c2","x":570,"y":120,"wires":[]},{"id":"21780755.b7cf98","type":"inject","z":"71da6e40.ed829","name":"day","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["d50bdd6b.24397"]]},{"id":"7a66c926.fa06e8","type":"inject","z":"71da6e40.ed829","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":240,"wires":[["d50bdd6b.24397"]]},{"id":"fc8caab9.82c038","type":"inject","z":"71da6e40.ed829","name":"TurnOffSonoff1","topic":"Sonoff1/GPIO/12","payload":"day","payloadType":"str","repeat":"","crontab":"30 22 * * *","once":false,"x":120,"y":300,"wires":[["d50bdd6b.24397"]]},{"id":"ff873c34.4f37c","type":"debug","z":"71da6e40.ed829","name":"dbSonoff1","active":false,"console":"false","complete":"payload","x":550,"y":180,"wires":[]},{"id":"d01c477f.1401f8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"658affec.577c2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
