Sonoff1
[{"id":"59aa89e3.469058","type":"mqtt in","z":"868330db.8a12f","name":"DayNightIn","topic":"PiForLiam/daynight/","qos":"2","broker":"c23cd95a.cf7958","x":140,"y":80,"wires":[["642d262a.32d9e8"]]},{"id":"642d262a.32d9e8","type":"function","z":"868330db.8a12f","name":"prepSonoff1","func":"if (msg.payload == \"day\" ) {\n    msg.payload = \"0\";\n}\nif (msg.payload == \"night\") {\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["56f3e31f.261eec"]]},{"id":"56f3e31f.261eec","type":"mqtt out","z":"868330db.8a12f","name":"","topic":"Sonoff1/GPIO/12","qos":"","retain":"","broker":"bb14b904.d08b58","x":580,"y":120,"wires":[]},{"id":"3e5b85ea.6a5d7a","type":"inject","z":"868330db.8a12f","name":"day","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["642d262a.32d9e8"]]},{"id":"bcc4f467.e23e28","type":"inject","z":"868330db.8a12f","name":"","topic":"","payload":"night","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":240,"wires":[["642d262a.32d9e8"]]},{"id":"bc01bf94.2b351","type":"inject","z":"868330db.8a12f","name":"TurnOffSonoff1","topic":"Sonoff1/GPIO/12","payload":"day","payloadType":"str","repeat":"","crontab":"30 22 * * *","once":false,"x":120,"y":300,"wires":[["642d262a.32d9e8"]]},{"id":"c23cd95a.cf7958","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bb14b904.d08b58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
