Temps.json.txt
[{"id":"ba0c44d1.a4a2a8","type":"tab","label":"Temps","disabled":true,"info":""},{"id":"5a506520.e55f3c","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","broker":"f99ada80.47b138","x":109.16667175292969,"y":50.333335876464844,"wires":[["1a0af983.1c9696"]]},{"id":"4fa2e16b.053b9","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","broker":"f99ada80.47b138","x":115.16667175292969,"y":98.33334350585938,"wires":[["b10f28e6.62fe08"]]},{"id":"72da3d4d.c49534","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","broker":"f99ada80.47b138","x":113.16667175292969,"y":142.33334350585938,"wires":[["6f6dad58.3ae6b4"]]},{"id":"60d1ef7a.f02c1","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","broker":"f99ada80.47b138","x":95.16667175292969,"y":188.33334350585938,"wires":[["7fb5807e.f62fe"]]},{"id":"b8278e6b.a2c61","type":"mqtt in","z":"ba0c44d1.a4a2a8","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","broker":"f99ada80.47b138","x":97.16667175292969,"y":234.33334350585938,"wires":[["2fb9b7b8.3d9548"]]},{"id":"1a0af983.1c9696","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.34;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["ea365285.8544"],["5cfa3b17.4712f4"]]},{"id":"b10f28e6.62fe08","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)+8.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["ea365285.8544"],["387fa17.ab1675e"]]},{"id":"6f6dad58.3ae6b4","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.39;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["ea365285.8544"],["18fae0dc.acbc0f"]]},{"id":"7fb5807e.f62fe","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.00;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["ea365285.8544"],["217d51de.e15a4e"]]},{"id":"2fb9b7b8.3d9548","type":"function","z":"ba0c44d1.a4a2a8","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["ea365285.8544"],["3ffe0597.c8202a"]]},{"id":"ea365285.8544","type":"ui_chart","z":"ba0c44d1.a4a2a8","name":"chartTemperatures","group":"84567535.c79908","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":630,"y":60,"wires":[[],[]]},{"id":"5cfa3b17.4712f4","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Bedroom","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Bedroom","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":120,"wires":[]},{"id":"387fa17.ab1675e","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Spare Room","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Spare Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"18fae0dc.acbc0f","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Living Room","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Living Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"217d51de.e15a4e","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Kitchen","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Kitchen","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"3ffe0597.c8202a","type":"ui_gauge","z":"ba0c44d1.a4a2a8","name":"Outside","group":"aa7e6c16.ae98","order":0,"width":"2","height":"2","gtype":"wave","title":"Outside","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]},{"id":"f99ada80.47b138","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"84567535.c79908","type":"ui_group","z":"","name":"Temps","tab":"e66aef86.75fd8","order":1,"disp":true,"width":"16"},{"id":"aa7e6c16.ae98","type":"ui_group","z":"","name":"Battery","tab":"e66aef86.75fd8","order":2,"disp":true,"width":"14"},{"id":"e66aef86.75fd8","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2}]
