Temps.json.txt
[{"id":"fb2da7ee.cfb508","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","broker":"bb14b904.d08b58","x":109.16667175292969,"y":50.333335876464844,"wires":[["b2452406.5a8c28"]]},{"id":"e23817a6.558a78","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","broker":"bb14b904.d08b58","x":115.16667175292969,"y":98.33334350585938,"wires":[["ede56f3c.8b5b7"]]},{"id":"62aab914.bbc8f8","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","broker":"bb14b904.d08b58","x":113.16667175292969,"y":142.33334350585938,"wires":[["10ed80a3.fb9b8f"]]},{"id":"74cd420b.f1f96c","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","broker":"bb14b904.d08b58","x":95.16667175292969,"y":188.33334350585938,"wires":[["c7de80b6.a410e"]]},{"id":"24182ddc.07cc82","type":"mqtt in","z":"bc2997ce.e31788","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","broker":"bb14b904.d08b58","x":97.16667175292969,"y":234.33334350585938,"wires":[["c669da17.d58b98"]]},{"id":"b2452406.5a8c28","type":"function","z":"bc2997ce.e31788","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.34;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["45b85c93.f8f4f4"],["32993c1c.840934"]]},{"id":"ede56f3c.8b5b7","type":"function","z":"bc2997ce.e31788","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)+8.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["45b85c93.f8f4f4"],["15e7bf06.e387a1"]]},{"id":"10ed80a3.fb9b8f","type":"function","z":"bc2997ce.e31788","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.39;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["45b85c93.f8f4f4"],["ea160739.3b4648"]]},{"id":"c7de80b6.a410e","type":"function","z":"bc2997ce.e31788","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.00;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["45b85c93.f8f4f4"],["7c6fe551.4fc39c"]]},{"id":"c669da17.d58b98","type":"function","z":"bc2997ce.e31788","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    value=msg.payload.slice(4,10);\n    msg.payload = parseFloat(value)-0.0;\n    msg.topic=device;\n    return[msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\"){\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["45b85c93.f8f4f4"],["932468bd.2ca3b8"]]},{"id":"45b85c93.f8f4f4","type":"ui_chart","z":"bc2997ce.e31788","name":"chartTemperatures","group":"f6823baa.5b6db8","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":630,"y":60,"wires":[[],[]]},{"id":"32993c1c.840934","type":"ui_gauge","z":"bc2997ce.e31788","name":"Bedroom","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Bedroom","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":120,"wires":[]},{"id":"15e7bf06.e387a1","type":"ui_gauge","z":"bc2997ce.e31788","name":"Spare Room","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Spare Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"ea160739.3b4648","type":"ui_gauge","z":"bc2997ce.e31788","name":"Living Room","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Living Room","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"7c6fe551.4fc39c","type":"ui_gauge","z":"bc2997ce.e31788","name":"Kitchen","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Kitchen","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"932468bd.2ca3b8","type":"ui_gauge","z":"bc2997ce.e31788","name":"Outside","group":"829529b0.5d9ec8","order":0,"width":"2","height":"2","gtype":"wave","title":"Outside","label":"v","format":"{{value}}","min":"2.2","max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]},{"id":"bb14b904.d08b58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f6823baa.5b6db8","type":"ui_group","z":"","name":"Temps","tab":"66b2c691.507818","order":1,"disp":true,"width":"16"},{"id":"829529b0.5d9ec8","type":"ui_group","z":"","name":"Battery","tab":"66b2c691.507818","order":2,"disp":true,"width":"14"},{"id":"66b2c691.507818","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2}]
