Temps.json.txt
[{"id":"c56efb2b.658c68","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttBedroomTemp","topic":"PiForLiam/Received/BT","qos":"2","broker":"15d18be9.e56354","x":109.16667175292969,"y":50.333335876464844,"wires":[["8a21f602.061b68","279d1904.efb066"]]},{"id":"2f563a0b.fa44c6","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttSpareRoomTemp","topic":"PiForLiam/Received/ST","qos":"2","broker":"15d18be9.e56354","x":115.16667175292969,"y":98.33334350585938,"wires":[["862824bf.185b58","4498d77.8236028"]]},{"id":"ed84b937.9fe0a8","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttLivingRoomTemp","topic":"PiForLiam/Received/LT","qos":"2","broker":"15d18be9.e56354","x":113.16667175292969,"y":142.33334350585938,"wires":[["5c007735.08de28"]]},{"id":"c7070437.8e69a8","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttKitchenTemp","topic":"PiForLiam/Received/KT","qos":"2","broker":"15d18be9.e56354","x":95.16667175292969,"y":188.33334350585938,"wires":[["8757511f.83172"]]},{"id":"e618c812.c8f428","type":"mqtt in","z":"afdb5610.ef6678","name":"mqttOutsideTemp","topic":"PiForLiam/Received/OT","qos":"2","broker":"15d18be9.e56354","x":97.16667175292969,"y":234.33334350585938,"wires":[["e4199e76.e288e"]]},{"id":"8a21f602.061b68","type":"function","z":"afdb5610.ef6678","name":"adjustBedroom","func":"device=\"Bedroom\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":333.1667022705078,"y":49.00000286102295,"wires":[["2ab0addd.4dcac2","d218a71a.4b3498"]]},{"id":"862824bf.185b58","type":"function","z":"afdb5610.ef6678","name":"adjustSpareroom","func":"device=\"Spare Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":341.1667022705078,"y":97.0000057220459,"wires":[["2ab0addd.4dcac2","998895a3.1607d8"]]},{"id":"5c007735.08de28","type":"function","z":"afdb5610.ef6678","name":"adjustLivingroom","func":"device=\"Living Room\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":335.1667022705078,"y":143.00000858306885,"wires":[["2ab0addd.4dcac2"]]},{"id":"8757511f.83172","type":"function","z":"afdb5610.ef6678","name":"adjustKitchen","func":"device=\"Kitchen\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":319.1667022705078,"y":185.0000114440918,"wires":[["2ab0addd.4dcac2"]]},{"id":"e4199e76.e288e","type":"function","z":"afdb5610.ef6678","name":"adjustOutside","func":"device=\"Outside\";\nif (msg.payload.slice(0,4)==\"TMPA\"){\n    msg.payload=msg.payload.slice(4,10);\n    msg.topic=device;\n}\nreturn msg;","outputs":1,"noerr":0,"x":319.1667022705078,"y":227.00001430511475,"wires":[["2ab0addd.4dcac2"]]},{"id":"2ab0addd.4dcac2","type":"ui_chart","z":"afdb5610.ef6678","name":"chartTemperatures","group":"dc54adea.b74db","order":0,"width":0,"height":0,"label":"Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":533.1666870117188,"y":141.6666717529297,"wires":[[],[]]},{"id":"279d1904.efb066","type":"debug","z":"afdb5610.ef6678","name":"dbBTIn","active":true,"console":"false","complete":"true","x":435.16668701171875,"y":288.66668701171875,"wires":[]},{"id":"4498d77.8236028","type":"debug","z":"afdb5610.ef6678","name":"dbSTIn","active":true,"console":"false","complete":"true","x":417.16668701171875,"y":328.66668701171875,"wires":[]},{"id":"d218a71a.4b3498","type":"debug","z":"afdb5610.ef6678","name":"dbBTOut","active":true,"console":"false","complete":"true","x":665.1666870117188,"y":290.66668701171875,"wires":[]},{"id":"998895a3.1607d8","type":"debug","z":"afdb5610.ef6678","name":"dbSTOut","active":true,"console":"false","complete":"true","x":645.1666870117188,"y":332.66668701171875,"wires":[]},{"id":"15d18be9.e56354","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dc54adea.b74db","type":"ui_group","z":"","name":"Temps","tab":"e81a0ca5.3a1c1","order":1,"disp":true,"width":"16"},{"id":"e81a0ca5.3a1c1","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2}]
