UserInterface.json.txt
[{"id":"1e44629e.a16bed","type":"tab","label":"User Interface"},{"id":"920c9846.437478","type":"ui_gauge","z":"1e44629e.a16bed","name":"Light Meter Battery","group":"719dad77.a62494","order":1,"width":"3","height":"3","gtype":"wave","title":"Gauge","label":"units","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"x":790.7545928955078,"y":167.83334350585938,"wires":[]},{"id":"4770f5ac.ce489c","type":"function","z":"1e44629e.a16bed","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n//    msg.payload=value;\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":548.7568817138672,"y":47.3101806640625,"wires":[["260f56d8.ad9a9a","7e9baaae.d0ba24","ce116b3b.691438"],["920c9846.437478","260f56d8.ad9a9a","ce116b3b.691438"]]},{"id":"7e9baaae.d0ba24","type":"sqlite","z":"1e44629e.a16bed","mydb":"8dbeec32.e8413","name":"PiForLiamLightLevelsChartdata","x":837.4282073974609,"y":43.437469482421875,"wires":[["2def9890.da3788","4bcd48be.94c7b8"]]},{"id":"2def9890.da3788","type":"debug","z":"1e44629e.a16bed","name":"dbLightFromDatabase","active":false,"console":"false","complete":"true","x":1130.75927734375,"y":44.9930419921875,"wires":[]},{"id":"260f56d8.ad9a9a","type":"debug","z":"1e44629e.a16bed","name":"dbprepLightUI","active":false,"console":"false","complete":"true","x":552.7639007568359,"y":92.9930419921875,"wires":[]},{"id":"4bcd48be.94c7b8","type":"function","z":"1e44629e.a16bed","name":"TestChartDB","func":"var tuple = [];\nvar values = [];\nvar form = [];\nfor (i=0;i<msg.payload.length;i++) {\n    tuple=[msg.payload[i].time,msg.payload[i].value];\n    values[i] = tuple;\n}\nkey=\"LL\";\nform = [{key,values}];\nmsg.payload=form;\nmsg.topic=\"LL\";\nreturn msg;","outputs":1,"noerr":0,"x":775.7546577453613,"y":84.49307250976562,"wires":[["e80f8b1a.1359b8","5a37f4ea.50001c"]]},{"id":"e80f8b1a.1359b8","type":"debug","z":"1e44629e.a16bed","name":"dbToChart","active":false,"console":"false","complete":"true","x":971.7546577453613,"y":85.3240966796875,"wires":[]},{"id":"5a37f4ea.50001c","type":"ui_chart","z":"1e44629e.a16bed","name":"Light Level Chart","group":"f912db15.5c1bc8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"x":790.2661895751953,"y":126.28240203857422,"wires":[[],[]]},{"id":"ce116b3b.691438","type":"function","z":"1e44629e.a16bed","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('lllastheard') || time;\ncontext.set('lllastheard',lh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-lh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-lh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-lh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-lh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-lh) > 3600000) {\nmsg.payload = lh;\n}\nif (msg.topic != \"checking\") {\n    context.set('lllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.7568817138672,"y":142.63194274902344,"wires":[["374fbc28.af8954"]]},{"id":"374fbc28.af8954","type":"ui_template","z":"1e44629e.a16bed","group":"719dad77.a62494","name":"LLLastheardText","order":6,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Light last heard at </p></p>\n    <div ng-bind-html=\"msg.payload\"></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":781.2661590576172,"y":211.2824249267578,"wires":[[]]},{"id":"64d636b2.adf638","type":"ui_gauge","z":"1e44629e.a16bed","name":"KitchenPIRBattery","group":"719dad77.a62494","order":2,"width":"3","height":"3","gtype":"wave","title":"Kitchen PIR Battery","label":"units","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"x":782.8333053588867,"y":299.66663360595703,"wires":[]},{"id":"1ef7458a.ad8cba","type":"ui_text","z":"1e44629e.a16bed","group":"719dad77.a62494","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"PIR last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":791.8333053588867,"y":338.3333206176758,"wires":[]},{"id":"113471c9.64425e","type":"ui_text","z":"1e44629e.a16bed","group":"719dad77.a62494","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":783.8333053588867,"y":261.3333206176758,"wires":[]},{"id":"f34c539e.e1b08","type":"ui_text","z":"1e44629e.a16bed","group":"719dad77.a62494","order":4,"width":0,"height":0,"name":"KitchenRelayStatus","label":"Relay is ","format":"{{msg.payload}}","layout":"row-spread","x":784.8333129882812,"y":397.3332977294922,"wires":[]},{"id":"5b917aac.0b4224","type":"mqtt in","z":"1e44629e.a16bed","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"7f4665e7.8f71dc","x":80.83332824707031,"y":61.000030517578125,"wires":[["2729cd0e.181922","68aeeb57.79bb44"]]},{"id":"2729cd0e.181922","type":"switch","z":"1e44629e.a16bed","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KL","vt":"str"}],"checkall":"true","outputs":3,"x":304.83331298828125,"y":61.666656494140625,"wires":[["4770f5ac.ce489c"],["a8967398.9da3c"],["a7b2c8f9.3bee18"]]},{"id":"a8967398.9da3c","type":"function","z":"1e44629e.a16bed","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":544.8333435058594,"y":254.33331298828125,"wires":[["965b65e8.ca5fd8","185a28ff.ae65b7","113471c9.64425e"],["965b65e8.ca5fd8","185a28ff.ae65b7","64d636b2.adf638"]]},{"id":"965b65e8.ca5fd8","type":"debug","z":"1e44629e.a16bed","name":"dbPrepPIRUI","active":false,"console":"false","complete":"payload","x":542.8333435058594,"y":294.33331298828125,"wires":[]},{"id":"185a28ff.ae65b7","type":"function","z":"1e44629e.a16bed","name":"prepPIRLastHeard","func":"time=new Date();\nvar ph = context.get('kplastheard') || time;\ncontext.set('kplastheard',ph);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-ph) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-ph) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-ph) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-ph) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-ph) > 3600000) {\nmsg.payload = ph;\n}\nif (msg.topic != \"checking\") {\n    context.set('kplastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.8901062011719,"y":338.40909576416016,"wires":[["1ef7458a.ad8cba"]]},{"id":"268ba24d.3f8f6e","type":"ui_text","z":"1e44629e.a16bed","group":"719dad77.a62494","order":7,"width":0,"height":0,"name":"KitchenRelayLastHeard","label":"Relay last heard at","format":"{{msg.payload}}","layout":"row-spread","x":807.8957443237305,"y":482.348445892334,"wires":[]},{"id":"a7b2c8f9.3bee18","type":"function","z":"1e44629e.a16bed","name":"prepRelayUI","func":"if (msg.payload ==\"RELAYAON-\") {\n    msg.payload = \"ON\"\n    return msg;\n}\nif (msg.payload ==\"RELAYAOFF\") {\n    msg.payload = \"OFF\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":541.5795288085938,"y":397.7878723144531,"wires":[["5f81c865.76a9f8","b7dfe1fa.afa6f","f34c539e.e1b08"]]},{"id":"5f81c865.76a9f8","type":"debug","z":"1e44629e.a16bed","name":"dbPrepRelayUI","active":false,"console":"false","complete":"payload","x":549.5795288085938,"y":437.7878723144531,"wires":[]},{"id":"b7dfe1fa.afa6f","type":"function","z":"1e44629e.a16bed","name":"prepRelayLastHeard","func":"time=new Date();\nvar rh = context.get('kllastheard') || time;\ncontext.set('kllastheard',rh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-rh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-rh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-rh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-rh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-rh) > 3600000) {\nmsg.payload = rh;\n}\nif (msg.topic != \"checking\") {\n    context.set('kllastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":565.6362915039062,"y":481.86365509033203,"wires":[["268ba24d.3f8f6e"]]},{"id":"e14da426.b410c8","type":"inject","z":"1e44629e.a16bed","name":"inCheckRelay","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"60","crontab":"","once":false,"x":105.71589660644531,"y":205.76512908935547,"wires":[["43ea9394.36cc2c"]]},{"id":"43ea9394.36cc2c","type":"mqtt out","z":"1e44629e.a16bed","name":"mqttCheckKitchenRelay","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"7f4665e7.8f71dc","x":311.71209716796875,"y":206.13257598876953,"wires":[]},{"id":"68aeeb57.79bb44","type":"debug","z":"1e44629e.a16bed","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":274.710205078125,"y":115.78218841552734,"wires":[]},{"id":"27c5246e.bdd71c","type":"inject","z":"1e44629e.a16bed","name":"CheckLastHeard","topic":"checking","payload":"","payloadType":"date","repeat":"66","crontab":"","once":false,"x":276.710205078125,"y":337.52269744873047,"wires":[["ce116b3b.691438","185a28ff.ae65b7","b7dfe1fa.afa6f"]]},{"id":"719dad77.a62494","type":"ui_group","z":"","name":"Status","tab":"c9c5492d.2328e8","order":1,"disp":true,"width":"6"},{"id":"8dbeec32.e8413","type":"sqlitedb","z":"","db":"/home/wiloneil/PiForLiamIOT.db"},{"id":"f912db15.5c1bc8","type":"ui_group","z":"","name":"Light Levels","tab":"c9c5492d.2328e8","order":2,"disp":true,"width":"10"},{"id":"7f4665e7.8f71dc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c9c5492d.2328e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]