UserInterface.json.txt
[{"id":"55a9dafd.794544","type":"tab","label":"User Interface","disabled":true,"info":""},{"id":"117d4cb3.688353","type":"ui_gauge","z":"55a9dafd.794544","name":"Light Meter Battery","group":"cb22e126.4c3cb","order":1,"width":"3","height":"3","gtype":"wave","title":"Gauge","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790.7545928955078,"y":167.83334350585938,"wires":[]},{"id":"96fe782d.da11a8","type":"function","z":"55a9dafd.794544","name":"prepareLightUI","func":"if (msg.payload.slice(1,4)==\"VAL\") {\n    //trigger to get data from db\n    msg.topic = \"SELECT time,value FROM lightLevel ORDER BY lightKey DESC LIMIT 150;\";\n//    value=msg.payload.slice(4,9);  \n    msg.topic=\"light levels\"\n    msg.payload=msg.payload.slice(4,9);\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":548.7568817138672,"y":47.3101806640625,"wires":[["371d8db3.d97a52","4fbf6444.e14a2c","6d6b401d.e07b6"],["117d4cb3.688353","371d8db3.d97a52","4fbf6444.e14a2c"]]},{"id":"f404cdcd.fbbfd","type":"debug","z":"55a9dafd.794544","name":"dbLightFromDatabase","active":false,"console":"false","complete":"true","x":1130.75927734375,"y":44.9930419921875,"wires":[]},{"id":"371d8db3.d97a52","type":"debug","z":"55a9dafd.794544","name":"dbprepLightUI","active":false,"console":"false","complete":"true","x":552.7639007568359,"y":92.9930419921875,"wires":[]},{"id":"3ab723e9.d0ac7c","type":"function","z":"55a9dafd.794544","name":"TestChartDB","func":"var tuple = [];\nvar values = [];\nvar form = [];\nfor (i=0;i<msg.payload.length;i++) {\n    tuple=[msg.payload[i].time,msg.payload[i].value];\n    values[i] = tuple;\n}\nkey=\"LL\";\nform = [{key,values}];\nmsg.payload=form;\nmsg.topic=\"LL\";\nreturn msg;","outputs":1,"noerr":0,"x":775.7546577453613,"y":84.49307250976562,"wires":[["3daf2990.9975a6","6d6b401d.e07b6"]]},{"id":"3daf2990.9975a6","type":"debug","z":"55a9dafd.794544","name":"dbToChart","active":false,"console":"false","complete":"true","x":971.7546577453613,"y":85.3240966796875,"wires":[]},{"id":"6d6b401d.e07b6","type":"ui_chart","z":"55a9dafd.794544","name":"Light Level Chart","group":"394970e8.eeb7b","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Light Level","ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"150","removeOlderUnit":"3600","cutout":0,"x":790.2661895751953,"y":126.28240203857422,"wires":[[],[]]},{"id":"4fbf6444.e14a2c","type":"function","z":"55a9dafd.794544","name":"PrepLLLastheard","func":"time=new Date();\nvar lh = context.get('llalastheard') || time;\ncontext.set('llalastheard',lh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-lh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-lh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-lh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-lh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-lh) > 3600000) {\nmsg.payload = lh;\n}\nif (msg.topic != \"checking\") {\n    context.set('llalastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.7568817138672,"y":142.63194274902344,"wires":[["98b3b2d1.28fc1"]]},{"id":"98b3b2d1.28fc1","type":"ui_template","z":"55a9dafd.794544","group":"cb22e126.4c3cb","name":"LLLastheardText","order":6,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Light last heard at </p></p>\n    <div ng-bind-html=\"msg.payload\"></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":781.2661590576172,"y":211.2824249267578,"wires":[[]]},{"id":"cc50af04.ab485","type":"ui_gauge","z":"55a9dafd.794544","name":"KitchenPIRBattery","group":"cb22e126.4c3cb","order":2,"width":"3","height":"3","gtype":"wave","title":"Kitchen PIR Battery","label":"v","format":"{{value}}","min":"2","max":"3.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":782.8333053588867,"y":299.66663360595703,"wires":[]},{"id":"20e85a2d.859d36","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":5,"width":0,"height":0,"name":"KitchenPIRLastHeard","label":"PIR last heard at ","format":"{{msg.payload}}","layout":"row-spread","x":791.8333053588867,"y":338.3333206176758,"wires":[]},{"id":"407e4c93.2e14f4","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":3,"width":0,"height":0,"name":"KitchenPIRStatus","label":"PIR is ","format":"{{msg.payload}}","layout":"row-spread","x":783.8333053588867,"y":261.3333206176758,"wires":[]},{"id":"a050a835.94bd28","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":4,"width":0,"height":0,"name":"KitchenRelayStatus","label":"Relay is ","format":"{{msg.payload}}","layout":"row-spread","x":784.8333129882812,"y":397.3332977294922,"wires":[]},{"id":"29a2adf0.40f8c2","type":"mqtt in","z":"55a9dafd.794544","name":"mqttReceived","topic":"PiForLiam/Received/#","qos":"2","broker":"1f3f30a6.6a314f","x":80.83332824707031,"y":61.000030517578125,"wires":[["575c3195.9910a","5f48063f.ec2d78"]]},{"id":"575c3195.9910a","type":"switch","z":"55a9dafd.794544","name":"SwitchDevice","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PiForLiam/Received/LL","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KP","vt":"str"},{"t":"eq","v":"PiForLiam/Received/KL","vt":"str"}],"checkall":"true","outputs":3,"x":304.83331298828125,"y":61.666656494140625,"wires":[["96fe782d.da11a8"],["86ded4b0.3edf88"],["9b1284f0.18a0a8"]]},{"id":"86ded4b0.3edf88","type":"function","z":"55a9dafd.794544","name":"prepPIRUI","func":"if (msg.payload ==\"BUTTONAON\") {\n    msg.payload = \"ON\"\n    return [msg,null];\n}\nif (msg.payload ==\"BUTTONAOF\") {\n    msg.payload = \"OFF\"\n    return [msg,null];\n}\nif (msg.payload.slice(0,4)==\"BATT\") {\n    value=msg.payload.slice(4,8);\n    msg.payload=value;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":544.8333435058594,"y":254.33331298828125,"wires":[["a66448fb.bd1fc8","664a8695.0f25a8","407e4c93.2e14f4"],["a66448fb.bd1fc8","664a8695.0f25a8","cc50af04.ab485"]]},{"id":"a66448fb.bd1fc8","type":"debug","z":"55a9dafd.794544","name":"dbPrepPIRUI","active":false,"console":"false","complete":"payload","x":542.8333435058594,"y":294.33331298828125,"wires":[]},{"id":"664a8695.0f25a8","type":"function","z":"55a9dafd.794544","name":"prepPIRLastHeard","func":"time=new Date();\nvar ph = context.get('kpalastheard') || time;\ncontext.set('kpalastheard',ph);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-ph) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-ph) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-ph) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-ph) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-ph) > 3600000) {\nmsg.payload = ph;\n}\nif (msg.topic != \"checking\") {\n    context.set('kpalastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.8901062011719,"y":338.40909576416016,"wires":[["20e85a2d.859d36"]]},{"id":"7c7d2c7e.7b0754","type":"ui_text","z":"55a9dafd.794544","group":"cb22e126.4c3cb","order":7,"width":0,"height":0,"name":"KitchenRelayLastHeard","label":"Relay last heard at","format":"{{msg.payload}}","layout":"row-spread","x":807.8957443237305,"y":482.348445892334,"wires":[]},{"id":"9b1284f0.18a0a8","type":"function","z":"55a9dafd.794544","name":"prepRelayUI","func":"if (msg.payload ==\"RELAYAON-\") {\n    msg.payload = \"ON\"\n    return msg;\n}\nif (msg.payload ==\"RELAYAOFF\") {\n    msg.payload = \"OFF\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":541.5795288085938,"y":397.7878723144531,"wires":[["e9ae6a6b.6ff6d8","36263dcb.ef15a2","a050a835.94bd28"]]},{"id":"e9ae6a6b.6ff6d8","type":"debug","z":"55a9dafd.794544","name":"dbPrepRelayUI","active":false,"console":"false","complete":"payload","x":549.5795288085938,"y":437.7878723144531,"wires":[]},{"id":"36263dcb.ef15a2","type":"function","z":"55a9dafd.794544","name":"prepRelayLastHeard","func":"time=new Date();\nvar rh = context.get('klalastheard') || time;\ncontext.set('klalastheard',rh);\n//msg.payload = \"<p style='color:white;'> \" + lh + \"</p>\";\nif ((time-rh) <= 60000) {\nmsg.payload = \"it's been less than 1 minute\";\n}\nif ((time-rh) > 60000) {\nmsg.payload = \"it's been over 1 minute\";\n}\nif ((time-rh) > 300000) {\nmsg.payload = \"it's been over 5 minutes\";\n}\nif ((time-rh) > 600000) {\nmsg.payload = \"it's been over 10 minutes\";\n}\nif ((time-rh) > 3600000) {\nmsg.payload = rh;\n}\nif (msg.topic != \"checking\") {\n    context.set('klalastheard',time);\n}\nreturn msg;","outputs":1,"noerr":0,"x":565.6362915039062,"y":481.86365509033203,"wires":[["7c7d2c7e.7b0754"]]},{"id":"56ab6a31.a77024","type":"inject","z":"55a9dafd.794544","name":"inCheckRelay","topic":"","payload":"aKLRELAYA---","payloadType":"str","repeat":"60","crontab":"","once":false,"x":105.71589660644531,"y":205.76512908935547,"wires":[["4ec875ed.0ba1ec"]]},{"id":"4ec875ed.0ba1ec","type":"mqtt out","z":"55a9dafd.794544","name":"mqttCheckKitchenRelay","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"1f3f30a6.6a314f","x":311.71209716796875,"y":206.13257598876953,"wires":[]},{"id":"5f48063f.ec2d78","type":"debug","z":"55a9dafd.794544","name":"dbMQTTReceivedUI","active":false,"console":"false","complete":"true","x":274.710205078125,"y":115.78218841552734,"wires":[]},{"id":"c78f4d27.40b08","type":"inject","z":"55a9dafd.794544","name":"CheckLastHeard","topic":"checking","payload":"","payloadType":"date","repeat":"66","crontab":"","once":false,"x":276.710205078125,"y":337.52269744873047,"wires":[["4fbf6444.e14a2c","664a8695.0f25a8","36263dcb.ef15a2"]]},{"id":"640f6c47.84f3a4","type":"comment","z":"55a9dafd.794544","name":"sqlite","info":"","x":770,"y":40,"wires":[]},{"id":"830a027a.a9c4d","type":"ui_switch","z":"55a9dafd.794544","name":"Mote Lights","label":"Motes","group":"816877db.4f1978","order":0,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"PiforLiam/motephat","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":393,"y":560,"wires":[["a8cca064.9996c"]]},{"id":"a8cca064.9996c","type":"mqtt out","z":"55a9dafd.794544","name":"mqttMoteLightsOutButton","topic":"PiforLiam/motephat","qos":"","retain":"","broker":"f99ada80.47b138","x":610,"y":560,"wires":[]},{"id":"fb7679ed.a9ea38","type":"mqtt in","z":"55a9dafd.794544","name":"mqttMoteLightsInButton","topic":"PiforLiam/motephat","qos":"2","broker":"f99ada80.47b138","x":160,"y":560,"wires":[["830a027a.a9c4d"]]},{"id":"4d141204.bd992c","type":"mqtt in","z":"55a9dafd.794544","name":"mqttKitchenLightsButton","topic":"PiForLiam/Received/KL","qos":"2","broker":"f99ada80.47b138","x":110,"y":620,"wires":[["ea6eec0f.8695e"]]},{"id":"493114ef.ddb93c","type":"ui_switch","z":"55a9dafd.794544","name":"Kitchen Lights","label":"Kitchen","group":"816877db.4f1978","order":0,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":520,"y":620,"wires":[["7f43a411.a11a4c"]]},{"id":"7f43a411.a11a4c","type":"function","z":"55a9dafd.794544","name":"toggleKitchenLights","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\nif (msg.payload == \"on\") {\n    msg1.payload=\"aKLRELAYAON-\";\n    msg2.payload=\"BUTTONAON\";\n}\nif (msg.payload == \"off\") {\n    msg1.payload=\"aKLRELAYAOFF\";\n    msg2.payload=\"BUTTONAOF\";\n}\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":730,"y":620,"wires":[["c9a35854.46f1a8"],["67a34a97.6c2f44"]]},{"id":"c9a35854.46f1a8","type":"mqtt out","z":"55a9dafd.794544","name":"mqttKitchenLights","topic":"PiForLiam/Transmit","qos":"2","retain":"","broker":"f99ada80.47b138","x":970,"y":580,"wires":[]},{"id":"67a34a97.6c2f44","type":"mqtt out","z":"55a9dafd.794544","name":"mqttTogglePIR","topic":"PiForLiam/Received/KP","qos":"2","retain":"","broker":"f99ada80.47b138","x":959,"y":660,"wires":[]},{"id":"ea6eec0f.8695e","type":"function","z":"55a9dafd.794544","name":"prepKitchenButton","func":"if (msg.payload==\"RELAYAON-\"){\n    msg.payload=\"on\";\n}\nif (msg.payload==\"RELAYAOFF\") {\n    msg.payload=\"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["493114ef.ddb93c"]]},{"id":"490c29cd.63e138","type":"ui_switch","z":"55a9dafd.794544","name":"Sonoff1Button","label":"Tetris","group":"816877db.4f1978","order":0,"width":"2","height":"2","passthru":false,"decouple":"false","topic":"/Sonoff1/gpio/12","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":390,"y":682,"wires":[["46bdbf4c.dabb8","f07dd353.1e155"]]},{"id":"46bdbf4c.dabb8","type":"mqtt out","z":"55a9dafd.794544","name":"mqttSonoff1ButtonOut","topic":"/Sonoff1/gpio/12","qos":"2","retain":"","broker":"f99ada80.47b138","x":610,"y":683,"wires":[]},{"id":"f07dd353.1e155","type":"debug","z":"55a9dafd.794544","name":"debugTetris","active":true,"console":"false","complete":"true","x":560,"y":760,"wires":[]},{"id":"cb22e126.4c3cb","type":"ui_group","z":"","name":"Status","tab":"a9d48c88.3304d","order":1,"disp":true,"width":"10"},{"id":"394970e8.eeb7b","type":"ui_group","z":"","name":"Light Levels","tab":"a9d48c88.3304d","order":2,"disp":true,"width":"10"},{"id":"1f3f30a6.6a314f","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"816877db.4f1978","type":"ui_group","z":"","name":"Control","tab":"a9d48c88.3304d","order":3,"disp":true,"width":"10"},{"id":"f99ada80.47b138","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a9d48c88.3304d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
