Zigbee Temps
[{"id":"e250bef7.8e1b7","type":"tab","label":"ZigbeeTemps","disabled":false,"info":""},{"id":"7b80f4e9.5d592c","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMFrontBedroomReceived","topic":"zigbee2mqtt/Front Bedroom/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":200,"y":420,"wires":[["300be003.b77a7","4d81a6d6.f0b538"]]},{"id":"300be003.b77a7","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMFrontBedroom","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":460,"wires":[]},{"id":"b3372bf1.c4fe78","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMAtticReceived","topic":"zigbee2mqtt/Attic/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":500,"wires":[["c3ae2681.61ab58","267c9427.51915c"]]},{"id":"c3ae2681.61ab58","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMAttic","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":540,"wires":[]},{"id":"126684c6.ecfd0b","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMShackReceived","topic":"zigbee2mqtt/Shack/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":580,"wires":[["cfadee3c.fa9b4","ed1b0fd9.6b196"]]},{"id":"cfadee3c.fa9b4","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMShack","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":620,"wires":[]},{"id":"6abea76f.8087d8","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMGarageReceived","topic":"zigbee2mqtt/Garage/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":660,"wires":[["ffb938b5.548da8","41c847f3.98bfc8"]]},{"id":"ffb938b5.548da8","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMGarage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":700,"wires":[]},{"id":"4000ebaa.ce7ca4","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMOutsideReceived","topic":"zigbee2mqtt/Outside/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":740,"wires":[["c3ab38f8.61bd18","6cfb66e0.2afe68"]]},{"id":"c3ab38f8.61bd18","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMOutside","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":780,"wires":[]},{"id":"c5bbd28c.5ac4a","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMMotion1Received","topic":"zigbee2mqtt/Motion 1","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":180,"y":840,"wires":[["23e2f44c.c0570c"]]},{"id":"23e2f44c.c0570c","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMMotion1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":840,"wires":[]},{"id":"bf1b6eb2.c55b3","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMMotion2Received","topic":"zigbee2mqtt/Motion 2","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":180,"y":880,"wires":[["409b35b9.8526ec"]]},{"id":"409b35b9.8526ec","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMMotion2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":880,"wires":[]},{"id":"df52d134.3aa36","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMLivingReceived","topic":"zigbee2mqtt/Living/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":20,"wires":[["8566c8b4.032cc8","b7acecca.6363a"]]},{"id":"8566c8b4.032cc8","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMLiving","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":60,"wires":[]},{"id":"c1b85fcd.78b1f","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMKitchenReceived","topic":"zigbee2mqtt/Kitchen/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":100,"wires":[["693c4a5c.5cc2a4","f19f110.e9f1ff"]]},{"id":"693c4a5c.5cc2a4","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMKitchen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"13583178.a5893f","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMHallReceived","topic":"zigbee2mqtt/Hall/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":160,"y":180,"wires":[["d0ed8955.42b108","92fbe2a5.d6ce"]]},{"id":"d0ed8955.42b108","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMHall","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"c41c640f.8f5f18","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMOfficeReceived","topic":"zigbee2mqtt/Office/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":170,"y":260,"wires":[["ed0a5df4.0a6b6","8d736bbe.6866c8"]]},{"id":"ed0a5df4.0a6b6","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMOffice","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"5fe0f2ee.8dde4c","type":"mqtt in","z":"e250bef7.8e1b7","name":"ZtMBackBedroomReceived","topic":"zigbee2mqtt/Back Bedroom/#","qos":"2","datatype":"auto","broker":"15b941ac.36365e","x":190,"y":340,"wires":[["91ee9246.76d9e","286e5678.4ea3da"]]},{"id":"91ee9246.76d9e","type":"debug","z":"e250bef7.8e1b7","name":"dbZtMBackBedroom","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":380,"wires":[]},{"id":"b7acecca.6363a","type":"json","z":"e250bef7.8e1b7","name":"LivingJSON","property":"payload","action":"","pretty":false,"x":430,"y":20,"wires":[["132fae43.da99e2"]]},{"id":"55d63bce.36c4f4","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbLivingHumiditytLevel","measurement":"ZigbeeToMQTT/Living/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":20,"wires":[]},{"id":"49b998e4.0f5b48","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbLivingTemptLevel","measurement":"ZigbeeToMQTT/Living/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":60,"wires":[]},{"id":"f19f110.e9f1ff","type":"json","z":"e250bef7.8e1b7","name":"KitchenJSON","property":"payload","action":"","pretty":false,"x":440,"y":100,"wires":[["97770cc7.d3599"]]},{"id":"a12938dc.482848","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbKitchenHumiditytLevel","measurement":"ZigbeeToMQTT/Kitchen/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":100,"wires":[]},{"id":"9e7b99f9.8eb2c8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbKitchenTemptLevel","measurement":"ZigbeeToMQTT/Kitchen/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":140,"wires":[]},{"id":"92fbe2a5.d6ce","type":"json","z":"e250bef7.8e1b7","name":"HallJSON","property":"payload","action":"","pretty":false,"x":420,"y":180,"wires":[["383c3930.997766"]]},{"id":"6de8f959.d235a8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbHallHumiditytLevel","measurement":"ZigbeeToMQTT/Hall/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":180,"wires":[]},{"id":"ebdf59ab.1db858","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbHallTemptLevel","measurement":"ZigbeeToMQTT/Hall/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":890,"y":220,"wires":[]},{"id":"8d736bbe.6866c8","type":"json","z":"e250bef7.8e1b7","name":"OfficeJSON","property":"payload","action":"","pretty":false,"x":430,"y":260,"wires":[["2be57796.336148"]]},{"id":"ca5d9cb9.50c9c","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOfficeHumiditytLevel","measurement":"ZigbeeToMQTT/Office/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":260,"wires":[]},{"id":"43b24925.5572c8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOfficeTemptLevel","measurement":"ZigbeeToMQTT/Office/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":300,"wires":[]},{"id":"286e5678.4ea3da","type":"json","z":"e250bef7.8e1b7","name":"BackBedroomJSON","property":"payload","action":"","pretty":false,"x":460,"y":340,"wires":[["298644b3.953c9c"]]},{"id":"e3fdf8b5.5ec828","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbBackBedroomHumiditytLevel","measurement":"ZigbeeToMQTT/BackBedroom/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":340,"wires":[]},{"id":"d59b314e.d328c","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbBackBedroomTemptLevel","measurement":"ZigbeeToMQTT/BackBedroom/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":380,"wires":[]},{"id":"4d81a6d6.f0b538","type":"json","z":"e250bef7.8e1b7","name":"FrontBedroomJSON","property":"payload","action":"","pretty":false,"x":460,"y":420,"wires":[["5b51edf1.996bc4"]]},{"id":"28027015.ba77","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbFrontBedroomHumiditytLevel","measurement":"ZigbeeToMQTT/FrontBedroom/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":420,"wires":[]},{"id":"4f992611.838428","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbFrontBedroomTemptLevel","measurement":"ZigbeeToMQTT/FrontBedroom/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":460,"wires":[]},{"id":"267c9427.51915c","type":"json","z":"e250bef7.8e1b7","name":"AtticJSON","property":"payload","action":"","pretty":false,"x":430,"y":500,"wires":[["ce3baae6.d9b448"]]},{"id":"bca0df2a.14e46","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbAtticHumiditytLevel","measurement":"ZigbeeToMQTT/Attic/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":500,"wires":[]},{"id":"a5ebc62f.59d008","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbAtticTemptLevel","measurement":"ZigbeeToMQTT/Attic/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":890,"y":540,"wires":[]},{"id":"ed1b0fd9.6b196","type":"json","z":"e250bef7.8e1b7","name":"ShackJSON","property":"payload","action":"","pretty":false,"x":430,"y":580,"wires":[["fa49f221.8c209"]]},{"id":"8ca5356c.a55f08","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbShackHumiditytLevel","measurement":"ZigbeeToMQTT/Shack/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":580,"wires":[]},{"id":"401a3a36.eff3c4","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbShackTemptLevel","measurement":"ZigbeeToMQTT/Shack/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":620,"wires":[]},{"id":"41c847f3.98bfc8","type":"json","z":"e250bef7.8e1b7","name":"GarageJSON","property":"payload","action":"","pretty":false,"x":440,"y":660,"wires":[["187245d5.98e30a"]]},{"id":"3c16752.d023e8a","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbGarageHumiditytLevel","measurement":"ZigbeeToMQTT/Garage/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":660,"wires":[]},{"id":"683d0b02.d101b4","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbGarageTemptLevel","measurement":"ZigbeeToMQTT/Garage/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":700,"wires":[]},{"id":"6cfb66e0.2afe68","type":"json","z":"e250bef7.8e1b7","name":"OutsideJSON","property":"payload","action":"","pretty":false,"x":440,"y":740,"wires":[["5f5fb323.9637ac"]]},{"id":"c442d006.73a1f","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOutsideHumiditytLevel","measurement":"ZigbeeToMQTT/Outside/Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":740,"wires":[]},{"id":"c272455b.6298f8","type":"influxdb out","z":"e250bef7.8e1b7","influxdb":"6fbb3a14.e7a9b4","name":"dbOutsideTemptLevel","measurement":"ZigbeeToMQTT/Outside/Temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":900,"y":780,"wires":[]},{"id":"ca96752c.21a898","type":"debug","z":"e250bef7.8e1b7","name":"dbLivingHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":20,"wires":[]},{"id":"bcbbda4b.b290d8","type":"debug","z":"e250bef7.8e1b7","name":"dbLivingTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":60,"wires":[]},{"id":"9cb25a58.16b418","type":"debug","z":"e250bef7.8e1b7","name":"dbKitchenHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":100,"wires":[]},{"id":"67c9a7e5.565ab8","type":"debug","z":"e250bef7.8e1b7","name":"dbKitchenTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":140,"wires":[]},{"id":"edc5d02d.8edaa","type":"debug","z":"e250bef7.8e1b7","name":"dbHallHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":180,"wires":[]},{"id":"6217b7d0.d4f288","type":"debug","z":"e250bef7.8e1b7","name":"dbHallTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":220,"wires":[]},{"id":"e01940df.b6a86","type":"debug","z":"e250bef7.8e1b7","name":"dbOfficeHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"73f377e4.879028","type":"debug","z":"e250bef7.8e1b7","name":"dbOfficeTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":300,"wires":[]},{"id":"4015f623.1bf4f8","type":"debug","z":"e250bef7.8e1b7","name":"dbBackBedroomHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":340,"wires":[]},{"id":"eb7c9fa2.0676b","type":"debug","z":"e250bef7.8e1b7","name":"dbBackBedroomTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":380,"wires":[]},{"id":"82d05053.f0086","type":"debug","z":"e250bef7.8e1b7","name":"dbFrontBedrromHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":420,"wires":[]},{"id":"9c07e5eb.ba35e8","type":"debug","z":"e250bef7.8e1b7","name":"dbFrontBedrromTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":460,"wires":[]},{"id":"63dea604.b09748","type":"debug","z":"e250bef7.8e1b7","name":"dbAtticHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":500,"wires":[]},{"id":"f05b0adc.bcf8f8","type":"debug","z":"e250bef7.8e1b7","name":"dbAtticTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":540,"wires":[]},{"id":"1805f6d.ccac709","type":"debug","z":"e250bef7.8e1b7","name":"dbShackHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":580,"wires":[]},{"id":"c1fc1e87.9d163","type":"debug","z":"e250bef7.8e1b7","name":"dbShackTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":620,"wires":[]},{"id":"c57b040a.48d0c8","type":"debug","z":"e250bef7.8e1b7","name":"dbGarageHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":660,"wires":[]},{"id":"aa5e6b5e.0888d8","type":"debug","z":"e250bef7.8e1b7","name":"dbGarageTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":700,"wires":[]},{"id":"d613f80f.1b73a8","type":"debug","z":"e250bef7.8e1b7","name":"dbOutsideHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":740,"wires":[]},{"id":"e5d3aa92.04a478","type":"debug","z":"e250bef7.8e1b7","name":"dbOutsideTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":780,"wires":[]},{"id":"132fae43.da99e2","type":"function","z":"e250bef7.8e1b7","name":"LivingConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":20,"wires":[["ca96752c.21a898","55d63bce.36c4f4"],["bcbbda4b.b290d8","49b998e4.0f5b48"]]},{"id":"97770cc7.d3599","type":"function","z":"e250bef7.8e1b7","name":"KitchenConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":100,"wires":[["9cb25a58.16b418","a12938dc.482848"],["67c9a7e5.565ab8","9e7b99f9.8eb2c8"]]},{"id":"383c3930.997766","type":"function","z":"e250bef7.8e1b7","name":"HallConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":180,"wires":[["edc5d02d.8edaa","6de8f959.d235a8"],["6217b7d0.d4f288","ebdf59ab.1db858"]]},{"id":"2be57796.336148","type":"function","z":"e250bef7.8e1b7","name":"OfficeConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":260,"wires":[["e01940df.b6a86","ca5d9cb9.50c9c"],["73f377e4.879028","43b24925.5572c8"]]},{"id":"298644b3.953c9c","type":"function","z":"e250bef7.8e1b7","name":"BackBedroomConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":340,"wires":[["4015f623.1bf4f8","e3fdf8b5.5ec828"],["eb7c9fa2.0676b","d59b314e.d328c"]]},{"id":"5b51edf1.996bc4","type":"function","z":"e250bef7.8e1b7","name":"FrontBedroomConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["82d05053.f0086","28027015.ba77"],["9c07e5eb.ba35e8","4f992611.838428"]]},{"id":"ce3baae6.d9b448","type":"function","z":"e250bef7.8e1b7","name":"AtticConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":500,"wires":[["63dea604.b09748","bca0df2a.14e46"],["f05b0adc.bcf8f8","a5ebc62f.59d008"]]},{"id":"fa49f221.8c209","type":"function","z":"e250bef7.8e1b7","name":"ShackConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":580,"wires":[["1805f6d.ccac709","8ca5356c.a55f08"],["c1fc1e87.9d163","401a3a36.eff3c4"]]},{"id":"187245d5.98e30a","type":"function","z":"e250bef7.8e1b7","name":"GarageConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":660,"wires":[["c57b040a.48d0c8","3c16752.d023e8a"],["aa5e6b5e.0888d8","683d0b02.d101b4"]]},{"id":"5f5fb323.9637ac","type":"function","z":"e250bef7.8e1b7","name":"OutsideConvert","func":"var msg1 = { payload: \"kats\"};\nvar msg2 = { payload: \"dogz\"};\n\nmsg1.payload=msg.payload.humidity;\nmsg2.payload=msg.payload.temperature;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":740,"wires":[["d613f80f.1b73a8","c442d006.73a1f"],["e5d3aa92.04a478","c272455b.6298f8"]]},{"id":"15b941ac.36365e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6fbb3a14.e7a9b4","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"InfluxDBsensors","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]
